<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header id="sub-header" class="header">
    <div class="header-inner container">
        <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="logo" style="padding: 0px 0px 12px;">
                    <a href="/">
                        <?xml version="1.0" encoding="utf-8"?>
                        <svg version="1.1" id="레이어_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                             y="0px" viewBox="0 0 88 25" style="width: 150px" xml:space="preserve">
                                    <style type="text/css">
                                        .st0{fill:none;}
                                        .st1{stroke:#000000;stroke-width:0.25;stroke-miterlimit:10;}
                                        .st2{font-family:'BerlinSansFBDemi-Bold';}
                                        .st3{font-size:14px;}
                                    </style>
                            <rect class="st0" width="88" height="25"/>
                            <text transform="matrix(1 0 0 1 1.647 18.3975)" class="st1 st2 st3">Travel Maker</text>
                            </svg>
                    </a>
                    <a href="/informations/main">
                        <img src="//theme.zdassets.com/theme_assets/9309779/e5142629ce02b25eae55476f21e3ad5525958812.png"
                             alt="고객센터로고" id="heder_logo_image">
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
</body>
</html>