<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header id="sub-header" class="header">
    <div class="header-inner container">
        <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="logo" style="padding: 0px 0px 12px;">
                    <a href="/">
                        <img src="//theme.zdassets.com/theme_assets/9309779/480a35976bf401a88dd7388d8f5c19d77227cd35.png"
                             alt="원티드로고" id="heder_logo_image">
                    </a>
                    <a href="/informations/main">
                        <img src="//theme.zdassets.com/theme_assets/9309779/e5142629ce02b25eae55476f21e3ad5525958812.png"
                             alt="고객센터로고" id="heder_logo_image">
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
</body>
</html>