<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header id="main-header" class="header">
    <div class="header-inner container clearfix">
        <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="logo">
                    <a href="/">
                        <img src="//theme.zdassets.com/theme_assets/9309779/480a35976bf401a88dd7388d8f5c19d77227cd35.png"
                             alt="원티드로고" id="heder_logo_image">
                    </a>
                    <a href="/informations/main">
                        <img src="//theme.zdassets.com/theme_assets/9309779/e5142629ce02b25eae55476f21e3ad5525958812.png"
                             alt="고객센터로고" id="heder_logo_image">
                    </a>
                </div>
            </div>
            <div class="col-md-9 col-sm-8 col-xs-12" id="header-request-btn">
                <nav class="primary-menu menu">
                    <div class="container-menu">
                        <div class="row">
                            <div class="navbar-collapse navbar-mind-collapse main-menu collapse pull-right"
                                 style="padding-right: 13px;">
                                <ul id="drophover" class="nav navbar-nav primary-menu-list-wrap">
                                    <li style="border:1px solid #f5f5f5;border-radius:30px;text-align: center;background-color:#3366FF">
                                        <a href="/informations/inquiry/write"
                                           style="padding:11px 40px 10px 40px;color: #FFFFFF !important;font-weight: 600;">
                                            문의·신고
                                            <img src="/images/information/문의신고버튼.png"
                                                 alt="requests_icon">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
</body>
</html>