<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleag.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/main/main.css">
    <link rel="stylesheet" href="/css/header/header.css">
    <link rel="stylesheet" href="/css/footer/footer.css">
    <title>Document</title>
</head>
<body>
    <main>
        <div th:replace="~{header/header :: #header}"></div>
        <section class="section">
            <div class="top-banner">
                <button class="top-banner-prev-button">
                        <span>
                            <svg class="top-banner-prev-svg-icon" viewBox="0 0 18 18">
                                <path d="m6.045 9 5.978-5.977a.563.563 0 1 0-.796-.796L4.852 8.602a.562.562 0 0 0 0 .796l6.375 6.375a.563.563 0 0 0 .796-.796L6.045 9z"></path>
                            </svg>
                        </span>
                </button>
                <div class="banner-list">
                    <div id="last-temp" class="banner-wrap">
                        <div class="image">
                            <a href="https://www.wanted.co.kr/themes/babyunicorn">
                                <img src="https://image.wanted.co.kr/optimize?src=https%3A%2F%2Fstatic.wanted.co.kr%2Fimages%2Fbanners%2F2059%2F24c52879.jpg&w=1060&q=100">
                            </a>
                        </div>
                        <div class="image-info">
                            <h2>2023 아기 유니콘 기업</h2>
                            <h3>글로벌 기업 성장성을 인정받아 적극 채용 중</h3>
                            <hr class="divider">
                            <a href="https://www.wanted.co.kr/themes/babyunicorn">
                                <span class="direct-button-label">바로가기
                                    <span class="direct-arrow-icon">
                                        <span class="arrow-img">
                                            <svg viewBox="0 0 18 18">
                                                <path d="m11.955 9-5.978 5.977a.563.563 0 0 0 .796.796l6.375-6.375a.563.563 0 0 0 0-.796L6.773 2.227a.562.562 0 1 0-.796.796L11.955 9z"></path>
                                            </svg>
                                        </span>
                                    </span>
                                </span>
                                <span class="button-interaction"></span>
                            </a>
                        </div>
                    </div>
                    <div class="banner-wrap">
                        <div class="image">
                            <a href="https://www.wanted.co.kr/themes/babyunicorn">
                                <img src="https://image.wanted.co.kr/optimize?src=https%3A%2F%2Fstatic.wanted.co.kr%2Fimages%2Fbanners%2F2059%2F24c52879.jpg&w=1060&q=100">
                            </a>
                        </div>
                        <div class="image-info">
                            <h2>2023 아기 유니콘 기업</h2>
                            <h3>글로벌 기업 성장성을 인정받아 적극 채용 중</h3>
                            <hr class="divider">
                            <a href="https://www.wanted.co.kr/themes/babyunicorn">
                                <span class="direct-button-label">바로가기
                                    <span class="direct-arrow-icon">
                                        <span class="arrow-img">
                                            <svg viewBox="0 0 18 18">
                                                <path d="m11.955 9-5.978 5.977a.563.563 0 0 0 .796.796l6.375-6.375a.563.563 0 0 0 0-.796L6.773 2.227a.562.562 0 1 0-.796.796L11.955 9z"></path>
                                            </svg>
                                        </span>
                                    </span>
                                </span>
                                <span class="button-interaction"></span>
                            </a>
                        </div>
                    </div>
                    <div class="banner-wrap">
                        <div class="image">
                            <a href="https://www.wanted.co.kr/themes/babyunicorn">
                                <img src="https://image.wanted.co.kr/optimize?src=https%3A%2F%2Fstatic.wanted.co.kr%2Fimages%2Fbanners%2F2059%2F24c52879.jpg&w=1060&q=100">
                            </a>
                        </div>
                        <div class="image-info">
                            <h2>2023 아기 유니콘 기업</h2>
                            <h3>글로벌 기업 성장성을 인정받아 적극 채용 중</h3>
                            <hr class="divider">
                            <a href="https://www.wanted.co.kr/themes/babyunicorn">
                                <span class="direct-button-label">바로가기
                                    <span class="direct-arrow-icon">
                                        <span class="arrow-img">
                                            <svg viewBox="0 0 18 18">
                                                <path d="m11.955 9-5.978 5.977a.563.563 0 0 0 .796.796l6.375-6.375a.563.563 0 0 0 0-.796L6.773 2.227a.562.562 0 1 0-.796.796L11.955 9z"></path>
                                            </svg>
                                        </span>
                                    </span>
                                </span>
                                <span class="button-interaction"></span>
                            </a>
                        </div>
                    </div>
                    <div class="banner-wrap">
                        <div class="image">
                            <a href="https://www.wanted.co.kr/themes/babyunicorn">
                                <img src="https://image.wanted.co.kr/optimize?src=https%3A%2F%2Fstatic.wanted.co.kr%2Fimages%2Fbanners%2F2059%2F24c52879.jpg&w=1060&q=100">
                            </a>
                        </div>
                        <div class="image-info">
                            <h2>2023 아기 유니콘 기업</h2>
                            <h3>글로벌 기업 성장성을 인정받아 적극 채용 중</h3>
                            <hr class="divider">
                            <a href="https://www.wanted.co.kr/themes/babyunicorn">
                                <span class="direct-button-label">바로가기
                                    <span class="direct-arrow-icon">
                                        <span class="arrow-img">
                                            <svg viewBox="0 0 18 18">
                                                <path d="m11.955 9-5.978 5.977a.563.563 0 0 0 .796.796l6.375-6.375a.563.563 0 0 0 0-.796L6.773 2.227a.562.562 0 1 0-.796.796L11.955 9z"></path>
                                            </svg>
                                        </span>
                                    </span>
                                </span>
                                <span class="button-interaction"></span>
                            </a>
                        </div>
                    </div>
                    <div id="first-temp" class="banner-wrap">
                        <div class="image">
                            <a href="https://www.wanted.co.kr/themes/babyunicorn">
                                <img src="https://image.wanted.co.kr/optimize?src=https%3A%2F%2Fstatic.wanted.co.kr%2Fimages%2Fbanners%2F2059%2F24c52879.jpg&w=1060&q=100">
                            </a>
                        </div>
                        <div class="image-info">
                            <h2>2023 아기 유니콘 기업</h2>
                            <h3>글로벌 기업 성장성을 인정받아 적극 채용 중</h3>
                            <hr class="divider">
                            <a href="https://www.wanted.co.kr/themes/babyunicorn">
                                <span class="direct-button-label">바로가기
                                    <span class="direct-arrow-icon">
                                        <span class="arrow-img">
                                            <svg viewBox="0 0 18 18">
                                                <path d="m11.955 9-5.978 5.977a.563.563 0 0 0 .796.796l6.375-6.375a.563.563 0 0 0 0-.796L6.773 2.227a.562.562 0 1 0-.796.796L11.955 9z"></path>
                                            </svg>
                                        </span>
                                    </span>
                                </span>
                                <span class="button-interaction"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <button class="top-banner-next-button">
                    <span>
                        <svg class="top-banner-next-svg-icon" viewBox="0 0 18 18">
                            <path d="m11.955 9-5.978 5.977a.563.563 0 0 0 .796.796l6.375-6.375a.563.563 0 0 0 0-.796L6.773 2.227a.562.562 0 1 0-.796.796L11.955 9z"></path>
                        </svg>
                    </span>
                </button>
            </div>
            <aside class="search-banner">
                <a href="https://www.wanted.co.kr/wdlist?country=kr&job_sort=company.response_rate_order&years=-1&locations=all">
                    <div class="search-banner-link">
                        <div class="search-banner-content-box">
                            <svg viewBox="0 0 18 18">
                                <path id="qt2dnsql4a" d="M15.727 17.273a.563.563 0 10.796-.796l-4.875-4.875-.19-.165a.563.563 0 00-.764.028 5.063 5.063 0 111.261-2.068.562.562 0 101.073.338 6.188 6.188 0 10-1.943 2.894l4.642 4.644z"></path>
                                <g fill="none" fill-rule="evenodd">
                                    <use fill="#fff" fill-rule="nonzero" stroke="#fff" stroke-width=".3" xlink:href="#qt2dnsql4a"></use>
                                </g>
                            </svg>
                            "테마별 여행지 보러가기"
                        </div>
                    </div>
                </a>
            </aside>
            <article class="above-line-banner">
                <header class="above-line-banner-title-wrapper">
                    <div class="above-line-banner-container">
                        <div class="above-content-wrapper">
                            <div class="content-title-wrap">
                                <img class="logo" src="https://static.wanted.co.kr/images/ai/logo-wantedai.png" alt="">
                                <p class="text">
                                    "가 제안하는"
                                    "합격률 높은 포지션"
                                </p>
                            </div>
                            <p class="content-text">
                                "회원가입 후, 이력서와 포지션 분석을 통해"<br></br>
                                "적합한 포지션을 추천받으세요!"
                            </p>
                        </div>
                        <img src="https://image.wanted.co.kr/optimize?src=https%3A%2F%2Fstatic.wanted.co.kr%2Fimages%2Fhome%2Fai_banner%2Fidentify_people.png&w=486&q=75" alt="">
                        <button type="button" class="content-button">
                            <p class="button-content">지금 시작하기</p>
                        </button>
                    </div>
                </header>
            </article>
            <aside class="under-line-banner">
                <img src="https://static.wanted.co.kr/career_connect/banner-back-pc-jobsfeed.webp">
                <button type="button" class="under-banner-button">
                    <div class="under-banner-content-container">
                        <p>내 연차에 이 연봉 괜찮은가? 궁금할 땐</p>
                        <strong>커리어 중간점검</strong>
                        <img src="https://static.wanted.co.kr/career_connect/gomin.webp" alt="">
                    </div>
                </button>
            </aside>
            <nav class="nav-container">
                <ul class="nav-list">
                    <li>
                        <button type="button" class="nav-button">
                            <span class="nav-button-content">
                                <svg class="nav-button-icon" viewBox="0 0 28 28">
                                    <defs>
                                        <path d="M16.46 12.565c-.631.802-1.025 1.667-1.039 2.59-.02 1.45.793 2.538 2.286 3.154l.116.038c3.487.898 5.788 2.958 5.788 5.03l.014 1.226c0 .026-.194.188-.35.189H4.662c-.136 0-.274-.122-.274-.178l-.014-1.248c0-1.997 2.086-3.93 5.412-4.868a4.468 4.468 0 0 0 1.275-.538c.775-.474 1.316-1.135 1.448-2.014a.875.875 0 0 0-1.731-.259c-.044.292-.256.552-.629.779a2.898 2.898 0 0 1-.795.337c-4.04 1.137-6.73 3.632-6.73 6.573l.014 1.248c0 1.062.965 1.918 2.024 1.918h18.613c1.061-.003 2.099-.871 2.099-1.949l-.014-1.227c0-3.003-2.9-5.612-7.039-6.697-.825-.354-1.16-.816-1.15-1.49.006-.473.248-1.003.663-1.53.272-.346.545-.606.71-.736l.087-.08c1.233-1.29 2.03-3 2.03-4.666 0-3.648-3.053-6.709-6.692-6.709-3.639 0-6.692 3.061-6.692 6.709 0 1.57.443 2.914 1.357 4.048a.875.875 0 1 0 1.363-1.097c-.655-.813-.97-1.768-.97-2.951 0-2.682 2.27-4.959 4.942-4.959s4.941 2.276 4.941 4.959c0 1.162-.587 2.437-1.506 3.417-.258.211-.6.545-.944.981z" id="IconProfileThick-a"></path>
                                    </defs>
                                    <g fill-rule="evenodd">
                                        <mask id="IconProfileThick-b" fill="#fff">
                                            <use xlink:href="#IconProfileThick-a"></use>
                                        </mask>
                                        <use fill-rule="nonzero" xlink:href="#IconProfileThick-a"></use>
                                        <g mask="url(#IconProfileThick-b)">
                                            <path d="M0 0h28v28H0z"></path>
                                        </g>
                                    </g>
                                </svg>
                            </span>
                            내프로필
                        </button>
                    </li>
                    <li>
                        <a href="https://www.wanted.co.kr/matchup/intro/" class="nav-button">
                            <span class="nav-button-content">
                                <svg class="nav-button-icon" viewBox="0 0 28 28">
                                    <defs>
                                        <path d="M10.208 25.083a.875.875 0 0 1-.875-.875v-6.125h-1.75v6.125a.875.875 0 0 1-.875.875H2.042a.875.875 0 0 1-.875-.875V4.375c0-.483.391-.875.875-.875h12.833c.483 0 .875.392.875.875v3.791h9.625c.446 0 .814.334.868.766l.007.11v10.5a.875.875 0 0 1-1.75 0V9.917h-8.75v13.416h9.625a.875.875 0 0 1 0 1.75H10.208zM14 5.25H2.917v18.083h2.916v-6.125c0-.483.392-.875.875-.875h3.5c.484 0 .875.392.875.875v6.125H14V5.25zm4.375 10.792c.644 0 1.167.522 1.167 1.166v1.167a1.167 1.167 0 0 1-2.334 0v-1.167c0-.644.523-1.166 1.167-1.166zm0-4.667c.644 0 1.167.522 1.167 1.167v1.166a1.167 1.167 0 0 1-2.334 0v-1.166c0-.645.523-1.167 1.167-1.167zm-11.5 0a1 1 0 0 1 1 1v1.5a1 1 0 0 1-1 1h-.333a1 1 0 0 1-1-1v-1.5a1 1 0 0 1 1-1h.333zm0-4.667a1 1 0 0 1 1 1v1.5a1 1 0 0 1-1 1h-.333a1 1 0 0 1-1-1v-1.5a1 1 0 0 1 1-1h.333z" id="building-icon-a"></path>
                                    </defs>
                                    <g fill-rule="evenodd">
                                        <mask id="building-icon-b" fill="#fff">
                                            <use xlink:href="#building-icon-a"></use>
                                        </mask>
                                        <use fill-rule="nonzero" xlink:href="#building-icon-a"></use>
                                        <g mask="url(#building-icon-b)">
                                            <path d="M0 0h28v28H0z"></path>
                                        </g>
                                    </g>
                                </svg>
                            </span>
                            매치업
                        </a>
                    </li>
                </ul>
            </nav>
            <article class="company-tag">
                <div class="title-list">
                    <header class="title-list-header">
                        <div class="title-list-wrap">
                            <h2 class="title-list-title">
                                <a href="https://www.wanted.co.kr/wdlist?country=kr&job_sort=company.response_rate_order&years=-1&locations=all">
                                    #수평적 문화
                                    <img src="https://image.wanted.co.kr/optimize?src=https%3A%2F%2Fstatic.wanted.co.kr%2Fimages%2Ftags%2F78563d98-9f6e-11ec-b909-0242ac120002.png&w=75&q=75">
                                </a>
                                <span>회사를 소개합니다</span>
                            </h2>
                            <div class="title-list-more-view-button">
                                <a href="https://www.wanted.co.kr/wdlist?country=kr&job_sort=company.response_rate_order&years=-1&locations=all">
                                    <span>포지션으로 더보기</span>
                                    <span class="title-list-arrow-button">
                                        <svg xmlns="https://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10" fill="none">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M0.34467 8.24802C0.0517767 8.51161 0.0517767 8.93898 0.34467 9.20257C0.637563 9.46617 1.11244 9.46617 1.40533 9.20257L5.65533 5.37773C5.94822 5.11414 5.94822 4.68677 5.65533 4.42317L1.40533 0.59833C1.11244 0.334736 0.637563 0.334736 0.34467 0.59833C0.0517767 0.861923 0.0517767 1.28929 0.34467 1.55288L4.06434 4.90045L0.34467 8.24802Z" fill="currentColor"></path>
                                        </svg>
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div class="title-list-navigation">
                            <button type="button" class="nav-arrow-button">
                                <span class="nav-arrow-icon">
                                    <svg class="nav-arrow-icon-svg" viewBox="0 0 18 18">
                                        <path d="m6.045 9 5.978-5.977a.563.563 0 1 0-.796-.796L4.852 8.602a.562.562 0 0 0 0 .796l6.375 6.375a.563.563 0 0 0 .796-.796L6.045 9z"></path>
                                    </svg>
                                </span>
                            </button>
                            <button type="button" class="nav-arrow-button">
                                <span class="nav-arrow-icon">
                                    <svg class="nav-arrow-icon-svg" viewBox="0 0 18 18">
                                        <path d="m11.955 9-5.978 5.977a.563.563 0 0 0 .796.796l6.375-6.375a.563.563 0 0 0 0-.796L6.773 2.227a.562.562 0 1 0-.796.796L11.955 9z"></path>
                                    </svg>
                                </span>
                            </button>
                        </div>
                    </header>
                    <div class="title-list-slider-container">
                        <div class="title-list-slider">
                            <div class="title-list-slick-list">
                                <div class="title-list-slick-track">
                                    <div class="title-list-slick-slide">
                                        <div class="card-container">
                                            <a href="https://www.wanted.co.kr/company/5927">
                                                <header role="img" style="background-image: url(https://image.wanted.co.kr/optimize?src=https%3A%2F%2Fstatic.wanted.co.kr%2Fimages%2Fcompany%2F5927%2Fhtaulkmxud7zloxe__1080_790.jpg&w=520&q=100);"></header>
                                                <div class="card-body-wrap">
                                                    <div class="card-body-flexbox">
                                                        <div class="card-body-img"></div>
                                                        <div class="card-body-info">
                                                            <p class="card-body-info-title">비바웨이브</p>
                                                            <p class="card-body-info-category">제조</p>
                                                        </div>
                                                    </div>
                                                    <button type="button" class="card-body-button">
                                                        <span class="card-body-button-label">팔로우</span>
                                                        <span class="card-body-button-interaction"></span>
                                                    </button>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="title-list-slick-slide">
                                        <div class="card-container">
                                            <a href="https://www.wanted.co.kr/company/5927">
                                                <header role="img" style="background-image: url(https://image.wanted.co.kr/optimize?src=https%3A%2F%2Fstatic.wanted.co.kr%2Fimages%2Fcompany%2F5927%2Fhtaulkmxud7zloxe__1080_790.jpg&w=520&q=100);"></header>
                                                <div class="card-body-wrap">
                                                    <div class="card-body-flexbox">
                                                        <div class="card-body-img"></div>
                                                        <div class="card-body-info">
                                                            <p class="card-body-info-title">비바웨이브</p>
                                                            <p class="card-body-info-category">제조</p>
                                                        </div>
                                                    </div>
                                                    <button type="button" class="card-body-button">
                                                        <span class="card-body-button-label">팔로우</span>
                                                        <span class="card-body-button-interaction"></span>
                                                    </button>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="title-list-slick-slide">
                                        <div class="card-container">
                                            <a href="https://www.wanted.co.kr/company/5927">
                                                <header role="img" style="background-image: url(https://image.wanted.co.kr/optimize?src=https%3A%2F%2Fstatic.wanted.co.kr%2Fimages%2Fcompany%2F5927%2Fhtaulkmxud7zloxe__1080_790.jpg&w=520&q=100);"></header>
                                                <div class="card-body-wrap">
                                                    <div class="card-body-flexbox">
                                                        <div class="card-body-img"></div>
                                                        <div class="card-body-info">
                                                            <p class="card-body-info-title">비바웨이브</p>
                                                            <p class="card-body-info-category">제조</p>
                                                        </div>
                                                    </div>
                                                    <button type="button" class="card-body-button">
                                                        <span class="card-body-button-label">팔로우</span>
                                                        <span class="card-body-button-interaction"></span>
                                                    </button>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="title-list-slick-slide">
                                        <div class="card-container">
                                            <a href="https://www.wanted.co.kr/company/5927">
                                                <header role="img" style="background-image: url(https://image.wanted.co.kr/optimize?src=https%3A%2F%2Fstatic.wanted.co.kr%2Fimages%2Fcompany%2F5927%2Fhtaulkmxud7zloxe__1080_790.jpg&w=520&q=100);"></header>
                                                <div class="card-body-wrap">
                                                    <div class="card-body-flexbox">
                                                        <div class="card-body-img"></div>
                                                        <div class="card-body-info">
                                                            <p class="card-body-info-title">비바웨이브</p>
                                                            <p class="card-body-info-category">제조</p>
                                                        </div>
                                                    </div>
                                                    <button type="button" class="card-body-button">
                                                        <span class="card-body-button-label">팔로우</span>
                                                        <span class="card-body-button-interaction"></span>
                                                    </button>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="title-list">
                    <header class="title-list-header">
                        <div class="title-list-wrap">
                            <h2 class="title-list-title">
                                <a href="https://www.wanted.co.kr/wdlist?country=kr&job_sort=company.response_rate_order&years=-1&locations=all">
                                    #수평적 문화
                                    <img src="https://image.wanted.co.kr/optimize?src=https%3A%2F%2Fstatic.wanted.co.kr%2Fimages%2Ftags%2F78563d98-9f6e-11ec-b909-0242ac120002.png&w=75&q=75">
                                </a>
                                <span>회사를 소개합니다</span>
                            </h2>
                            <div class="title-list-more-view-button">
                                <a href="https://www.wanted.co.kr/wdlist?country=kr&job_sort=company.response_rate_order&years=-1&locations=all">
                                    <span>포지션으로 더보기</span>
                                    <span class="title-list-arrow-button">
                                        <svg xmlns="https://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10" fill="none">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M0.34467 8.24802C0.0517767 8.51161 0.0517767 8.93898 0.34467 9.20257C0.637563 9.46617 1.11244 9.46617 1.40533 9.20257L5.65533 5.37773C5.94822 5.11414 5.94822 4.68677 5.65533 4.42317L1.40533 0.59833C1.11244 0.334736 0.637563 0.334736 0.34467 0.59833C0.0517767 0.861923 0.0517767 1.28929 0.34467 1.55288L4.06434 4.90045L0.34467 8.24802Z" fill="currentColor"></path>
                                        </svg>
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div class="title-list-navigation">
                            <button type="button" class="nav-arrow-button">
                                <span class="nav-arrow-icon">
                                    <svg class="nav-arrow-icon-svg" viewBox="0 0 18 18">
                                        <path d="m6.045 9 5.978-5.977a.563.563 0 1 0-.796-.796L4.852 8.602a.562.562 0 0 0 0 .796l6.375 6.375a.563.563 0 0 0 .796-.796L6.045 9z"></path>
                                    </svg>
                                </span>
                            </button>
                            <button type="button" class="nav-arrow-button">
                                <span class="nav-arrow-icon">
                                    <svg class="nav-arrow-icon-svg" viewBox="0 0 18 18">
                                        <path d="m11.955 9-5.978 5.977a.563.563 0 0 0 .796.796l6.375-6.375a.563.563 0 0 0 0-.796L6.773 2.227a.562.562 0 1 0-.796.796L11.955 9z"></path>
                                    </svg>
                                </span>
                            </button>
                        </div>
                    </header>
                    <div class="title-list-slider-container">
                        <div class="title-list-slider">
                            <div class="title-list-slick-list">
                                <div class="title-list-slick-track">
                                    <div class="title-list-slick-slide">
                                        <div class="card-container">
                                            <a href="https://www.wanted.co.kr/company/5927">
                                                <header role="img" style="background-image: url(https://image.wanted.co.kr/optimize?src=https%3A%2F%2Fstatic.wanted.co.kr%2Fimages%2Fcompany%2F5927%2Fhtaulkmxud7zloxe__1080_790.jpg&w=520&q=100);"></header>
                                                <div class="card-body-wrap">
                                                    <div class="card-body-flexbox">
                                                        <div class="card-body-img"></div>
                                                        <div class="card-body-info">
                                                            <p class="card-body-info-title">비바웨이브</p>
                                                            <p class="card-body-info-category">제조</p>
                                                        </div>
                                                    </div>
                                                    <button type="button" class="card-body-button">
                                                        <span class="card-body-button-label">팔로우</span>
                                                        <span class="card-body-button-interaction"></span>
                                                    </button>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="title-list-slick-slide">
                                        <div class="card-container">
                                            <a href="https://www.wanted.co.kr/company/5927">
                                                <header role="img" style="background-image: url(https://image.wanted.co.kr/optimize?src=https%3A%2F%2Fstatic.wanted.co.kr%2Fimages%2Fcompany%2F5927%2Fhtaulkmxud7zloxe__1080_790.jpg&w=520&q=100);"></header>
                                                <div class="card-body-wrap">
                                                    <div class="card-body-flexbox">
                                                        <div class="card-body-img"></div>
                                                        <div class="card-body-info">
                                                            <p class="card-body-info-title">비바웨이브</p>
                                                            <p class="card-body-info-category">제조</p>
                                                        </div>
                                                    </div>
                                                    <button type="button" class="card-body-button">
                                                        <span class="card-body-button-label">팔로우</span>
                                                        <span class="card-body-button-interaction"></span>
                                                    </button>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="title-list-slick-slide">
                                        <div class="card-container">
                                            <a href="https://www.wanted.co.kr/company/5927">
                                                <header role="img" style="background-image: url(https://image.wanted.co.kr/optimize?src=https%3A%2F%2Fstatic.wanted.co.kr%2Fimages%2Fcompany%2F5927%2Fhtaulkmxud7zloxe__1080_790.jpg&w=520&q=100);"></header>
                                                <div class="card-body-wrap">
                                                    <div class="card-body-flexbox">
                                                        <div class="card-body-img"></div>
                                                        <div class="card-body-info">
                                                            <p class="card-body-info-title">비바웨이브</p>
                                                            <p class="card-body-info-category">제조</p>
                                                        </div>
                                                    </div>
                                                    <button type="button" class="card-body-button">
                                                        <span class="card-body-button-label">팔로우</span>
                                                        <span class="card-body-button-interaction"></span>
                                                    </button>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="title-list-slick-slide">
                                        <div class="card-container">
                                            <a href="https://www.wanted.co.kr/company/5927">
                                                <header role="img" style="background-image: url(https://image.wanted.co.kr/optimize?src=https%3A%2F%2Fstatic.wanted.co.kr%2Fimages%2Fcompany%2F5927%2Fhtaulkmxud7zloxe__1080_790.jpg&w=520&q=100);"></header>
                                                <div class="card-body-wrap">
                                                    <div class="card-body-flexbox">
                                                        <div class="card-body-img"></div>
                                                        <div class="card-body-info">
                                                            <p class="card-body-info-title">비바웨이브</p>
                                                            <p class="card-body-info-category">제조</p>
                                                        </div>
                                                    </div>
                                                    <button type="button" class="card-body-button">
                                                        <span class="card-body-button-label">팔로우</span>
                                                        <span class="card-body-button-interaction"></span>
                                                    </button>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <div class="separator"></div>
            <article class="theme-banner">
                <header class="theme-banner-title-wrapper">
                    <h2 class="theme-banner-title">테마로 모아보는 요즘 여행</h2>
                    <div class="theme-banner-navigation">
                        <button type="button" class="nav-arrow-button">
                                <span class="nav-arrow-icon">
                                    <svg class="nav-arrow-icon-svg" viewBox="0 0 18 18">
                                        <path d="m6.045 9 5.978-5.977a.563.563 0 1 0-.796-.796L4.852 8.602a.562.562 0 0 0 0 .796l6.375 6.375a.563.563 0 0 0 .796-.796L6.045 9z"></path>
                                    </svg>
                                </span>
                        </button>
                        <button type="button" class="nav-arrow-button">
                                <span class="nav-arrow-icon">
                                    <svg class="nav-arrow-icon-svg" viewBox="0 0 18 18">
                                        <path d="m11.955 9-5.978 5.977a.563.563 0 0 0 .796.796l6.375-6.375a.563.563 0 0 0 0-.796L6.773 2.227a.562.562 0 1 0-.796.796L11.955 9z"></path>
                                    </svg>
                                </span>
                        </button>
                    </div>
                </header>
                <div class="theme-banner-slide-container">
                    <div class="theme-banner-slider">
                        <div class="theme-banner-slick-list">
                            <div class="theme-banner-slick-track">
                                <div class="theme-banner-slick-slide">
                                    <div class="theme-banner-item">
                                        <a href="https://www.wanted.co.kr/themes/internship">
                                            <div class="theme-thumbnail">
                                                <img src="https://image.wanted.co.kr/optimize?src=https%3A%2F%2Fstatic.wanted.co.kr%2Fimages%2Fbanners%2Fthemes%2F443_39c92dfe.jpg&w=520&q=100">
                                            </div>
                                            <h2 class="theme-item-title">2023 여름 인턴십</h2>
                                            <h5 class="theme-item-subtitle">인턴십도 원티드에서, 다양한 경험과 커리어를 시작하세요!</h5>
                                        </a>
                                        <div class="theme-item-logos">
                                            <img src="https://image.wanted.co.kr/optimize?src=https%3A%2F%2Fstatic.wanted.co.kr%2Fimages%2Fwdes%2F0_5.2570f631.jpg&w=30&q=70">
                                            <img src="https://image.wanted.co.kr/optimize?src=https%3A%2F%2Fstatic.wanted.co.kr%2Fimages%2Fwdes%2F0_5.c1d77dea.jpg&w=30&q=70">
                                            <img src="https://image.wanted.co.kr/optimize?src=https%3A%2F%2Fstatic.wanted.co.kr%2Fimages%2Fwdes%2F0_5.c87b46aa.jpg&w=30&q=70">
                                            <img src="https://image.wanted.co.kr/optimize?src=https%3A%2F%2Fstatic.wanted.co.kr%2Fimages%2Fwdes%2F0_5.c87b46aa.jpg&w=30&q=70">
                                            <img src="https://image.wanted.co.kr/optimize?src=https%3A%2F%2Fstatic.wanted.co.kr%2Fimages%2Fwdes%2F0_5_74151452-b123-4927-88ef-dc27a5cfd0d2.jpg&w=30&q=70">
                                            <img src="https://image.wanted.co.kr/optimize?src=https%3A%2F%2Fstatic.wanted.co.kr%2Fimages%2Fwdes%2F0_5.39545b01.jpg&w=30&q=70">
                                            <img src="https://image.wanted.co.kr/optimize?src=https%3A%2F%2Fstatic.wanted.co.kr%2Fimages%2Fwdes%2F0_5.de0fd033.png&w=30&q=70">
                                            <img src="https://image.wanted.co.kr/optimize?src=https%3A%2F%2Fstatic.wanted.co.kr%2Fimages%2Fwdes%2F0_5.693656dc.png&w=30&q=70">
                                            <img src="https://image.wanted.co.kr/optimize?src=https%3A%2F%2Fstatic.wanted.co.kr%2Fimages%2Fwdes%2F0_5.bc1223ff.png&w=30&q=70">
                                            <a href="https://www.wanted.co.kr/themes/internship">
                                                <span>+19</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="theme-banner-slick-slide">
                                    <div class="theme-banner-item">
                                        <a href="https://www.wanted.co.kr/themes/internship">
                                            <div class="theme-thumbnail">
                                                <img src="https://image.wanted.co.kr/optimize?src=https%3A%2F%2Fstatic.wanted.co.kr%2Fimages%2Fbanners%2Fthemes%2F443_39c92dfe.jpg&w=520&q=100">
                                            </div>
                                            <h2 class="theme-item-title">2023 여름 인턴십</h2>
                                            <h5 class="theme-item-subtitle">인턴십도 원티드에서, 다양한 경험과 커리어를 시작하세요!</h5>
                                        </a>
                                        <div class="theme-item-logos">
                                            <img src="https://image.wanted.co.kr/optimize?src=https%3A%2F%2Fstatic.wanted.co.kr%2Fimages%2Fwdes%2F0_5.2570f631.jpg&w=30&q=70">
                                            <img src="https://image.wanted.co.kr/optimize?src=https%3A%2F%2Fstatic.wanted.co.kr%2Fimages%2Fwdes%2F0_5.c1d77dea.jpg&w=30&q=70">
                                            <img src="https://image.wanted.co.kr/optimize?src=https%3A%2F%2Fstatic.wanted.co.kr%2Fimages%2Fwdes%2F0_5.c87b46aa.jpg&w=30&q=70">
                                            <img src="https://image.wanted.co.kr/optimize?src=https%3A%2F%2Fstatic.wanted.co.kr%2Fimages%2Fwdes%2F0_5.c87b46aa.jpg&w=30&q=70">
                                            <img src="https://image.wanted.co.kr/optimize?src=https%3A%2F%2Fstatic.wanted.co.kr%2Fimages%2Fwdes%2F0_5_74151452-b123-4927-88ef-dc27a5cfd0d2.jpg&w=30&q=70">
                                            <img src="https://image.wanted.co.kr/optimize?src=https%3A%2F%2Fstatic.wanted.co.kr%2Fimages%2Fwdes%2F0_5.39545b01.jpg&w=30&q=70">
                                            <img src="https://image.wanted.co.kr/optimize?src=https%3A%2F%2Fstatic.wanted.co.kr%2Fimages%2Fwdes%2F0_5.de0fd033.png&w=30&q=70">
                                            <img src="https://image.wanted.co.kr/optimize?src=https%3A%2F%2Fstatic.wanted.co.kr%2Fimages%2Fwdes%2F0_5.693656dc.png&w=30&q=70">
                                            <img src="https://image.wanted.co.kr/optimize?src=https%3A%2F%2Fstatic.wanted.co.kr%2Fimages%2Fwdes%2F0_5.bc1223ff.png&w=30&q=70">
                                            <a href="https://www.wanted.co.kr/themes/internship">
                                                <span>+19</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="theme-banner-slick-slide">
                                    <div class="theme-banner-item">
                                        <a href="https://www.wanted.co.kr/themes/internship">
                                            <div class="theme-thumbnail">
                                                <img src="https://image.wanted.co.kr/optimize?src=https%3A%2F%2Fstatic.wanted.co.kr%2Fimages%2Fbanners%2Fthemes%2F443_39c92dfe.jpg&w=520&q=100">
                                            </div>
                                            <h2 class="theme-item-title">2023 여름 인턴십</h2>
                                            <h5 class="theme-item-subtitle">인턴십도 원티드에서, 다양한 경험과 커리어를 시작하세요!</h5>
                                        </a>
                                        <div class="theme-item-logos">
                                            <img src="https://image.wanted.co.kr/optimize?src=https%3A%2F%2Fstatic.wanted.co.kr%2Fimages%2Fwdes%2F0_5.2570f631.jpg&w=30&q=70">
                                            <img src="https://image.wanted.co.kr/optimize?src=https%3A%2F%2Fstatic.wanted.co.kr%2Fimages%2Fwdes%2F0_5.c1d77dea.jpg&w=30&q=70">
                                            <img src="https://image.wanted.co.kr/optimize?src=https%3A%2F%2Fstatic.wanted.co.kr%2Fimages%2Fwdes%2F0_5.c87b46aa.jpg&w=30&q=70">
                                            <img src="https://image.wanted.co.kr/optimize?src=https%3A%2F%2Fstatic.wanted.co.kr%2Fimages%2Fwdes%2F0_5.c87b46aa.jpg&w=30&q=70">
                                            <img src="https://image.wanted.co.kr/optimize?src=https%3A%2F%2Fstatic.wanted.co.kr%2Fimages%2Fwdes%2F0_5_74151452-b123-4927-88ef-dc27a5cfd0d2.jpg&w=30&q=70">
                                            <img src="https://image.wanted.co.kr/optimize?src=https%3A%2F%2Fstatic.wanted.co.kr%2Fimages%2Fwdes%2F0_5.39545b01.jpg&w=30&q=70">
                                            <img src="https://image.wanted.co.kr/optimize?src=https%3A%2F%2Fstatic.wanted.co.kr%2Fimages%2Fwdes%2F0_5.de0fd033.png&w=30&q=70">
                                            <img src="https://image.wanted.co.kr/optimize?src=https%3A%2F%2Fstatic.wanted.co.kr%2Fimages%2Fwdes%2F0_5.693656dc.png&w=30&q=70">
                                            <img src="https://image.wanted.co.kr/optimize?src=https%3A%2F%2Fstatic.wanted.co.kr%2Fimages%2Fwdes%2F0_5.bc1223ff.png&w=30&q=70">
                                            <a href="https://www.wanted.co.kr/themes/internship">
                                                <span>+19</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <div class="separator"></div>
            <article class="current-list">
                <header class="current-list-title">
                    <h2>요즘 뜨는 포지션</h2>
                </header>
                <div class="current-card-list">
                    <ul class="card-list">
                        <li>
                            <div class="current-card-wrap">
                                <a href="https://www.wanted.co.kr/wd/170712">
                                    <header style="background-image: url(https://image.wanted.co.kr/optimize?src=https%3A%2F%2Fstatic.wanted.co.kr%2Fimages%2Fcompany%2F11386%2Fupwum03z0jqjwebf__400_400.jpg&w=400&q=75)">
                                        <button class="bookmark-button" type="button">
                                            <svg width="22" height="22" viewBox="0 0 18 18" fill="none" xmlns="https://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M3.58065 1C3.25997 1 3 1.26206 3 1.58533V16.4138C3 16.8632 3.48164 17.145 3.86873 16.922L9.00004 13.9662L14.1313 16.922C14.5184 17.145 15 16.8632 15 16.4138V1.58533C15 1.26206 14.74 1 14.4194 1H9.00004H3.58065ZM8.71195 12.7838C8.89046 12.681 9.10961 12.681 9.28812 12.7838L13.8387 15.4052V2.17067H9.00004H4.1613V15.4052L8.71195 12.7838Z" fill="white"></path>
                                                <path d="M9.28812 12.7838C9.10961 12.681 8.89046 12.681 8.71195 12.7838L4.1613 15.4052V2.17067H9.00004H13.8387V15.4052L9.28812 12.7838Z" fill="black" fill-opacity="0.25"></path>
                                            </svg>
                                        </button>
                                    </header>
                                    <div class="current-card-body">
                                        <div class="title">생성형 AI 활용 담당자</div>
                                        <div class="store">부스터즈</div>
                                        <div class="location">
                                            서울
                                            <span class="address-dot">.</span>
                                            <span>한국</span>
                                        </div>
                                        <div class="etc"></div>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="current-card-wrap">
                                <a href="https://www.wanted.co.kr/wd/170712">
                                    <header style="background-image: url(https://image.wanted.co.kr/optimize?src=https%3A%2F%2Fstatic.wanted.co.kr%2Fimages%2Fcompany%2F11386%2Fupwum03z0jqjwebf__400_400.jpg&w=400&q=75)">
                                        <button class="bookmark-button" type="button">
                                            <svg width="22" height="22" viewBox="0 0 18 18" fill="none" xmlns="https://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M3.58065 1C3.25997 1 3 1.26206 3 1.58533V16.4138C3 16.8632 3.48164 17.145 3.86873 16.922L9.00004 13.9662L14.1313 16.922C14.5184 17.145 15 16.8632 15 16.4138V1.58533C15 1.26206 14.74 1 14.4194 1H9.00004H3.58065ZM8.71195 12.7838C8.89046 12.681 9.10961 12.681 9.28812 12.7838L13.8387 15.4052V2.17067H9.00004H4.1613V15.4052L8.71195 12.7838Z" fill="white"></path>
                                                <path d="M9.28812 12.7838C9.10961 12.681 8.89046 12.681 8.71195 12.7838L4.1613 15.4052V2.17067H9.00004H13.8387V15.4052L9.28812 12.7838Z" fill="black" fill-opacity="0.25"></path>
                                            </svg>
                                        </button>
                                    </header>
                                    <div class="current-card-body">
                                        <div class="title">경영지원 담당자</div>
                                        <div class="store">서울거래</div>
                                        <div class="tooltip-container">
                                            <button class="tooltip-label" type="button">
                                                <div class="tooltip-label-container">
                                                    <span>우수업체</span>
                                                </div>
                                                <div class="tooltip-content"></div>
                                            </button>
                                        </div>
                                        <div class="location">
                                            서울
                                            <span class="address-dot">.</span>
                                            <span>한국</span>
                                        </div>
                                        <div class="etc">기타내용</div>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="current-card-wrap">
                                <a href="https://www.wanted.co.kr/wd/170712">
                                    <header style="background-image: url(https://image.wanted.co.kr/optimize?src=https%3A%2F%2Fstatic.wanted.co.kr%2Fimages%2Fcompany%2F11386%2Fupwum03z0jqjwebf__400_400.jpg&w=400&q=75)">
                                        <button class="bookmark-button" type="button">
                                            <svg width="22" height="22" viewBox="0 0 18 18" fill="none" xmlns="https://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M3.58065 1C3.25997 1 3 1.26206 3 1.58533V16.4138C3 16.8632 3.48164 17.145 3.86873 16.922L9.00004 13.9662L14.1313 16.922C14.5184 17.145 15 16.8632 15 16.4138V1.58533C15 1.26206 14.74 1 14.4194 1H9.00004H3.58065ZM8.71195 12.7838C8.89046 12.681 9.10961 12.681 9.28812 12.7838L13.8387 15.4052V2.17067H9.00004H4.1613V15.4052L8.71195 12.7838Z" fill="white"></path>
                                                <path d="M9.28812 12.7838C9.10961 12.681 8.89046 12.681 8.71195 12.7838L4.1613 15.4052V2.17067H9.00004H13.8387V15.4052L9.28812 12.7838Z" fill="black" fill-opacity="0.25"></path>
                                            </svg>
                                        </button>
                                    </header>
                                    <div class="current-card-body">
                                        <div class="title">경영지원 담당자</div>
                                        <div class="store">서울거래</div>
                                        <div class="tooltip-container">
                                            <button class="tooltip-label" type="button">
                                                <div class="tooltip-label-container">
                                                    <span>우수업체</span>
                                                </div>
                                                <div class="tooltip-content"></div>
                                            </button>
                                        </div>
                                        <div class="location">
                                            서울
                                            <span class="address-dot">.</span>
                                            <span>한국</span>
                                        </div>
                                        <div class="etc">기타내용</div>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="current-card-wrap">
                                <a href="https://www.wanted.co.kr/wd/170712">
                                    <header style="background-image: url(https://image.wanted.co.kr/optimize?src=https%3A%2F%2Fstatic.wanted.co.kr%2Fimages%2Fcompany%2F11386%2Fupwum03z0jqjwebf__400_400.jpg&w=400&q=75)">
                                        <button class="bookmark-button" type="button">
                                            <svg width="22" height="22" viewBox="0 0 18 18" fill="none" xmlns="https://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M3.58065 1C3.25997 1 3 1.26206 3 1.58533V16.4138C3 16.8632 3.48164 17.145 3.86873 16.922L9.00004 13.9662L14.1313 16.922C14.5184 17.145 15 16.8632 15 16.4138V1.58533C15 1.26206 14.74 1 14.4194 1H9.00004H3.58065ZM8.71195 12.7838C8.89046 12.681 9.10961 12.681 9.28812 12.7838L13.8387 15.4052V2.17067H9.00004H4.1613V15.4052L8.71195 12.7838Z" fill="white"></path>
                                                <path d="M9.28812 12.7838C9.10961 12.681 8.89046 12.681 8.71195 12.7838L4.1613 15.4052V2.17067H9.00004H13.8387V15.4052L9.28812 12.7838Z" fill="black" fill-opacity="0.25"></path>
                                            </svg>
                                        </button>
                                    </header>
                                    <div class="current-card-body">
                                        <div class="title">경영지원 담당자</div>
                                        <div class="store">서울거래</div>
                                        <div class="tooltip-container">
                                            <button class="tooltip-label" type="button">
                                                <div class="tooltip-label-container">
                                                    <span>우수업체</span>
                                                </div>
                                                <div class="tooltip-content"></div>
                                            </button>
                                        </div>
                                        <div class="location">
                                            서울
                                            <span class="address-dot">.</span>
                                            <span>한국</span>
                                        </div>
                                        <div class="etc">기타내용</div>
                                    </div>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </article>
        </section>
        <footer id="footer" th:replace="~{/footer/footer::footer}"></footer>
    </main>
</body>
</html>



















