<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>알림</title>
    <link rel="stylesheet" href="/css/header/header.css"/>
    <link rel="stylesheet" href="/css/common.css"/>
    <link rel="stylesheet" href="/css/mypage/alarm.css">
</head>
<body style="background-color: #f8f8f8;">
<div  th:replace="~{header/signedin-header :: #signedin-header}"></div>
<div class="container-profile">
    <nav role="presentation" class="nav">
        <h2 class="nav-title">
            <p>계정 설정</p>
            <button type="button" class="nav-button">계정 설정<span
                    class="nav-subTitle">알림 설정</span>
                <span class="nav-open-icon"></span></button>
        </h2>
    </nav>

    <div class="settings-className">
        <div class="aside-className">
            <dl>
                <dd>
                    <ul>
                        <li class="active"><a href="#" class="">알림 설정</a></li>
                        <li class=""><a href="/mypage/accountManage" class="">비밀번호 설정</a></li>
                        <li class=""><a href="/mypage/withdrawal" class="">회원 탈퇴</a></li>
                    </ul>
                </dd>
            </dl>
        </div>
        <section>
            <div class="oneIdNotification">
                <div class="oneIdNotification-Notification"><h3
                        class="oneIdNotification-Notification-header">이메일</h3>
                    <div class="oneIdNotification-Notification-body">
                        <div class="notificationItem-Notification-item"><h3>혜택/이벤트 알림</h3>
                            <div class="notificationItem-Notification-item-contents">
                                <dl>
                                    <dt>다양한 여행 소식과 다양한 테마/이벤트 등의 소식을 받을 수 있습니다.</dt>
                                    <dd>
                                        <input type="checkbox" id="toggle1" th:checked="${#authentication.getPrincipal().memberResponseDTO.emailBenefitEvent}" hidden>
                                        <label for="toggle1" class="toggleSwitch notificationItem-Switch notificationItem-Switch-on">
                                            <span class="toggleButton"></span>
                                        </label>
                                        <div class="switcher"></div>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                        <div class="notificationItem-Notification-item"><h3>추천 여행 정보 수신</h3>
                            <div class="notificationItem-Notification-item-contents">
                                <dl>
                                    <dt>내 관심 지역에 맞는 여행 소식을 받을 수 있습니다.</dt>
                                    <dd>
                                        <input type="checkbox" id="toggle2" th:checked="${#authentication.getPrincipal().memberResponseDTO.emailSuggestion}" hidden>
                                        <label for="toggle2" class="toggleSwitch notificationItem-Switch notificationItem-Switch-on">
                                            <span class="toggleButton"></span>
                                        </label>
                                        <div class="switcher"></div>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="oneId">
                    <h3 class="oneIdNotification-Notification-header">문자 메시지</h3>
                    <div class="oneIdNotification-Notification-body">
                        <div class="notificationItem-Notification-item"><h3>혜택/이벤트 알림</h3>
                            <div class="notificationItem-Notification-item-contents">
                                <dl>
                                    <dt>여행 소식과 테마/이벤트, 업체 스토리, 이벤트 등 맞춤 정보를 받을 수 있습니다.</dt>
                                    <dd>
                                        <input type="checkbox" id="toggle3" th:checked="${#authentication.getPrincipal().memberResponseDTO.snsBenefitEvent}" hidden>
                                        <label for="toggle3" class="toggleSwitch notificationItem-Switch notificationItem-Switch-on">
                                            <span class="toggleButton"></span>
                                        </label>
                                            <div class="switcher"></div>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="oneIdNotification-Notification-footer">앱 푸시 항목은 [Travel Maker] 앱 내 알림 설정에서 변경 가능합니다.</div>
            </div>
        </section>
    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="/js/mypage/alarm.js"></script>
<script src="/js/header/header.js"></script>
</html>