<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>북마크</title>
    <link rel="stylesheet" href="/css/mypage/bookmarks.css">
</head>

<body>
<!--위에 패딩주기-->
    <div class="Padding_padding___Nyki"></div>
    <div class="container-profile">
        <nav role="presentation" class="nav">
            <h2 class="nav-title">
                <p>북마크</p>
                <button type="button" class="nav-button">
                    북마크
                </button>
            </h2>
        </nav>
    <!--/nav-->
        <div class="bookmark-container">
            <div class="list">
                <div class="list-container">
                    <ul>
                        <!--여기서 반복-->
                        <li>
                            <div class="card">
                                <a href="#">
                                    <!--이미지-->
                                    <header style="background-image: url(&quot;https://image.wanted.co.kr/optimize?src=https%3A%2F%2Fstatic.wanted.co.kr%2Fimages%2Fcompany%2F29147%2Forp7cickvk9aipmp__400_400.jpg&amp;w=400&amp;q=75&quot;);">
<!--                                        북마크-->
                                        <button class="bookmark-btn" type="button">
                                            <svg width="22" height="22" viewBox="0 0 18 18" fill="none" xmlns="https://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M3.58065 1C3.25997 1 3 1.26206 3 1.58533V16.4138C3 16.8632 3.48164 17.145 3.86873 16.922L9.00004 13.9662L14.1313 16.922C14.5184 17.145 15 16.8632 15 16.4138V1.58533C15 1.26206 14.74 1 14.4194 1H9.00004H3.58065ZM8.71195 12.7838C8.89046 12.681 9.10961 12.681 9.28812 12.7838L13.8387 15.4052V2.17067H9.00004H4.1613V15.4052L8.71195 12.7838Z" fill="white"></path><path d="M9.28812 12.7838C9.10961 12.681 8.89046 12.681 8.71195 12.7838L4.1613 15.4052V2.17067H9.00004H13.8387V15.4052L9.28812 12.7838Z" fill="#3366FF"></path>
                                            </svg>
                                        </button>
                                    </header>

                                    <div class="body">
                                        <div class="card-theme">광명동굴 테마 패키지</div>
                                        <div class="card-userName">1a2a3</div>
                                        <div class="card-grade">새싹이</div>
                                        <div class="card-location"><span>서울</span></div>
                                        <div class="card-badge"></div>
                                    </div>
                                </a>
                            </div>
                        </li>
<!--                        첫번째 게시물-->
                        <li>
                            <div class="card">
                                <a href="#">
                                    <!--이미지-->
                                    <header style="background-image: url(&quot;https://image.wanted.co.kr/optimize?src=https%3A%2F%2Fstatic.wanted.co.kr%2Fimages%2Fcompany%2F29147%2Forp7cickvk9aipmp__400_400.jpg&amp;w=400&amp;q=75&quot;);">
                                        <!--                                        북마크-->
                                        <button class="bookmark-btn" type="button">
                                            <svg width="22" height="22" viewBox="0 0 18 18" fill="none" xmlns="https://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M3.58065 1C3.25997 1 3 1.26206 3 1.58533V16.4138C3 16.8632 3.48164 17.145 3.86873 16.922L9.00004 13.9662L14.1313 16.922C14.5184 17.145 15 16.8632 15 16.4138V1.58533C15 1.26206 14.74 1 14.4194 1H9.00004H3.58065ZM8.71195 12.7838C8.89046 12.681 9.10961 12.681 9.28812 12.7838L13.8387 15.4052V2.17067H9.00004H4.1613V15.4052L8.71195 12.7838Z" fill="white"></path><path d="M9.28812 12.7838C9.10961 12.681 8.89046 12.681 8.71195 12.7838L4.1613 15.4052V2.17067H9.00004H13.8387V15.4052L9.28812 12.7838Z" fill="#3366FF"></path>
                                            </svg>
                                        </button>
                                    </header>

                                    <div class="body">
                                        <div class="card-theme">광명동굴 테마 패키지</div>
                                        <div class="card-userName">1a2a3</div>
                                        <div class="card-grade">새싹이</div>
                                        <div class="card-location"><span>서울</span></div>
                                        <div class="card-badge"></div>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="card">
                                <a href="#">
                                    <!--이미지-->
                                    <header style="background-image: url(&quot;https://image.wanted.co.kr/optimize?src=https%3A%2F%2Fstatic.wanted.co.kr%2Fimages%2Fcompany%2F29147%2Forp7cickvk9aipmp__400_400.jpg&amp;w=400&amp;q=75&quot;);">
                                        <!--                                        북마크-->
                                        <button class="bookmark-btn" type="button">
                                            <svg width="22" height="22" viewBox="0 0 18 18" fill="none" xmlns="https://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M3.58065 1C3.25997 1 3 1.26206 3 1.58533V16.4138C3 16.8632 3.48164 17.145 3.86873 16.922L9.00004 13.9662L14.1313 16.922C14.5184 17.145 15 16.8632 15 16.4138V1.58533C15 1.26206 14.74 1 14.4194 1H9.00004H3.58065ZM8.71195 12.7838C8.89046 12.681 9.10961 12.681 9.28812 12.7838L13.8387 15.4052V2.17067H9.00004H4.1613V15.4052L8.71195 12.7838Z" fill="white"></path><path d="M9.28812 12.7838C9.10961 12.681 8.89046 12.681 8.71195 12.7838L4.1613 15.4052V2.17067H9.00004H13.8387V15.4052L9.28812 12.7838Z" fill="#3366FF"></path>
                                            </svg>
                                        </button>
                                    </header>

                                    <div class="body">
                                        <div class="card-theme">광명동굴 테마 패키지</div>
                                        <div class="card-userName">1a2a3</div>
                                        <div class="card-grade">새싹이</div>
                                        <div class="card-location"><span>서울</span></div>
                                        <div class="card-badge"></div>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="card">
                                <a href="#">
                                    <!--이미지-->
                                    <header style="background-image: url(&quot;https://image.wanted.co.kr/optimize?src=https%3A%2F%2Fstatic.wanted.co.kr%2Fimages%2Fcompany%2F29147%2Forp7cickvk9aipmp__400_400.jpg&amp;w=400&amp;q=75&quot;);">
                                        <!--                                        북마크-->
                                        <button class="bookmark-btn" type="button">
                                            <svg width="22" height="22" viewBox="0 0 18 18" fill="none" xmlns="https://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M3.58065 1C3.25997 1 3 1.26206 3 1.58533V16.4138C3 16.8632 3.48164 17.145 3.86873 16.922L9.00004 13.9662L14.1313 16.922C14.5184 17.145 15 16.8632 15 16.4138V1.58533C15 1.26206 14.74 1 14.4194 1H9.00004H3.58065ZM8.71195 12.7838C8.89046 12.681 9.10961 12.681 9.28812 12.7838L13.8387 15.4052V2.17067H9.00004H4.1613V15.4052L8.71195 12.7838Z" fill="white"></path><path d="M9.28812 12.7838C9.10961 12.681 8.89046 12.681 8.71195 12.7838L4.1613 15.4052V2.17067H9.00004H13.8387V15.4052L9.28812 12.7838Z" fill="#3366FF"></path>
                                            </svg>
                                        </button>
                                    </header>

                                    <div class="body">
                                        <div class="card-theme">광명동굴 테마 패키지</div>
                                        <div class="card-userName">1a2a3</div>
                                        <div class="card-grade">새싹이</div>
                                        <div class="card-location"><span>서울</span></div>
                                        <div class="card-badge"></div>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="card">
                                <a href="#">
                                    <!--이미지-->
                                    <header style="background-image: url(&quot;https://image.wanted.co.kr/optimize?src=https%3A%2F%2Fstatic.wanted.co.kr%2Fimages%2Fcompany%2F29147%2Forp7cickvk9aipmp__400_400.jpg&amp;w=400&amp;q=75&quot;);">
                                        <!--                                        북마크-->
                                        <button class="bookmark-btn" type="button">
                                            <svg width="22" height="22" viewBox="0 0 18 18" fill="none" xmlns="https://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M3.58065 1C3.25997 1 3 1.26206 3 1.58533V16.4138C3 16.8632 3.48164 17.145 3.86873 16.922L9.00004 13.9662L14.1313 16.922C14.5184 17.145 15 16.8632 15 16.4138V1.58533C15 1.26206 14.74 1 14.4194 1H9.00004H3.58065ZM8.71195 12.7838C8.89046 12.681 9.10961 12.681 9.28812 12.7838L13.8387 15.4052V2.17067H9.00004H4.1613V15.4052L8.71195 12.7838Z" fill="white"></path><path d="M9.28812 12.7838C9.10961 12.681 8.89046 12.681 8.71195 12.7838L4.1613 15.4052V2.17067H9.00004H13.8387V15.4052L9.28812 12.7838Z" fill="#3366FF"></path>
                                            </svg>
                                        </button>
                                    </header>

                                    <div class="body">
                                        <div class="card-theme">광명동굴 테마 패키지</div>
                                        <div class="card-userName">1a2a3</div>
                                        <div class="card-grade">새싹이</div>
                                        <div class="card-location"><span>서울</span></div>
                                        <div class="card-badge"></div>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="card">
                                <a href="#">
                                    <!--이미지-->
                                    <header style="background-image: url(&quot;https://image.wanted.co.kr/optimize?src=https%3A%2F%2Fstatic.wanted.co.kr%2Fimages%2Fcompany%2F29147%2Forp7cickvk9aipmp__400_400.jpg&amp;w=400&amp;q=75&quot;);">
                                        <!--                                        북마크-->
                                        <button class="bookmark-btn" type="button">
                                            <svg width="22" height="22" viewBox="0 0 18 18" fill="none" xmlns="https://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M3.58065 1C3.25997 1 3 1.26206 3 1.58533V16.4138C3 16.8632 3.48164 17.145 3.86873 16.922L9.00004 13.9662L14.1313 16.922C14.5184 17.145 15 16.8632 15 16.4138V1.58533C15 1.26206 14.74 1 14.4194 1H9.00004H3.58065ZM8.71195 12.7838C8.89046 12.681 9.10961 12.681 9.28812 12.7838L13.8387 15.4052V2.17067H9.00004H4.1613V15.4052L8.71195 12.7838Z" fill="white"></path><path d="M9.28812 12.7838C9.10961 12.681 8.89046 12.681 8.71195 12.7838L4.1613 15.4052V2.17067H9.00004H13.8387V15.4052L9.28812 12.7838Z" fill="#3366FF"></path>
                                            </svg>
                                        </button>
                                    </header>

                                    <div class="body">
                                        <div class="card-theme">광명동굴 테마 패키지</div>
                                        <div class="card-userName">1a2a3</div>
                                        <div class="card-grade">새싹이</div>
                                        <div class="card-location"><span>서울</span></div>
                                        <div class="card-badge"></div>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="card">
                                <a href="#">
                                    <!--이미지-->
                                    <header style="background-image: url(&quot;https://image.wanted.co.kr/optimize?src=https%3A%2F%2Fstatic.wanted.co.kr%2Fimages%2Fcompany%2F29147%2Forp7cickvk9aipmp__400_400.jpg&amp;w=400&amp;q=75&quot;);">
                                        <!--                                        북마크-->
                                        <button class="bookmark-btn" type="button">
                                            <svg width="22" height="22" viewBox="0 0 18 18" fill="none" xmlns="https://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M3.58065 1C3.25997 1 3 1.26206 3 1.58533V16.4138C3 16.8632 3.48164 17.145 3.86873 16.922L9.00004 13.9662L14.1313 16.922C14.5184 17.145 15 16.8632 15 16.4138V1.58533C15 1.26206 14.74 1 14.4194 1H9.00004H3.58065ZM8.71195 12.7838C8.89046 12.681 9.10961 12.681 9.28812 12.7838L13.8387 15.4052V2.17067H9.00004H4.1613V15.4052L8.71195 12.7838Z" fill="white"></path><path d="M9.28812 12.7838C9.10961 12.681 8.89046 12.681 8.71195 12.7838L4.1613 15.4052V2.17067H9.00004H13.8387V15.4052L9.28812 12.7838Z" fill="#3366FF"></path>
                                            </svg>
                                        </button>
                                    </header>

                                    <div class="body">
                                        <div class="card-theme">광명동굴 테마 패키지</div>
                                        <div class="card-userName">1a2a3</div>
                                        <div class="card-grade">새싹이</div>
                                        <div class="card-location"><span>서울</span></div>
                                        <div class="card-badge"></div>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="card">
                                <a href="#">
                                    <!--이미지-->
                                    <header style="background-image: url(&quot;https://image.wanted.co.kr/optimize?src=https%3A%2F%2Fstatic.wanted.co.kr%2Fimages%2Fcompany%2F29147%2Forp7cickvk9aipmp__400_400.jpg&amp;w=400&amp;q=75&quot;);">
                                        <!--                                        북마크-->
                                        <button class="bookmark-btn" type="button">
                                            <svg width="22" height="22" viewBox="0 0 18 18" fill="none" xmlns="https://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M3.58065 1C3.25997 1 3 1.26206 3 1.58533V16.4138C3 16.8632 3.48164 17.145 3.86873 16.922L9.00004 13.9662L14.1313 16.922C14.5184 17.145 15 16.8632 15 16.4138V1.58533C15 1.26206 14.74 1 14.4194 1H9.00004H3.58065ZM8.71195 12.7838C8.89046 12.681 9.10961 12.681 9.28812 12.7838L13.8387 15.4052V2.17067H9.00004H4.1613V15.4052L8.71195 12.7838Z" fill="white"></path><path d="M9.28812 12.7838C9.10961 12.681 8.89046 12.681 8.71195 12.7838L4.1613 15.4052V2.17067H9.00004H13.8387V15.4052L9.28812 12.7838Z" fill="#3366FF"></path>
                                            </svg>
                                        </button>
                                    </header>

                                    <div class="body">
                                        <div class="card-theme">광명동굴 테마 패키지</div>
                                        <div class="card-userName">1a2a3</div>
                                        <div class="card-grade">새싹이</div>
                                        <div class="card-location"><span>서울</span></div>
                                        <div class="card-badge"></div>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="card">
                                <a href="#">
                                    <!--이미지-->
                                    <header style="background-image: url(&quot;https://image.wanted.co.kr/optimize?src=https%3A%2F%2Fstatic.wanted.co.kr%2Fimages%2Fcompany%2F29147%2Forp7cickvk9aipmp__400_400.jpg&amp;w=400&amp;q=75&quot;);">
                                        <!--                                        북마크-->
                                        <button class="bookmark-btn" type="button">
                                            <svg width="22" height="22" viewBox="0 0 18 18" fill="none" xmlns="https://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M3.58065 1C3.25997 1 3 1.26206 3 1.58533V16.4138C3 16.8632 3.48164 17.145 3.86873 16.922L9.00004 13.9662L14.1313 16.922C14.5184 17.145 15 16.8632 15 16.4138V1.58533C15 1.26206 14.74 1 14.4194 1H9.00004H3.58065ZM8.71195 12.7838C8.89046 12.681 9.10961 12.681 9.28812 12.7838L13.8387 15.4052V2.17067H9.00004H4.1613V15.4052L8.71195 12.7838Z" fill="white"></path><path d="M9.28812 12.7838C9.10961 12.681 8.89046 12.681 8.71195 12.7838L4.1613 15.4052V2.17067H9.00004H13.8387V15.4052L9.28812 12.7838Z" fill="#3366FF"></path>
                                            </svg>
                                        </button>
                                    </header>

                                    <div class="body">
                                        <div class="card-theme">광명동굴 테마 패키지</div>
                                        <div class="card-userName">1a2a3</div>
                                        <div class="card-grade">새싹이</div>
                                        <div class="card-location"><span>서울</span></div>
                                        <div class="card-badge"></div>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="card">
                                <a href="#">
                                    <!--이미지-->
                                    <header style="background-image: url(&quot;https://image.wanted.co.kr/optimize?src=https%3A%2F%2Fstatic.wanted.co.kr%2Fimages%2Fcompany%2F29147%2Forp7cickvk9aipmp__400_400.jpg&amp;w=400&amp;q=75&quot;);">
                                        <!--                                        북마크-->
                                        <button class="bookmark-btn" type="button">
                                            <svg width="22" height="22" viewBox="0 0 18 18" fill="none" xmlns="https://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M3.58065 1C3.25997 1 3 1.26206 3 1.58533V16.4138C3 16.8632 3.48164 17.145 3.86873 16.922L9.00004 13.9662L14.1313 16.922C14.5184 17.145 15 16.8632 15 16.4138V1.58533C15 1.26206 14.74 1 14.4194 1H9.00004H3.58065ZM8.71195 12.7838C8.89046 12.681 9.10961 12.681 9.28812 12.7838L13.8387 15.4052V2.17067H9.00004H4.1613V15.4052L8.71195 12.7838Z" fill="white"></path><path d="M9.28812 12.7838C9.10961 12.681 8.89046 12.681 8.71195 12.7838L4.1613 15.4052V2.17067H9.00004H13.8387V15.4052L9.28812 12.7838Z" fill="#3366FF"></path>
                                            </svg>
                                        </button>
                                    </header>

                                    <div class="body">
                                        <div class="card-theme">광명동굴 테마 패키지</div>
                                        <div class="card-userName">1a2a3</div>
                                        <div class="card-grade">새싹이</div>
                                        <div class="card-location"><span>서울</span></div>
                                        <div class="card-badge"></div>
                                    </div>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>