<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Maker</title>
</head>

<link rel="stylesheet" href="/css/common.css"/>
<link rel="stylesheet" href="/css/mypage/main.css"/>
<link rel="stylesheet" href="/css/header/header.css"/>

<body>
<div class="header-main-padding">
    <div th:replace="~{header/signedIn-header :: #header}"></div>
</div>
<section class="main-section">
    <input type="hidden" class="member-type" th:value="${#authentication.getPrincipal().memberResponseDTO.memberRole.code}">
    <h2 class="main-title">MY 페이지</h2>
    <div class="main-container">
        <aside class="main-aside">
            <div class="aside-container">
                <div class="aside-profile">
                    <div class="profile-avatar-root profile-avatar-size profile-avatar-circle">
                        <th:block th:unless="${#authentication.getPrincipal().memberResponseDTO.memberJoinAccountType.code.equals('GENERAL')}">
                            <img alt="프로필 이미지"
                                 th:src="${#authentication.getPrincipal().memberResponseDTO.snsProFile}"
                                 class="profile-avatar-img"
                                 style="vertical-align: middle;">
                        </th:block>
                        <th:block th:if="${#authentication.getPrincipal().memberResponseDTO.memberJoinAccountType.code.equals('GENERAL')}">
                            <th:block th:if="${#authentication.getPrincipal().memberResponseDTO.fileId == null}">
                                <img alt="프로필 이미지"
                                     th:src="'https://static.wanted.co.kr/oneid-user/profile_default.png'"
                                     class="profile-avatar-img"
                                     style="vertical-align: middle;">
                            </th:block>
                            <th:block th:unless="${#authentication.getPrincipal().memberResponseDTO.fileId == null}">
                                <img alt="프로필 이미지"
                                     th:src="'/api/files/display?fileName=' +
                                    ${#authentication.getPrincipal().memberResponseDTO.filePath} + '/' +
                                    ${#authentication.getPrincipal().memberResponseDTO.fileUuid} + '_' +
                                    ${#authentication.getPrincipal().memberResponseDTO.fileName}"
                                     class="profile-avatar-img"
                                     style="vertical-align: middle;">
                            </th:block>

                        </th:block>
                    </div>
                    <a href="/mypage/accountManage"
                       class="aside-profile-a">
                        <dl>
                            <dt th:text="${#authentication.getPrincipal().memberResponseDTO.memberName}">이수정</dt>
                            <dd th:text="${#authentication.getPrincipal().memberResponseDTO.memberEmail}">dodunge@naver.com</dd>
                            <dd th:text="${#strings.substring(#authentication.getPrincipal().memberResponseDTO.memberPhone, 0, 3)} + '-' +
                                         ${#strings.substring(#authentication.getPrincipal().memberResponseDTO.memberPhone, 3, 7)} + '-' +
                                         ${#strings.substring(#authentication.getPrincipal().memberResponseDTO.memberPhone, 7)}">010-5478-3506</dd>

                        </dl>
                    </a>
                    <div class="aside-interest-tags">
                        <a href="/mypage/interestsRegion" class="">
                            <p>
                                <em>관심태그</em>
                                <th:block th:if="${#authentication.getPrincipal().memberResponseDTO.memberInterestRegion == null
                                            or #authentication.getPrincipal().memberResponseDTO.memberInterestRegion.equals('')}">
                                    <span class="aside-interest-tags-span">관심지역이 없습니다.</span>
                                </th:block>
                                <th:block th:unless="${#authentication.getPrincipal().memberResponseDTO.memberInterestRegion == null
                                            or #authentication.getPrincipal().memberResponseDTO.memberInterestRegion.equals('')}">
                                    <span class="aside-interest-tags-span"
                                          th:text="${#authentication.getPrincipal().memberResponseDTO.memberInterestRegion}"></span>
                                </th:block>
                            </p>
                            <svg width="12" height="12" viewBox="0 0 12 12">
                                <path fill="currentColor"
                                  d="M3.345 9.72a.75.75 0 0 0 1.06 1.06l4.25-4.25a.75.75 0 0 0 0-1.06l-4.25-4.25a.75.75 0 0 0-1.06 1.06L7.065 6l-3.72 3.72z"></path>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="aside-point">
                    <a href="/mypage/points" class="">
                        <span>포인트</span>
                        <th:block th:if="${#authentication.getPrincipal().memberResponseDTO.memberEcoPoint==null}">
                            <strong>0P</strong>
                        </th:block>
                        <th:block th:unless="${#authentication.getPrincipal().memberResponseDTO.memberEcoPoint==null}">
                            <strong>
                                <span th:text="${#authentication.getPrincipal().memberResponseDTO.memberEcoPoint}">0</span>P
                            </strong>
                        </th:block>
                    </a>
                </div>
                <th:block th:if="${#authentication.getPrincipal().memberResponseDTO.memberRole.code.equals('COMPANY')}">
                    <div class="aside-company">
                        <a href="/mypage/company/list" class="my-company-list">
                            <span>업체 목록</span>
                            <strong class="company-cnt">0</strong>
                        </a>
                        <a href="/mypage/company/registration" class="">
                            <span>업체 등록</span>
                        </a>
                    </div>
                </th:block>
                <div class="aside-inquiry">
                    <a href="/mypage/my/list-detail" class="my-custom-service">
                        <span>문의/신고</span>
                        <strong class="custom-service-cnt">0</strong>
                    </a>
                    <a href="/mypage/giftCard" class="my-giftcard-list">
                        <span>보유 상품권</span>
                        <strong class="gift-card-cnt">0</strong>
                    </a>
                </div>
                <div class="aside_setting">
                    <a href="/mypage/alarm" class="">계정 설정</a>
                </div>
            </div>
        </aside>
        <section class="main-body-section">
            <div class="replies-manage">
                <h2 class="replies-h2">MY 글관리</h2>
                <ul class="replies-ul" id="replies-ul">
                    <li>
                        <a href="#" class="">
                            <em class="communities-count">0</em>
                            <span>커뮤니티</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="">
                            <em class="ecos-count">0</em>
                            <span>에코인증</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="">
                            <em class="goWiths-count">0</em>
                            <span>같이가요</span>
                        </a>
                    </li>
                    <th:block th:if="${#authentication.getPrincipal().memberResponseDTO.memberRole.code.equals('COMPANY')}">
                        <li>
                            <a href="#" class="">
                                <em class="stories-count">0</em>
                                <span>업체 스토리</span>
                            </a>
                        </li>
                    </th:block>
                </ul>
            </div>
            <div class="bookmark-like-manage">
                <div class="manage-info">
                    <div class="manage-title">
                        <h2>북마크</h2>
                        <a href="/mypage/bookmarks" class="">
                            총 <span class="bookmarks-count">2</span>개 전체보기
                            <svg width="12" height="12" viewBox="0 0 12 12">
                                <path fill="currentColor"
                                      d="M3.345 9.72a.75.75 0 0 0 1.06 1.06l4.25-4.25a.75.75 0 0 0 0-1.06l-4.25-4.25a.75.75 0 0 0-1.06 1.06L7.065 6l-3.72 3.72z"></path>
                            </svg>
                        </a>
                    </div>
                    <ul class="bookmarks-list">
                        <li class="manage-info-li">
                            <a href="/wd/172523" class="">
                                <div class="manage-info-logo"
                                    style="background-image: url(&quot;https://static.wanted.co.kr/images/wdes/0_4.97dbde22.jpg&quot;);"></div>
                                <div class="manage-info-content">
                                    <h3>Technical Product Manager · Lunit INSIGHT</h3>
                                    <div>
                                        <p>루닛(Lunit)</p>
                                        <span>서울·한국</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="manage-info-li">
                            <a href="/wd/155943" class="">
                                <div class="manage-info-logo"
                                     style="background-image: url(&quot;https://static.wanted.co.kr/images/wdes/0_4.5849d88e.png&quot;);"></div>
                                <div class="manage-info-content">
                                    <h3>프론트엔드 개발자 (4년 이상)</h3>
                                    <div>
                                        <p>한국모바일결제</p>
                                        <span>서울·한국</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="manage-info">
                    <div class="manage-title">
                        <h2>좋아요</h2>
                        <a href="/mypage/likes" class="">
                            총 <span class="likes-count">5</span>개 전체보기
                            <svg width="12" height="12" viewBox="0 0 12 12">
                                <path fill="currentColor"
                                    d="M3.345 9.72a.75.75 0 0 0 1.06 1.06l4.25-4.25a.75.75 0 0 0 0-1.06l-4.25-4.25a.75.75 0 0 0-1.06 1.06L7.065 6l-3.72 3.72z"></path>
                            </svg>
                        </a>
                    </div>
                    <ul class="likes-list">
                        <li class="manage-info-li">
                            <a href="/wd/173529" class="">
                                <div class="manage-info-logo"
                                     style="background-image: url(&quot;https://static.wanted.co.kr/images/wdes/0_4.482feb4d.jpg&quot;);"></div>
                                <div class="manage-info-content">
                                    <h3>스크린앱개발팀 앱 개발 및 관리 팀장</h3>
                                    <div>
                                        <p>카카오VX</p>
                                        <span>경기·한국</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="manage-info-li">
                            <a href="/wd/173553" class="">
                                <div class="manage-info-logo"
                                     style="background-image: url(&quot;https://static.wanted.co.kr/images/wdes/0_4.5847db43.png&quot;);"></div>
                                <div class="manage-info-content"><h3>Android 개발자</h3>
                                    <div>
                                        <p>비모소프트</p>
                                        <span>경기·한국</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="manage-info-li">
                            <a href="/wd/173760" class="">
                            <div class="manage-info-logo"
                                 style="background-image: url(&quot;https://static.wanted.co.kr/images/wdes/0_4.44607544.jpg&quot;);"></div>
                            <div class="manage-info-content">
                                <h3>웹서비스 풀스택 개발자</h3>
                                <div>
                                    <p>시지온</p>
                                    <span>서울·한국</span>
                                </div>
                            </div>
                        </a></li>
                        <li class="manage-info-li">
                            <a href="/wd/173766" class="">
                            <div class="manage-info-logo"
                                 style="background-image: url(&quot;https://static.wanted.co.kr/images/wdes/0_4.3cc734fa.jpg&quot;);"></div>
                            <div class="manage-info-content">
                                <h3>백엔드 개발자(3년 이상)</h3>
                                <div>
                                    <p>넥스원소프트</p>
                                    <span>서울·한국</span>
                                </div>
                            </div>
                        </a></li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</section>
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="/js/header/header.js"></script>
<script src="/js/mypage/main.js"></script>
</body>
</html>