<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/admin/sidemenu.css">
</head>
<body>
<!-- 사이드 바 -->
<div id="side-bar-wrap" fragment="sidebar">
    <div id="side-bar">
        <div class="side-menu">
            <div>
                <div class="menu-title-layout">
                    <div class="menu-title">
                        <div class="menu-name">
                            MENU
                        </div>
                    </div>
                </div>
                <ul class="menu-bar">
                    <li class="menu">
                        <div class="menu-flex">
                            <div>
                                <img src="/images/admin/board-icon.png" class="icon">
                            </div>
                            <a>
                                <span>커뮤니티 관리</span>
                            </a>
                            <div class="triangle-button">
                                <img src="/images/admin/arrow-icon.png"
                                     class="icon triangle-icon triangle">
                            </div>
                        </div>
                        <ul class="menus1 menus" style="display: none;">
                            <!-- <li class="select-menu">
                                <a href="adminPage-boardList.jsp">
                                    <span>전체 게시판</span>
                                </a>
                            </li> -->
                            <li class="select-menu">
                                <a th:href="@{/admins/review/list}">
                                    <span>일반 후기</span>
                                </a>
                            </li>
                            <li class="select-menu">
                                <a th:href="@{/admins/improvement/list}">
                                    <span>개선 요청</span>
                                </a>
                            </li>
                            <li class="select-menu">
                                <a th:href="@{/admins/community/list}">
                                    <span>소통</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu">
                        <div class="menu-flex">
                            <div>
                                <img src="/images/admin/board-icon.png" class="icon">
                            </div>
                            <a>
                                <span>상품권 관리</span>
                            </a>
                            <div class="triangle-button">
                                <img src="/images/admin/arrow-icon.png"
                                     class="icon triangle-icon triangle">
                            </div>
                        </div>
                        <ul class="menus1 menus" style="display: none;">
                            <li class="select-menu">
                                <a th:href="@{/admins/coupon/list}">
                                    <span>상품권 목록</span>
                                </a>
                            </li>
                            <li class="select-menu">
                                <a th:href="@{/admins/coupon/write}">
                                    <span>상품권 등록</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="menu">
                        <div class="menu-flex">
                            <div>
                                <img src="/images/admin/notice-icon.png" class="icon">
                            </div>
                            <a>
                                <span>공지사항 관리</span>
                            </a>
                            <div class="triangle-button">
                                <img src="/images/admin/arrow-icon.png"
                                     class="icon triangle-icon triangle">
                            </div>
                        </div>
                        <ul class="menus2 menus" style="display:none;">
                            <li class="select-menu">
                                <a th:href="@{/admins/notice/list}">
                                    <span>공지사항 목록</span>
                                </a>
                            </li>
                            <li class="select-menu">
                                <a th:href="@{/admins/notice/write}">
                                    <span>공지사항 등록</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="menu">
                        <div class="menu-flex">
                            <div>
                                <img src="/images/admin/board-icon.png" class="icon">
                            </div>
                            <a th:href="@{/admins/inquiry/list}">
                                <span>문의/답변 관리</span>
                            </a>
                        </div>
                    </li>

                    <li class="menu">
                        <div class="menu-flex">
                            <div>
                                <img src="/images/admin/user-icon.png" class="icon">
                            </div>
                            <a th:href="@{/admins/store/list}">
                                <span>업체 관리</span>
                            </a>
                        </div>
                    </li>

                    <li class="menu">
                        <div class="menu-flex">
                            <div>
                                <img src="/images/admin/user-icon.png" class="icon">
                            </div>
                            <a th:href="@{/admins/member/list}">
                                <span>회원정보 관리</span>
                            </a>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>
<!-- 사이드 바 끝-->
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script src="/static/js/admin/sidemenu.js"></script>
</html>