<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>업체 리스트</title>
    <link rel="stylesheet" href="/css/header/header.css" />
    <link rel="icon" href="/images/logo/favicon.png">
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/footer/footer.css">
    <link rel="stylesheet" href="/css/mypage/company-list.css">
    <link rel="stylesheet" href="/css/admin/modal.css"/>
</head>
<body>
<div class="modal">
    <div class="warn-modal">
        <div id="content-wrap"></div>
    </div>
</div>
<div th:replace="~{header/header :: #header}"></div>
<div class="wrapper">
    <nav role="presentation" class="nav-nav">
        <h2 class="nav-title">
            <p>업체 등록 목록</p>
        </h2>
    </nav>
        <section class="body">
            <div class="body-div">
                <div>
                    <button id="delete-btn" class="btn button-root button-outlined">
                        <span class="btn-label">삭제</span>
                    </button>
                </div>
            </div>
            <div class="info-table">
                <table>
                    <thead>
                    <tr>
                        <th class="checkbox-line">
                            <input type="checkbox" id="allSelect">
                        </th>
                        <th>업체명</th>
                        <th>업체 종류</th>
                        <th>주소</th>
                        <th>작성 날짜</th>
                        <th>진행 상태</th>
                        <th>대표 이미지</th>
                    </tr>
                    </thead>
                    <!--답변 미완료 -->
                    <tbody class="store-list">
<!--                    <tr>-->
<!--                        <td class="checkbox-line">-->
<!--                            <input type="checkbox" class="inquiryCheckbox" name="check">-->
<!--                        </td>-->
<!--                        <td>-->
<!--                            스타벅스 등록-->
<!--                        </td>-->
<!--                        <td>Starbucks</td>-->
<!--                        <td>서울 강남 역삼역 231</td>-->
<!--                        <td>2023/07/22</td>-->
<!--                        <td>등록 완료</td>-->
<!--                        <td class="image-wrap">-->
<!--                            <img src="/images/logo/favicon.png" style="width: 100px; height: 100px">-->
<!--                        </td>-->
<!--                    </tr>-->
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>
<footer id="footer" th:replace="~{/footer/footer::footer}"></footer>
</body>
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="/js/mypage/company-list.js"></script>
<script src="/js/admin/modal.js"></script>
</html>