@media (min-width: 1200px){
    .coupon-wrap{
        background: #fff;
    }
}

.coupon-container{
    order: 10;
    max-width:630px;
    margin-top: 23px;
    max-width: 630px;
    position: absolute;
    right: calc((100% - 300px)/2);
}

@media (min-width: 1200px){
    .coupon-container {
        position: absolute;
        right: calc((100% - 200px)/2);
        padding: 1px 0 80px;
        width: 87.72%;
    }
}


.coupon-detail{
    position: relative;
    margin-top: 20px;
}
@media (min-width: 1200px){
    .coupon-content{
        display: inline-block;
    width: calc(100% - 360px);
    vertical-align: top;
    }
}

.coupon-img-wrap{
    position: relative;
    overflow: hidden; 
}

.img-wrap{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: flex-start;
    padding-bottom: 4px;
    height: auto;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    overscroll-behavior: contain;
}

.coupon-img{
    scroll-snap-align: start;
    position: relative;
    width: 100%;
    flex-shrink: 0;
    padding-bottom: 70%;
}

.coupon-img > img{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 4px;
    object-fit: cover;
    outline: 1px solid rgba(0,0,0,.05);
    outline-offset: -1px;
}

.coupon-title{
    margin: 40px 0 30px;
}

.coupon-title>h2{
    color: #333;
    font-size: 22px;
    font-weight: 600;
    margin: 0 0 10px;
    word-break: keep-all;
    word-wrap: break-word;
}

.coupon-title >div>h6{
    color: #999;
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    display: inline-flex;
}

.coupon-title >div>h6>a{
    color: #333;
    position: relative;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: auto;
    line-height: 1.4;
}

.coupon-title >div>h6:after{
    content: "";
    display: block;
    clear: both;
}
@media (min-width: 1200px){
    .coupon-location-name{
        display: inline-block;
    }
}

.coupon-title >div>span{
    padding: 0 10px;
    position: relative;
    white-space: nowrap;
    margin-left: 10px;
    color: #999;
}

.coupon-title >div>span::before{
    content: "";
    display: block;
    width: 1px;
    height: 12px;
    background: #e1e2e3;
    position: absolute;
    top: 4px;
    left: 0;
}

.coupon-location-dot{
    margin: 0 5px;
    top: -3px;
    position: relative; 
}

.coupon-title >div::after{
    display: block;
    content: "";
    clear: both;
}

.coupon-hash-tag-wrap{
    margin-top: 20px;
}

.coupon-hash-tag-wrap>ul>li{
    display: inline-block;
}


.coupon-hash-tag-wrap>ul>li>a{
    display: inline-block;
    margin-right: 6px;
    margin-bottom: 10px;
    padding: 9px 14px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    color: #333;
    background-color: #f3f5f8;
    border-radius: 25px;
}

.hash-tag-end::after{
    display: block;
    content: "";
    clear: both;
}

@media (min-width: 1200px){
    .coupon-content-container{
        margin-bottom: 60px;
        padding-right: 20px;
    }
}

.coupon-content-container{
    padding: 30px;
    color: #333;
    font-size: 16px;
    line-height: 1.75;
}

.coupon-content-container p{
    color: #333;
    font-weight: 400;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.coupon-content-container h6{
    margin: 20px 0 0;
    font-weight: 600;
    color: #333;
    font-size: 16px;
    line-height: 1.75;
}

.coupon-content-end{
    margin: 0;
}

@media (min-width: 1200px){
    .coupon-map-wrap{
        margin-top: 20px;
    }
}

.coupon-map-wrap{
    margin: 40px 0;
}

.coupon-map-wrap>div{
    margin-bottom: 20px;
}

.coupon-map-wrap .coupon-using-location{
    color: #999;
    width: 80px;
}
.coupon-map-wrap .coupon-using-location-detail,
.coupon-map-wrap .coupon-using-location{
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    vertical-align: text-top;
}

.coupon-map-wrap .coupon-using-location-detail{
    color: #333;
    width: calc(100% - 80px);
}

.map-img-wrap{
    display: block;
    width: 100%;
    height: 100%;
}

.map-img-wrap>img{
    display: block;
    width: 100%;
    background-size: cover;
    background-position: 50%;
}

@media (min-width: 1200px){
    .site-logo{
        border-radius: 3px;
        border: 1px solid #e1e2e3;
        padding: 20px;
    }
}

.site-logo{
    margin: 80px 0 0;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    background: #fff;
}

.site-logo .logo-name{
    display: flex;
    align-items: center;
    flex-direction: row;
    text-align: left;
}

.site-logo .logo{
    background-position: 50%;
    background-size: contain;
    width: 50px;
    height: 50px;
    box-shadow: 0 0 1px 0 rgba(0,0,0,.1);
    margin-right: 15px;
    background-repeat: no-repeat;
}

.site-logo h5{
    color: #333;
    font-size: 15px;
    font-weight: 600;
    margin: 0 0 5px;
    word-break: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding-right: 10px; 
}

.site-logo h6{
    color: #999;
    font-size: 15px;
    font-weight: 600;
    margin: 0;
    padding-right: 10px;
}

.site-logo .logo-select{
    border: 1px solid #e1e2e3;
    padding: 0 20px;
    min-width: 64px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    --button-color: #36f;
    color: #36f;;
    box-shadow: 0 0 0 1px var#36f inset;
    border-radius: 1000px;
    background-color: #fff;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    box-sizing: border-box;
    line-height: normal;
    cursor: pointer;
    white-space: nowrap;
}

.logo-select-btn-label{
    width: 100%;
    font-size: inherit;
    font-weight: inherit;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    color: inherit;
}

.logo-select-btn{
    overflow: hidden;
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: inherit;
    opacity: 0;
    background-color: #36f;
    transition: opacity .2s ease;
    will-change: opacity;
}

.using-infromation-container{
    margin-top: 10px;
    border-radius: 5px;
    background-color: #f3f5f8;
}

.using-information{
    padding: 25px 30px;
    display: flex;
    align-items: center;
}

.using-information-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wraning-content{
    margin: 0 20px;
    font-size: 12px;
    font-weight: 700;
    line-height: 22px;
    color: #333;
}

.break-xs{
    display: none;
}

.down-btn-wrap{
    display: flex;
    align-items: inherit;
    justify-content: inherit;
}

.down-btn{
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    flex-shrink: 0;
    font-size: inherit;
}

/* 오른쪽 메뉴 */
.coupon-buy-wrap{
    order: 12;
    width: 340px;
    position: absolute;
    right: calc((100% - 1060px)/2);
}

.coupon-buy-container>header{
    margin-top: 23px;
    width: 340px;
    border: 1px solid #e1e2e3;
    background-color: #fff;
    padding: 24px 20px;
    border-radius: 3px;
}

.coupon-price-container>h3{
    font-size: 15px;
    font-weight: 600;
    letter-spacing: normal;
    text-align: left;
    color: #333;
}

.coupon-price-container>ul{
    overflow: hidden;
    margin: 24px 0; 
}

.coupon-price-container>ul>li{
    float: left;
    width: 50%;
    letter-spacing: normal;
    text-align: left;
}

.coupon-book-mark{
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background-color: #fff;
    border: 1px solid #36f;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: normal;
    color: #36f;
    text-align: center;
}

.coupon-book-mark>svg{
    margin-right: 8px;
}

.coupon-buy-btn-wrap{
    display: flex;
}

.coupon-buy-btn-container{
    order: 0;
    flex: 1 1;
    align-self: auto;
}

.coupon-buy-btn{
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background-color: #36f;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: normal;
    color: #fff;
    text-align: center;
}

.coupon-heart-btn-wrap{
    display: flex;
    align-items: center;
}

.coupon-heart-btn{
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    box-sizing: border-box;
    line-height: normal;
    border: none;
    cursor: pointer;
    white-space: nowrap;
    margin-left: 12px;
    margin-right: 12px;
    padding: 0 14px;
    width: 32px;
    height: 32px;
    font-size: 13px;
    font-weight: 600;
    color: #171717;
    font-weight: 500;
    -webkit-box-shadow: inset 0 0 0 1px #e1e2e4;
    box-shadow: inset 0 0 0 1px #e1e2e4;
    background-color: #fff;
}

.qty-btn-label{
    width: 100%;
    font-size: inherit;
    font-weight: inherit;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    color: inherit;  
}

.heart-svg-wrap{
    font-size: 1.2em;
}

.heart-svg-container{
    display: flex;
    align-items: inherit;
    justify-content: inherit;
}

.heart-svg{
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    flex-shrink: 0;
    font-size: inherit;
}

.qty-btn-span{
    overflow: hidden;
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: inherit;
    opacity: 0;
    background-color: #171717;
    transition: opacity .2s ease;
    will-change: opacity;
}

.coupon-price-container>ul>li>h4{
    font-size: 14px;
    font-weight: 600;
    color: #999;
    margin-bottom: 8px;
    line-height: 1.2;
}

.coupon-price-container>ul>li>p{
    font-size: 15px;
    color: #333;
    font-weight: 600;
}


.qty-btn{
    margin-top: 4px;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    background-color: #36f;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: normal;
    color: #fff;
    text-align: center;
}

.qty-wrap{
    display: flex;
}


@media (max-width: 900px){
    .coupon-wrap {
        display: flex;
        flex-direction: column;
        background: #fff;
    }
    .coupon-container{
        max-width: 860px;
        position :static;
    }
    .coupon-buy-wrap{
        position :static;
    }

    .asdie-css-header{
        width: 860px !important;
    }
    .right-arrow-wrap{
        display: none;
    }
    .left-arrow-wrap{
        display: none;
    }
    .location-category-wrap{
        display: block;
        margin: 0 auto;
    }

    .location-category{
        margin-bottom: 10px;
    }

    .list-container > ul li {
        width: 200px;
        padding: 0 10px;
        list-style: none;
        display: inline-block;
        vertical-align: top;
    }

    .line-css {
        border-bottom: 1px solid #e1e2e3;
        margin: 0 auto 20px;
        width: 818px;
    }

}
