<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>나의 작성글</title>
    <link rel="stylesheet" href="/css/common.css"/>
    <link rel="stylesheet" href="/css/header/header.css"/>
    <link rel="stylesheet" href="/css/mypage/my-posts.css">
</head>
<body>
<div th:replace="~{header/header :: #header}"></div>
<div class="Padding_padding___Nyki"></div>
<div class="communityProfile modal-overlay">
    <main class="communityProfile-main"><h1>MY 커뮤니티</h1>
        <!--        유저 정보-->
        <article class="userProfile">
            <div class="userProfile-mobileHeader">
                <button class="UserProfile-backButton" type="button">
                    <span class="SvgIcon_SvgIcon__root__8vwon userProfile-arrowLeft">
                        <svg class="SvgIcon_SvgIcon__root__svg__DKYBi" viewBox="0 0 18 18"><path
                                d="m6.045 9 5.978-5.977a.563.563 0 1 0-.796-.796L4.852 8.602a.562.562 0 0 0 0 .796l6.375 6.375a.563.563 0 0 0 .796-.796L6.045 9z"></path></svg></span>
                </button>
            </div>
            <div class="userProfile-profileContainer">
                <div class="userProfile-profileAvatar">
                    <div class="userAvatar-avatar userProfile-avatar"><img
                            src="https://static.wanted.co.kr/oneid-user/LXpMheKRQzVWbA8p6zzxDf/840ef0e7bf67618d2d3ecb569d77e6fab2bfaf2efdff5f4863cd4244885d30d4"
                            alt=""></div>
                    <div class="userProfile-userProfileInfo">
                        <div class="userProfile-username">김광민</div>
                        <div class="authorInfo userProfile_profileBadges">
                            <div class="userInfo-user grade-color">새싹</div>
                            <div class="userInfo-user">서울</div>
                        </div>
                    </div>
                </div>
                <div class="userProfile-tagsPanel"><h3>관심지역</h3>
                    <ul class="UserProfile-tagList">
                        <li class="userProfile-tag">서울</li>
                        <li class="userProfile-tag">강원도</li>
                    </ul>
                </div>
                <button type="button" class="userProfile-profileEditButton" id="show-modalbtn">
                    <span class="SvgIcon_SvgIcon__root__8vwon"><svg class="SvgIcon_SvgIcon__root__svg__DKYBi"
                                                                    viewBox="0 0 24 24"><path fill-rule="evenodd"
                                                                                              clip-rule="evenodd"
                                                                                              d="M17.9338 2.08059C17.5629 1.80534 17.0366 1.83583 16.7002 2.17212L3.43579 15.4323L3.33867 15.5461C3.22211 15.7068 3.1582 15.9013 3.1582 16.1023V19.8947L3.16685 20.0233C3.22958 20.4857 3.62596 20.8421 4.10558 20.8421H7.2678L7.39635 20.8335C7.85877 20.7707 8.21517 20.3744 8.21517 19.8947L8.20652 19.7662C8.14379 19.3038 7.74742 18.9474 7.2678 18.9474H5.05168V16.4956L13.2631 8.28674L15.7123 10.7359L9.7494 16.6985L9.65767 16.8047C9.38244 17.1756 9.41297 17.7019 9.74927 18.0383C10.1192 18.4083 10.719 18.4083 11.0891 18.0384L21.8281 7.30155L21.9198 7.1953C22.195 6.82447 22.1645 6.29818 21.8283 5.96181L18.04 2.17233L17.9338 2.08059ZM17.0521 9.39616L19.8181 6.63032L17.3688 4.18232L14.6031 6.94717L17.0521 9.39616Z"></path></svg></span>
                    <span>수정하기</span>
                </button>
            </div>
        </article>
        <div class="communityProfile-body">
            <div class="communityProfile-header"><h2>내 활동</h2>
                <ul class="communityProfile-tabs">
                    <li class=""><a href="/community/my/recents">최근본</a></li>
                    <li class="communityProfile-current"><a href="/community/my/posts">작성글</a></li>
                    <li class=""><a href="/community/my/comments">작성댓글</a></li>
                    <li class=""><a href="/community/my/likes">좋아요</a></li>
                </ul>
            </div>
            <div>
                <article class="postItem">
                    <div class="postItem-top">
                        <a href="/community/profile/LXpMheKRQzVWbA8p6zzxDf">
                            <div class="authorBox-authorBox">
                                <div class="authorBox-horizontalBox">
                                    <div class="authorBox-avatarWrapper avatar-wrapper">
                                        <div class="userAvatar authorBox-authorBox-avatar avatar">
                                            <img src="https://static.wanted.co.kr/oneid-user/LXpMheKRQzVWbA8p6zzxDf/840ef0e7bf67618d2d3ecb569d77e6fab2bfaf2efdff5f4863cd4244885d30d4"
                                                 alt=""></div>
                                    </div>
                                    <span class="authorBox-authorBox_username username">김광민</span></div>
                                <span class="authorBox-authorBox-create create-time">2023.06.22</span></div>
                        </a></div>
                    <a class="postItem-body" href="/community/post/9371">
                        <h3 class="postItem-title">글 제목</h3>
                        <p class="postItem-content">내용</p>
                        <div class="postItem-bottom">
                            <div class="button-lgb postItem-like">
                                <svg width="18" height="18" viewBox="0 0 18 18">
                                    <path fill="currentColor"
                                          d="M13.353 2.214c.082.164.15.332.204.502.325 1.032.13 2.08-.396 3.092l-.105.191L16.253 6a.75.75 0 0 1 .743.648l.007.102v5.75a.75.75 0 0 1-.106.385l-.058.084-3.004 3.75a.75.75 0 0 1-.472.273L13.25 17H9.22a.75.75 0 0 1-.101-1.493l.102-.007h3.668l2.614-3.264V7.5h-3.91a.75.75 0 0 1-.604-1.195l.066-.077c.137-.14.36-.415.584-.778.5-.808.702-1.6.487-2.283a1.858 1.858 0 0 0-.113-.278c-.278-.551-1.075-.442-1.075-.056a3.17 3.17 0 0 1-.777 2.125c-.293.338-.59.555-.774.647l-.472.292c-.89.568-1.459 1.04-1.762 1.409l-.097.128-.058.095v.062l-.004.016-.006.093a.75.75 0 0 1-.641.641l-.102.007-.102-.007a.75.75 0 0 1-.648-.743V7.5H2.496v8h2.999l-.001-4.535.007-.102a.75.75 0 0 1 1.493.102v5.286l-.007.102a.75.75 0 0 1-.743.648H1.747l-.102-.007a.75.75 0 0 1-.648-.743v-9.5l.007-.102A.75.75 0 0 1 1.747 6h4.498l.066.005c.387-.38.92-.796 1.621-1.256l.472-.3.253-.154c.07-.035.217-.143.37-.32.226-.26.37-.576.403-.969l.008-.173c0-2.082 2.972-2.491 3.915-.619z"></path>
                                </svg>
                                <!--                                좋아요 갯수-->
                                <span class="button-count count">0</span></div>
                            <div class="button-lgb postItem-comments button-lgb-color">
                                <svg width="18" height="18" viewBox="0 0 18 18">
                                    <path fill="#3366FF"
                                          d="M1 8c0 3.859 3.623 7 8 7 .317 0 .593-.026.954-.088l.394-.074.206-.043 3.295 2.088c.118.076.25.114.38.117h.042a.753.753 0 0 0 .547-.259l.065-.089a.748.748 0 0 0-.143-.969l-.088-.066-1.013-.641a5.207 5.207 0 0 1-.405-.295c-.097-.084-.199-.149-.263-.374-.033-.166.009-.317.084-.393a.934.934 0 0 1 .284-.197C15.631 12.694 17 10.432 17 8c0-3.861-3.622-7-8-7-4.377 0-8 3.14-8 7z"></path>
                                </svg>
                                <!--                                댓글 갯수-->
                                <span class="button-count count">2</span></div>
                        </div>
                    </a></article>
            </div>
            <div class="scrollObserver"></div>
        </div>
    </main>
</div>
<!--수정하기 모달-->
<div id="modal" class="modal-root">
    <div class="modal-root-backdrop"></div>
    <div class="modal-root-body myProfileModifyModal">
        <div class="modalTitle-root myProfileModifyModal-modalHeader"><h2
                class="myProfileModifyModal-modalTitle">커뮤니티 프로필</h2>
            <button type="button" aria-label="close" class="myProfileModifyModal-closeButton"><span
                    class="SvgIcon_SvgIcon__root__8vwon"><svg class="SvgIcon_SvgIcon__root__svg__DKYBi"
                                                              viewBox="0 0 24 24"><path
                    d="M17.97 19.03a.749.749 0 1 0 1.06-1.06l-6.5-6.5a.749.749 0 0 0-1.06 0l-6.5 6.5a.749.749 0 1 0 1.06 1.06L12 13.06l5.97 5.97zM12 10.94 6.03 4.97a.749.749 0 1 0-1.06 1.06l6.5 6.5a.749.749 0 0 0 1.06 0l6.5-6.5a.749.749 0 1 0-1.06-1.06L12 10.94z"></path></svg></span>
            </button>
        </div>
        <form>
            <div class="modalContent-root myProfileModifyModal-modalContent">
                <div class="myProfileModifyModal-modalContentPanel"><h3>커뮤니티 기본 정보</h3>
                    <p>원티드 커뮤니티에서 사용되는 정보입니다.</p>
                    <div class="avatarCrop">
                        <div class="avatarCrop-uploadImage">
                            <input type="file">
                            <button class="avatarCrop-takePhoto" type="button" aria-label="take photo"><img
                                    src="https://static.wanted.co.kr/oneid-user/LXpMheKRQzVWbA8p6zzxDf/840ef0e7bf67618d2d3ecb569d77e6fab2bfaf2efdff5f4863cd4244885d30d4"
                                    alt="profile"></button>
                            <button class="avatarCrop-takePhotoIcon" type="button" aria-label="take photo">
                                <svg width="15" height="16" viewBox="0 0 15 16" fill="currentColor">
                                    <path d="m9.62 2.405.082-.005h2.026a.6.6 0 0 1 .6.6v1h1a.6.6 0 0 1 .595.519l.006.081v7.2c0 1.074-.72 1.8-1.8 1.8H2.902c-1.081 0-1.8-.726-1.8-1.8v-6c0-1.073.72-1.8 1.8-1.8H9.1V3a.6.6 0 0 1 .52-.595ZM7.502 5.6a3.2 3.2 0 1 0 0 6.4 3.2 3.2 0 0 0 0-6.4Zm0 1.2a2 2 0 1 1 0 4 2 2 0 0 1 0-4Z"></path>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <h4>이름 <span class="myProfileModifyModal-required">*</span></h4>
                    <div class="myProfileModifyModal-radioGroup">
                        <input id="radio-username-default" type="radio" name="usernameType" value="default" checked="">
                        <label for="radio-username-default">기본</label>
                        <input id="radio-username-nickname" type="radio" name="usernameType" value="nickname">
                        <label for="radio-username-nickname">닉네임</label>
                    </div>
                    <div class="communityNicknameInput">
                        <div class="communityNicknameInput-inputBox">
                            <input type="text" name="nickname" class="" placeholder="한글/영어/숫자만 가능(2~8자)" value="김광민"
                                   disabled="">
                        </div>
                        <p>원티드 회원가입 시 등록된 이름입니다.</p>
                    </div>
                    <h4>한 줄 소개</h4>
                    <textarea name="description" placeholder="간단한 자기소개 글을 작성해 주세요."></textarea>
                    <p class="myProfileModifyModal-charactersCount">0/150</p>
                </div>
                <div class="myProfileModifyModal-modalContentPanel">
                    <h3>외부 링크</h3>
                    <p>개인 웹사이트나 포트폴리오 링크를 입력해 주세요.</p>
                    <h4>링크</h4>
                    <input type="text" name="external_url" placeholder="https://" value="">
                </div>
            </div>
            <div class="modalActions-root myProfileModifyModal-modalActions">
                <button type="submit" class="myProfileModifyModal-saveButton">저장하기</button>
            </div>
        </form>
    </div>
</div>
</div>
</body>
<script>
    //모달창 보여주기 ,수정하기 버튼
    const editbtn = document.getElementById("show-modalbtn").addEventListener("click", function () {
        // document.getElementsByClassName("communityProfile")[0].style.display = "none";
        document.getElementById("modal").style.display = "flex";
    });


    // X 버튼을 클릭했을 때 모달 창 닫기
    document.getElementsByClassName("myProfileModifyModal-closeButton")[0].addEventListener("click", function () {
        document.getElementById("modal").style.display = "none";
    });

</script>
</html>