<!DOCTYPE html>
<html lang="ko_KR">
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>Travel Maker OneID</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <style>
            .async-hide {
                opacity: 0 !important;
            }
        </style>
<!--        <link rel='stylesheet' type='text/css' media='screen' href='main.css'>-->
        <link rel="stylesheet" href="/css/login/pass-common.css">
        <link rel="stylesheet" href="/css/login/password-email.css">
    </head>
    <body>
        <div id="pass__next">
            <div class="pass-div1">
                <div class="pass-div2">
                    <div class="pass-container">
                        <div class="pass-header-container">
                            <div class="pass-email-logo-left"></div>
                            <div class="pass-email-logo-container">
                                <p
                                    color="var(--theme-palette-colors-black-100)"
                                    class="pass-email-logo-p">비밀번호 재설정</p>
                            </div>
                            <div class="pass-email-logo-right"></div>
                        </div>
                        <div class="pass-body-container">
                            <p
                                color="var(--theme-palette-colors-black-100)"
                                class="pass-body-p1">비밀번호를 변경했어요.</p>
                            <p
                                color="var(--theme-palette-colors-gray-600)"
                                class="pass-body-p2">이제 아래 버튼을 눌러 로그인을 계속하세요.</p>
                            <button type="button" class="pass-email-goto-main-button" onclick="location.href='/accounts/login/login'">
                                <span
                                    color="var(--theme-palette-colors-black-100)"
                                    class="pass-email-goto-main-span">로그인으로 이동</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>