.NavBar_className__y2qGg {
    width: 100%;
    top: 0;
    background-color: #fff;
    box-shadow: 0 1px 0 0 rgba(0,0,0,.1);
    z-index: 800;
}

.MainBar_MainBar__40DX7 {
    position: relative;
    max-width: 1060px;
}

@media (min-width: 1200px){
    .MainBar_MainBar__40DX7 {
        width: 87.72%;
    }
}

@media (min-width: 1200px){
    .MainBar_MainBar__40DX7 {
        margin: 0 auto;
        height: 50px;
    }
}

.MainBar_MainBar_nav__kwHBF {
    flex-direction: row;
    flex-wrap: wrap;
}

.MainBar_MainBar_nav__kwHBF, .MainBar_MainBar_nav_top__wXy52 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.MainBar_MainBar_nav_top_logo__Y_Q5D {
    display: flex;
}

.MainBar_MainBar_nav_top__wXy52 .MainBar_hamberger__yQfei {
    margin-top: -2px;
    margin-right: 15px;
}

.MainBar_MainBar_nav_top__wXy52 .MainBar_hamberger__yQfei img {
    image-rendering: -webkit-optimize-contrast;
}

.MainBar_MainBar_logo__bGymr {
    display: block;
}

.MainBar_MainBar_nav_top__wXy52>button[id=gnbSignupBtn] {
    display: none;
    color: #36f;
    font-size: 14px;
    line-height: 32px;
    height: 34px;
    border: 1px solid #36f;
    border-radius: 17px;
    padding: 0 14px;
}

.Menu_className__gGcYQ {
    height: inherit;
    text-align: center;
    margin: 0;
}

.Menu_className__gGcYQ li {
    height: inherit;
    display: inline-block;
    position: relative;
}

.Menu_className__gGcYQ li::after {
    height: 100%;
    content: "";
    display: inline-block;
    vertical-align: middle;
}

.Menu_className__gGcYQ li::before {
    display: none;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    border-bottom: 2px solid #258bf7;
    pointer-events: none;
    content: "";
}

.Menu_className__gGcYQ li a {
    position: relative;
    vertical-align: middle;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    padding: 15px;
    display: inline-block;
}

.Aside_className___e5Bi {
    height: 100%;
    padding: 10px 0;
}

.Aside_className___e5Bi>ul {
    height: 100%;
    margin: 0;
}

.Aside_className___e5Bi>ul li {
    position: relative;
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.Aside_className___e5Bi>ul li>* {
    height: 100%;
    font-size: 14px;
    color: #333;
    font-weight: 600;
    line-height: 1;
}

@media (min-width: 1200px){
    .Aside_className___e5Bi>ul li>* {
        padding: 0 10px;
    }
}

.Aside_className___e5Bi>ul li .searchButton {
    position: relative;
    margin-top: 5px;
}

.Aside_className___e5Bi>ul li .signUpButton {
    margin-right: 6px;
    line-height: 1.4;
}

.Aside_className___e5Bi>ul .leftDivision {
    display: inline-flex;
}

.Aside_className___e5Bi>ul .leftDivision::before {
    display: block;
    content: "";
    width: 1px;
    height: 10px;
    background-color: #e1e2e3;
    margin: auto 10px;
}

.Aside_className___e5Bi>ul li a {
    display: inline-block;
    vertical-align: bottom;
}

.Aside_className___e5Bi>ul li .dashboardButton {
    font-size: 13px;
    color: #666;
    line-height: 30px;
    height: 30px;
    border: 1px solid #e1e2e3;
    border-radius: 15px;
    padding: 0 10px;
    margin-left: 15px;
    font-weight: 400;
}

@media (min-width: 1200px){
    .Aside_visibleMenu__Dki9n {
        display: none!important;
    }
}

.Aside_className___e5Bi>ul li .menuButton {
    margin-right: 10px;
    padding-left: 5px;
}

@media (min-width: 1200px){
    .Aside_visibleMenu__Dki9n {
        display: none!important;
    }
}

.Padding_padding___Nyki {
    height: 50px;
}

.Menu_className__gGcYQ li:hover:before{
    display: block;
}

