@media (min-width: 1200px){
    .MainBar_MainBar__40DX7 {
        width: 87.72%;
    }
}

@media (min-width: 1200px){
    .MainBar_MainBar__40DX7 {
        margin: 0 auto;
        height: 50px;
    }
}

@media (min-width: 1200px){
    .Aside_className___e5Bi>ul li>* {
        padding: 0 10px;
    }
}

@media (min-width: 1200px){
    .Aside_visibleMenu__Dki9n {
        display: none!important;
    }
}

@media (min-width: 1200px){
    .Aside_visibleMenu__Dki9n {
        display: none!important;
    }
}