html {
    font-size: 10px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

button, div, h1, h2, h3, h4, h5, h6, input, p, select, span, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: inherit;
}

.content-wrapper *,
.main-content :after,
.content-wrapper :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 14px;
    color: #333;
    background-color: #f8f8f8;
    line-height: 1.42857143;
    font-family: Pretendard Variable,Pretendard JP Variable,-apple-system,system-ui,BlinkMacSystemFont,Roboto,Segoe UI,Helvetica,Arial,Apple SD Gothic Neo,Nanum Gothic,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,sans-serif;
}

.content-wrapper {
    width: 791px;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    padding-top: 60px;
}

.content-wrapper .main-content {
    position: relative;
    width: 100%;
}

.content-wrapper .main-content>h1 {
    margin-bottom: 16px;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #000;
    pointer-events: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

@media (min-width: 1200px){
    .userProfile-wrapper .userProfile-mobileHeader {
        display: none;
    }
}

.userProfile-wrapper .userProfile-mobileHeader {
    height: 48px;
    /*display: -ms-flexbox;*/
    display: flex;
    /*-ms-flex-align: center;*/
    align-items: center;
    padding: 7px 30px 0 15px;
    background: #fff;
}

.userProfile-wrapper .userProfile-mobileHeader .userProfile-backBtn {
    width: 24px;
    height: 24px;
}

.userProfile-wrapper .userProfile-mobileHeader .userProfile-backBtn .userProfile-leftArrow {
    height: 100%;
}

.svg-root {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: inherit;
    align-items: inherit;
    -ms-flex-pack: inherit;
    justify-content: inherit;
}

/*svg:not(:root) {*/
/*    overflow-clip-margin: content-box;*/
/*    overflow: hidden;*/
/*}*/

.userProfile-wrapper
.userProfile-mobileHeader
.userProfile-backBtn
.userProfile-leftArrow>svg {
    width: 20px;
    height: 20px;
}

.svgIcon-rootSvg {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    font-size: inherit;
}

.userProfile-wrapper
.userProfile-container {
    position: relative;
    width: 100%;
    min-height: 160px;
    border-radius: 5px;
    border: 1px solid #e1e2e4;
    background-color: #fff;
    padding: 29px;
}

.userProfile-wrapper
.userProfile-container
.userProfile-userAvatar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    width: calc(100% - 140px);
}

.userProfile-wrapper
.userProfile-container
.userProfile-userAvatar {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.userAvatar>img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
}

.userAvatar {
    width: 28px;
    height: 28px;
    border: 1px solid #ececec;
    border-radius: 50%;
    overflow: hidden;
    background-color: #d8d8d8;
    background-image: url(https://static.wanted.co.kr/images/profile_default.png);
    background-size: cover;
}

img {
    vertical-align: middle;
}

.userProfile-wrapper
.userProfile-container
.userProfile-userInfo {
    width: calc(100% - 120px);
}

.userProfile-wrapper
.userProfile-container
.userProfile-userInfo
.userProfile-userName {
    display: block;
    font-weight: 700;
    font-size: 18px;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: keep-all;
    white-space: nowrap;
    line-height: 1.3;
    font-size: 22px;
    font-weight: 600;
}

.userInfo-badge[data-id="518"] {
    color: #8958fa;
}

.userInfo-badge[data-id="511"] {
    color: #008ae2;
}

.userInfo-badge[data-id="530"] {
    color: #f07c08;
}

.userProfile-wrapper .userProfile-container .userProfile-badge {
    margin-top: 8px;
}

.userCareer {
    display: -ms-flexbox;
    display: flex;
    white-space: nowrap;
}

.userProfile-wrapper .userProfile-container .userProfile-badge>div:not(:last-child) {
    margin-right: 6px;
}

.userProfile-wrapper .userProfile-container .userProfile-badge>div {
    display: block;
    height: 21px;
    padding: 4px;
    font-size: 12px;
    line-height: 15px;
}

.userCareer>div:not(:last-child) {
    margin-right: 4px;
}

.userProfile-wrapper .userProfile-container .userProfile-badge>div {
    display: block;
    height: 21px;
    padding: 4px;
    font-size: 12px;
    line-height: 15px;
}

.userCareer>div:last-child {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 19px;
}

.userInfo-badge {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 4px;
    height: 19px;
    background: #f6f6f6;
    border-radius: 4px;
    font-weight: 700;
    font-size: 10px;
    line-height: 19px;
    color: #888;
}

.userProfile-wrapper .userProfile-container .userProfile-tagsPanel {
    margin-top: 20px;
}

.userProfile-wrapper .userProfile-container .userProfile-tagsPanel:before {
    display: block;
    content: "";
    height: 1px;
    width: 100%;
    background-color: #ececec;
    margin-bottom: 19px;
}

.content-wrapper *, .content-wrapper :after, .content-wrapper :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.userProfile-wrapper .userProfile-container .userProfile-tagsPanel h3 {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 12px;
}

.userProfile-wrapper .userProfile-container .userProfile-tagsPanel ul.userProfile-tagList {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    grid-column-gap: 7px;
    -webkit-column-gap: 7px;
    -moz-column-gap: 7px;
    column-gap: 7px;
    grid-row-gap: 10px;
    row-gap: 10px;
}

.userProfile-wrapper .userProfile-container .userProfile-tagsPanel li.userProfile-tag {
    display: -ms-flexbox;
    display: flex;
    padding: 6px 8px;
    height: 26px;
    /*width: -webkit-fit-content;*/
    width: -moz-fit-content;
    width: fit-content;
    background: #fff;
    border: 1px solid #ececec;
    border-radius: 50px;
    font-weight: 500;
    font-size: 12px;
    color: #888;
    line-height: 13px;
}

ol, ul {
    list-style: none;
}

.userProfile-wrapper .userProfile-container .userProfile-editBtn {
    position: absolute;
    top: 52px;
    right: 30px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 140px;
    height: 40px;
    border: 1px solid #e1e2e3;
    border-radius: 9999px;
    font-size: 18px;
    font-weight: 600;
    color: #333;
    grid-gap: 4px;
    gap: 4px;
}

.userProfile-wrapper .userProfile-container .userProfile-editBtn>span:nth-child(2) {
    font-size: 15px;
}

.content-wrapper .main-content .userProfile-body {
    margin-top: 10px;
    -ms-flex-positive: 1;
    flex-grow: 1;
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid #e1e2e4;
    background-color: #fff;
}

.content-wrapper .main-content .userProfile-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-height: 71px;
    padding-top: 30px;
    padding-left: 30px;
    border-bottom: 1px solid #ececec;
}

.content-wrapper .main-content .userProfile-header>h2 {
    margin-bottom: 21px;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    color: #333;
}

.content-wrapper .main-content .ecoProfile-tabs {
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.content-wrapper .main-content .ecoProfile-tabs>li.ecoProfile-current {
    font-weight: 700;
}

.content-wrapper .main-content .ecoProfile-tabs>li {
    position: relative;
    display: -ms-inline-flexbox;
    display: inline-flex;
    /*-ms-flex-align: top;*/
    /*align-items: top;*/
    height: 40px;
    padding-top: 5px;
    font-size: 15px;
    color: #8a8a8a;
    margin-right: 16px;
}

.content-wrapper .main-content .ecoProfile-tabs>li.ecoProfile-current>a {
    color: #36f;
}

.content-wrapper .main-content .ecoProfile-tabs>li>a {
    color: #8a8a8a;
}

a, a:active, a:hover, a:visited {
    color: inherit;
}


.content-wrapper .main-content .ecoProfile-tabs>li.ecoProfile-current:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    border-radius: 1px;
    background-color: #36f;
}

@media (min-width: 1200px) {
    .postItem-wrapper {
        padding: 29px 29px 30px;
    }
}

.postItem-wrapper {
    display: block;
    margin-bottom: 2px;
    position: relative;
    padding: 15px 14px;
}

@media (min-width: 1200px) {
    .postItem-top {
        margin-bottom: 9px;
    }
}

.postItem-top {
    margin-bottom: 10px;
}

.postItem-top>a:first-child {
    display: -ms-flexbox;
    display: flex;
    width: 0;
}

.userInfo-wrapper {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
}

.userInfo-horizontalBox, .userInfo-verticalArea {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.userInfo-avatarWrapper {
    position: relative;
    margin-right: 7px;
}

.userInfo-avatarSize {
    width: 28px;
    height: 28px;
}

.userAvatar {
    width: 28px;
    height: 28px;
    border: 1px solid #ececec;
    border-radius: 50%;
    overflow: hidden;
    background-color: #d8d8d8;
    background-image: url(https://static.wanted.co.kr/images/profile_default.png);
    background-size: cover;
}

.userAvatar>img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
}

@media (min-width: 1200px) {
    .postItem-top .userName {
        max-width: 399px;
    }
}

.userInfo-userName {
    color: #000;
    font-size: 13px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.userInfo-createAt {
    -ms-flex: none;
    flex: none;
    color: #666;
    font-size: 13px;
    line-height: 100%;
    white-space: nowrap;
}

.userInfo-createAt:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 2px;
    height: 2px;
    margin: auto 6px;
    border-radius: 50%;
    background-color: #939393;
}

@media (min-width: 1200px) {
    .postItem-body {
        width: 730px;
        padding-left: 35px;
    }
}

.postItem-body {
    display: block;
    width: 100%;
    padding-left: 36px;
}

.postItem-title {
    font-size: 19px;
    font-weight: 700;
    color: #333;
    margin-bottom: 5px;
    line-height: 23px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@supports (-webkit-line-clamp:2) and (-webkit-box-orient:vertical) {
    .postItem-content {
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        /*white-space: break-spaces;*/
        word-break: break-all;
        overflow: hidden;
    }
}

@media (min-width: 1200px) {
    .postItem-content {
        margin-bottom: 10px;
        min-height: 40px;
    }
}

.postItem-content {
    font-size: 14px;
    color: #666;
    line-height: 1.43;
    margin-bottom: 13px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.postItem-bottom {
    display: -ms-flexbox;
    display: flex;
}

.postItem-comments, .postItem-like {
    display: -ms-flexbox;
    display: flex;
    color: #666;
}

.button-Btn {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    color: #333;
}

.postItem-comments .count, .postItem-like .count {
    font-size: 12px;
    margin-left: 4px;
    padding: 0.3em 0 0;
}

@media (min-width: 1200px) {
    .postItem-bottom > div + div {
        margin-left: 17px;
    }
}

.postItem-bottom>div+div {
    margin-left: 9px;
}

.Notice {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    position: fixed;
    left: 50%;
    bottom: 0;
    padding: 15px;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    line-height: normal;
    background-color: #1b1c1e;
    border-radius: 8px;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    -webkit-transition: .3s;
    transition: .3s;
    -webkit-box-shadow: 0 4px 4px rgba(0,0,0,.25);
    box-shadow: 0 4px 4px rgba(0,0,0,.25);
    opacity: 0;
    visibility: hidden;
    z-index: 1600;
    width: 360px;
}

.notice-Icon.notice-noIcon {
    display: none;
}

.notice-Icon.notice-green {
    color: #03c803;
}

.notice-Icon {
    position: relative;
    font-size: 18px;
    margin-right: 12px;
}

.notice-Icon .notice-largeCheckIcon {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
}










































































































































































































































