<!DOCTYPE html>
<html lang="ko_KR">
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>Travel Maker OneID</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <style>
            .async-hide {
                opacity: 0 !important;
            }
        </style>
        <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
        <link rel="stylesheet" href="/css/login/pass_common.css">
        <link rel="stylesheet" href="/css/login/password_email.css">
    </head>
    <body>
        <div id="pass__next">
            <div class="pass-div1">
                <div class="pass-div2">
                    <div class="pass-container">
                        <div class="pass-header-container">
                            <div class="pass-email-logo-left"></div>
                            <div class="pass-email-logo-container">
                                <p
                                    color="var(--theme-palette-colors-black-100)"
                                    class="pass-email-logo-p">계정 찾기</p>
                            </div>
                            <div class="pass-email-logo-right"></div>
                        </div>
                        <div class="pass-body-container">
                            <p
                                color="var(--theme-palette-colors-black-100)"
                                class="pass-body-p1">가입된 계정이 없어요.</p>
                            <p
                                color="var(--theme-palette-colors-gray-600)"
                                class="pass-body-p2">다른 전화번호로 계속해보시거나 새로 가입해보세요.</p>
                            <button type="submit" class="pass-email-goto-main-button">
                                <span
                                    color="var(--theme-palette-colors-black-100)"
                                    class="pass-email-goto-main-span">메인으로 돌아가기</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>