<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Travel Maker</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/common.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/information/inquiry-write.css"/>
    <link rel="stylesheet" href="/css/admin/modal.css"/>
    <link rel="stylesheet" href="/css/footer/footer.css">
    <link rel="icon" href="/images/logo/favicon.png">
</head>
<body class="helpcenter-enable">
<div class="modal">
    <div class="warn-modal">
        <div id="content-wrap"></div>
    </div>
</div>
<div  th:replace="~{informations/header/informations-sub-header :: #sub-header}"></div>

<main role="main">
    <section class="breadcrumb"></section>
    <div class="container breadcrumb-container">
        <div class="col-md-9 col-sm-9 col-xs-12 breadcrumb-container-path" style="float:left;">
            <ol class="breadcrumbs">

                <li title="Travel Maker 고객센터">
                    <a href="#">Travel Maker 고객센터</a>
                </li>

                <li title="문의·신고">
                    문의·신고
                </li>

            </ol>

        </div>
    </div>

    <div class="container new-req-page">
        <section class="form-column">
            <h2 class="hc_title rq_title" style="font-size: 1.5em;">문의·신고</h2>
            <div class="form" style="margin-bottom: 40px;">
                <form id="new_request" class="request-form" name="register" method="post">
                    <div class="form-field string required request_custom_fields_360025875831">
                        <label>문의·신고 선택</label>
                        <div class="select-div">
                            <select id="cs-type" name="csType">
                                <option value="INQUIRY">문의</option>
                                <option value="DECLARATION">신고</option>
                            </select>
                        </div>
                    </div>

<!--                    <div class="form-field string required request_custom_fields_360025837872"><label
                            for="request_custom_fields_360025837872">이름</label>
                        <input type="text" th:field="*{}"
                               id="request_custom_fields_360025837872" aria-required="true"
                               class="name-input"
                               placeholder="가입하신 이름를 기입해주세요.">
                    </div>
                    <div id="request_anonymous_requester_name_error" class="notification notification-error notification-inline">요청자 이름:  반드시 입력해야 합니다.</div>-->

<!--                    <div class="form-field string required request_anonymous_requester_email"><label
                            for="request_anonymous_requester_email">이메일 주소</label>
                        <input type="text" name="request[anonymous_requester_email]"
                               id="request_anonymous_requester_email" aria-required="true"
                               class="email-input"
                               placeholder="가입하신 이메일 주소를 기입해주세요.">
                    </div>
                    <div id="request_anonymous_requester_email_error" class="notification notification-error notification-inline">요청자 이메일:  반드시 입력해야 합니다.</div>
                    <div id="request_anonymous_requester_email_format_error" class="notification notification-error notification-inline">요청자 이메일: 이메일 형식이 올바르지 않습니다.</div>-->

                    <div class="form-field string  required  request_subject">
                        <label id="request_subject_label" for="request_subject">제목</label>
                        <input type="text" name="csTitle" id="request_subject" maxlength="150" size="150"
                               class="subject-input"
                               placeholder="문의 또는 신고 제목을 작성해 주세요.">
                    </div>
                    <div id="request_subject_error" class="notification notification-error notification-inline">제목: 반드시 입력해야 합니다.</div>

                    <div class="form-field text  required  request_description">
                        <label id="request_description_label" for="request_description">설명</label>
                        <textarea name="csContent" id="request_description" aria-required="true"
                                  class="description-textarea"
                                  placeholder="상세한 문의 사항을 기입해주세요. 저희 지원 스태프가 영업일 기준 1~2일 이내 가능한 빨리 답변 드릴 수 있도록 노력하겠습니다."></textarea>
                    </div>
                    <div id="request_description_error" class="notification notification-error notification-inline">설명: 반드시 입력해야 합니다.</div>

        <!--            <div class="form-field string  optional  request_custom_fields_360025837612">
                        <label id="request_custom_fields_360025837612_label" for="request_custom_fields_360025837612">연락처</label>
                        <input type="text" name="request[custom_fields][360025837612]"
                               id="request_custom_fields_360025837612" step="1" aria-required="false" class="phone-number-input"
                               placeholder="&quot; - &quot; 없이 번호만 입력">
                    </div>-->

                    <div class="form-field">
                        <label for="request-attachments">
                            첨부 파일
                        </label>
                        <div id="upload-dropzone" class="upload-dropzone">
                            <input type="file" id="request-attachments" multiple>
                            <span>
                                <a>파일 추가</a> 해주세요.
                            </span>
                        </div>

                        <ul id="request-attachments-pool" class="upload-pool"></ul>

                    </div>
                    <div class="form-field boolean  required  request_custom_fields_360025875971">
                        <p id="request_custom_fields_360025875971_hint"><strong>개인정보 수집 및 이용에 대한 동의 내용</strong><br>
                            ①개인정보 수집 항목: 이메일, 연락처<br>
                            ②수집목적: 고객식별, 문의 응대, 서비스 품질 향상 <br>
                            ③보유 및 이용기간: 수집 목적이 달성되면 지체없이 모든 개인정보를 파기합니다. 단, 관계법령에서 일정 기간 정보의 보관을 규정한 경우에 한해 분리 보관 후
                            파기합니다.<br>
                            <br>
                            *위 동의는 거부할 수 있으며, 거부시 해당 문의를 처리할 수 없습니다. </p><label
                            id="request_custom_fields_360025875971_label" for="request_custom_fields_360025875971">동의합니다.</label>
                        <input
                            aria-required="true" aria-describedby="request_custom_fields_360025875971_hint"
                            aria-labelledby="request_custom_fields_360025875971_label" type="checkbox" value="on"
                            class="agree-checkbox"
                            name="request[custom_fields][360025875971]" id="request_custom_fields_360025875971">

                    </div>
                    <div id="request_custom_fields_360025875971_error" class="notification notification-error notification-inline">동의합니다.: 반드시 입력해야 합니다.</div>

                    <footer><input type="button" id="submit-button" name="commit" value="제출" class="btn btn-lg"></footer>

                </form>
            </div>
        </section>
    </div>
</main>
<footer id="footer" th:replace="~{/footer/footer::footer}"></footer>
</body>
<script th:inline="javascript">
    let cs = [[${customServiceDTO}]];
    console.log(cs)
</script>
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/js/information/inquiry-write.js"></script>
<script src="/js/admin/modal.js"></script>
</html>