<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Travel Maker</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/common.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/information/inquiry-write.css"/>
    <link rel="stylesheet" href="/css/admin/modal.css"/>
    <link rel="stylesheet" href="/css/footer/footer.css">
</head>
<body class="helpcenter-enable">
<div class="modal">
    <div class="warn-modal">
        <div id="content-wrap"></div>
    </div>
</div>
<header class="header ">
    <div class="header-inner container clearfix">
        <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="logo">
                    <a href="#">
                        <img src="//theme.zdassets.com/theme_assets/9309779/480a35976bf401a88dd7388d8f5c19d77227cd35.png"
                             alt="원티드로고" id="heder_logo_image">
                    </a>
                    <a href="#">
                        <img src="//theme.zdassets.com/theme_assets/9309779/e5142629ce02b25eae55476f21e3ad5525958812.png"
                             alt="고객센터로고" id="heder_logo_image">
                    </a>
                </div>
            </div>
            <div class="col-md-9 col-sm-8 col-xs-12" id="header-request-btn">
                <nav class="primary-menu menu">
                    <div class="container-menu">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-target=".navbar-mind-collapse"
                                    onclick="location.href='#';">
                                <img src="/images/information/문의신고버튼.png"
                                     id="request_btn_img">
                            </button>
                        </div>
                        <div class="row">
                            <div class="navbar-collapse navbar-mind-collapse main-menu collapse pull-right"
                                 style="padding-right: 13px;">
                                <ul id="drophover" class="nav navbar-nav primary-menu-list-wrap">
                                    <li style="border:1px solid #f5f5f5;border-radius:30px;text-align: center;background-color:#3366FF">
                                        <a href="#"
                                           style="padding:11px 40px 10px 40px;color: #FFFFFF !important;font-weight: 600;">
                                            문의·신고
                                            <img src="/images/information/문의신고버튼.png"
                                                 alt="requests_icon">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>

<main role="main">
    <section class="breadcrumb"></section>
    <div class="container breadcrumb-container">
        <div class="col-md-9 col-sm-9 col-xs-12 breadcrumb-container-path" style="float:left;">
            <ol class="breadcrumbs">

                <li title="Travel Maker 고객센터">
                    <a href="#">Travel Maker 고객센터</a>
                </li>

                <li title="문의·신고">
                    문의·신고
                </li>

            </ol>

        </div>
    </div>

    <div class="container new-req-page">
        <section class="form-column">
            <h2 class="hc_title rq_title" style="font-size: 1.5em;">문의·신고</h2>
            <div class="form" style="margin-bottom: 40px;">
                <form id="new_request" class="request-form" data-form="" data-form-type="request"
                      action="" accept-charset="UTF-8" method="post">
                    <div class="form-field string required request_custom_fields_360025875831">
                        <label>문의·신고 선택</label>
                        <div class="select-div">
                            <select name="request[custom_fields_360025875831]"
                                    id="request_custom_fields_360025875831" aria-required="true">
                                <option>문의</option>
                                <option>신고</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-field string required request_custom_fields_360025837872"><label
                            for="request_custom_fields_360025837872">이름</label>
                        <input type="text" name="request[custom_fields_36002583787]"
                               id="request_custom_fields_360025837872" aria-required="true"
                               class="name-input"
                               placeholder="가입하신 이름를 기입해주세요.">
                    </div>
                    <div id="request_anonymous_requester_name_error" class="notification notification-error notification-inline">요청자 이름:  반드시 입력해야 합니다.</div>

                    <div class="form-field string required request_anonymous_requester_email"><label
                            for="request_anonymous_requester_email">이메일 주소</label>
                        <input type="text" name="request[anonymous_requester_email]"
                               id="request_anonymous_requester_email" aria-required="true"
                               class="email-input"
                               placeholder="가입하신 이메일 주소를 기입해주세요.">
                    </div>
                    <div id="request_anonymous_requester_email_error" class="notification notification-error notification-inline">요청자 이메일:  반드시 입력해야 합니다.</div>
                    <div id="request_anonymous_requester_email_format_error" class="notification notification-error notification-inline">요청자 이메일: 이메일 형식이 올바르지 않습니다.</div>

                    <div class="form-field string  required  request_subject">
                        <label id="request_subject_label" for="request_subject">제목</label>
                        <input type="text" name="request[subject]" id="request_subject" maxlength="150" size="150"
                               class="subject-input"
                               placeholder="문의 또는 신고 제목을 작성해 주세요.">
                    </div>
                    <div id="request_subject_error" class="notification notification-error notification-inline">제목: 반드시 입력해야 합니다.</div>

                    <div class="form-field text  required  request_description">
                        <label id="request_description_label" for="request_description">설명</label>
                        <textarea name="request[description]" id="request_description" aria-required="true"
                                  class="description-textarea"
                                  placeholder="상세한 문의 사항을 기입해주세요. 저희 지원 스태프가 영업일 기준 1~2일 이내 가능한 빨리 답변 드릴 수 있도록 노력하겠습니다."></textarea>
                    </div>
                    <div id="request_description_error" class="notification notification-error notification-inline">설명: 반드시 입력해야 합니다.</div>

                    <div class="form-field string  optional  request_custom_fields_360025837612">
                        <label id="request_custom_fields_360025837612_label" for="request_custom_fields_360025837612">연락처</label>
                        <input type="text" name="request[custom_fields][360025837612]"
                               id="request_custom_fields_360025837612" step="1" aria-required="false" class="phone-number-input"
                               placeholder="&quot; - &quot; 없이 번호만 입력">
                    </div>

                    <div class="form-field">
                        <label for="request-attachments">
                            첨부 파일
                        </label>
                        <div id="upload-dropzone" class="upload-dropzone" data-hc-focus="false">
                            <input type="file" multiple="true" id="request-attachments" data-fileupload="true"
                                   data-dropzone="upload-dropzone" data-error="upload-error"
                                   data-create-url="#" data-name="request[attachments][]"
                                   data-pool="request-attachments-pool" data-delete-confirm-msg=""
                                   aria-describedby="upload-error">
                            <span>
                                <a>파일 추가</a> 해주세요.
                            </span>
                        </div>

                        <ul id="request-attachments-pool" class="upload-pool" data-template="upload-template">
                            <li class="upload-item" data-upload-item="" aria-busy="false">
                                <a class="upload-link" target="_blank" data-upload-link="" href="/images/information/notice1.png">notice1.png</a>
                                <p class="upload-path" data-upload-path="">/images/information/notice1.png</p>
                                <p class="upload-path" data-upload-size=""></p>
                                <span class="upload-remove" data-upload-remove=""></span>
                            </li>
                            <li class="upload-item" data-upload-item="" aria-busy="false">
                                <a class="upload-link" target="_blank" data-upload-link="" href="/images/information/notice1.png">notice1.png</a>
                                <p class="upload-path" data-upload-path="">/images/information/notice1.png</p>
                                <p class="upload-path" data-upload-size=""></p>
                                <span class="upload-remove" data-upload-remove=""></span>
                            </li>
                        </ul>

                    </div>
                    <div class="form-field boolean  required  request_custom_fields_360025875971">
                        <p id="request_custom_fields_360025875971_hint"><strong>개인정보 수집 및 이용에 대한 동의 내용</strong><br>
                            ①개인정보 수집 항목: 이메일, 연락처<br>
                            ②수집목적: 고객식별, 문의 응대, 서비스 품질 향상 <br>
                            ③보유 및 이용기간: 수집 목적이 달성되면 지체없이 모든 개인정보를 파기합니다. 단, 관계법령에서 일정 기간 정보의 보관을 규정한 경우에 한해 분리 보관 후
                            파기합니다.<br>
                            <br>
                            *위 동의는 거부할 수 있으며, 거부시 해당 문의를 처리할 수 없습니다. </p><label
                            id="request_custom_fields_360025875971_label" for="request_custom_fields_360025875971">동의합니다.</label>
                        <input
                            aria-required="true" aria-describedby="request_custom_fields_360025875971_hint"
                            aria-labelledby="request_custom_fields_360025875971_label" type="checkbox" value="on"
                            class="agree-checkbox"
                            name="request[custom_fields][360025875971]" id="request_custom_fields_360025875971">

                    </div>
                    <div id="request_custom_fields_360025875971_error" class="notification notification-error notification-inline">동의합니다.: 반드시 입력해야 합니다.</div>

                    <footer><input type="button" id="submit-button" name="commit" value="제출" class="btn btn-lg"></footer>

                </form>
            </div>
        </section>
    </div>
</main>
<footer id="footer" th:replace="~{/footer/footer::footer}"></footer>
</body>
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/js/information/inquiry-write.js"></script>
<script src="/js/admin/modal.js"></script>
</html>