@import "common.css";
.find-div1 {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: var(--theme-palette-colors-base-bg);
}
.find-div2 {
    max-width: 400px;
    width: 100%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    align-items: flex-end;
    background-color: var(--theme-palette-colors-common-white);
}
@media (max-width: 767px) {
    .find-div2 {
        max-width: 100%;
        width: 100%;
        height: 100%;
    }
}
.find-container {
    border-radius: 5px;
    width: 100%;
    max-height: calc(100vh - 100px);
    overflow: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: var(--theme-palette-colors-contents-bg);
    border: 1px solid var(--theme-palette-colors-bluegray-200);
}
@media (max-width: 767px) {
    .find-container {
        border-radius: 0;
        border: none;
        max-height: 100%;
        height: 100%;
    }
}
.find-header-container {
    padding: 0px 20px;
    height: 64px;
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
@media (max-width: 767px){
    .find-header-container {
        height: 56px;
    }
}
.find-back-button-container {
    min-width: 64px;
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    font-weight: 400;
    font-size: 17px;
}
.find-back-button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 8px;
    margin: -8px;
    fill: var(--theme-palette-colors-black-100);
}
.find-back-button svg {
    fill: inherit;
}
.find-back-button-svg {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    font-size: 20px;
}
.find-logo-container {
    display: flex;
    flex: 1 1 0%;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}
.find-logo-p {
    color: var(--theme-palette-colors-black-100);
    font-weight: var(--text-weight-headline-bold);
    text-align: center;
    letter-spacing: var(--text-spacing-headline);
    font-size: var(--text-size-headline);
    line-height: var(--text-height-headline);
    display: flex;
    flex: 1 1 0%;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}
.find-logo-right {
    display: flex;
    min-width: 64px;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    align-items: center;
}
.find-body-container {
    overflow: auto;
    position: relative;
    padding: 20px;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.find-body-p {
    color: var(--theme-palette-colors-gray-600);
    font-weight: var(--text-weight-bodyalt-normal);
    text-align: center;
    letter-spacing: var(--text-spacing-bodyalt);
    font-size: var(--text-size-bodyalt);
    line-height: var(--text-height-bodyalt);
    margin-top: 10px;
    margin-bottom: 30px;
}
.find-phone-label-container {
    margin: 17px 0px 7px 0px;
}
.find-phone-label {
    color: var(--theme-palette-colors-gray-600);
    font-weight: var(--text-weight-subhead-bold);
    text-align: left;
    letter-spacing: var(--text-spacing-subhead);
    font-size: var(--text-size-subhead);
    line-height: var(--text-height-subhead);
}
.find-select-country-div {
    height: 50px;
    min-height: 50px;
    border-radius: 5px;
    width: 100%;
    border: 1px solid var(--theme-palette-colors-bluegray-200);
    background-color: var(--theme-palette-colors-contents-bg);
    margin-bottom: 10px;
    position: relative;
}
.find-select-country {
    padding-left: 12px;
    width: 100%;
    position: absolute;
    left: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    height: 100%;
    border: none;
    background: none;
    z-index: 1;
    font-size: 16px;
    color: var(--theme-palette-colors-gray-900);
    font-weight: 400;
}
.find-select-button-container {
    position: absolute;
    right: 20px;
    font-size: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.button-span {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: inherit;
    -webkit-box-align: inherit;
    -ms-flex-align: inherit;
    align-items: inherit;
    -webkit-box-pack: inherit;
    -ms-flex-pack: inherit;
    -webkit-justify-content: inherit;
    justify-content: inherit;
}
.find-select-button-svg {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    font-size: inherit;
}
.find-input-phone-container {
    display: flex;
    flex-direction: row;
    position: relative;
}
.find-input:read-only {
    color: var(--theme-palette-colors-gray-300);
    -webkit-text-fill-color: var(--theme-palette-colors-gray-300);
    background-color: var(--theme-palette-colors-bluegray-100);
    opacity: 1;
}
.find-input:focus {
    border: 1px solid var(--theme-palette-colors-blue-400);
}
.find-input {
    width: 100%;
    height: 50px;
    min-height: 50px;
    padding: 0px 12px;
    outline: none;
    background-color: transparent;
    border: 1px solid var(--theme-palette-colors-bluegray-200);
    color: var(--theme-palette-colors-gray-900);
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 8px;
}
.find-check-button:disabled {
    border: 1px solid var(--theme-palette-colors-bluegray-100);
}
.find-check-button:disabled {
    color: var(--theme-palette-colors-gray-300);
    background-color: var(--theme-palette-colors-bluegray-100);
    border: none;
    cursor: default;
}
.find-check-button {
    height: 50px;
    min-height: 50px;
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: var(--theme-palette-colors-contents-bg);
    margin-left: 10px;
    padding: 0px 15px;
    width: auto;
    flex: 0 0 auto;
    border-radius: 5px;
    border: 1px solid var(--theme-palette-colors-bluegray-200);
}
.find-check-button:disabled span {
    color: var(--theme-palette-colors-gray-300);
}
.find-check-button span {
    color: var(--theme-palette-colors-blue-400);
}
.find-button-span {
    color: var(--theme-palette-colors-black-100);
    font-weight: var(--text-weight-body-bold);
    text-align: left;
    letter-spacing: var(--text-spacing-body);
    font-size: var(--text-size-body);
    line-height: var(--text-height-body);
}
.find-phone-format-error-p {
    color: var(--theme-palette-colors-red-400);
    font-weight: var(--text-weight-footnote-normal);
    text-align: left;
    letter-spacing: var(--text-spacing-footnote);
    font-size: var(--text-size-footnote);
    line-height: var(--text-height-footnote);
    margin-bottom: 8px;
    margin-top: 0px;
}
.find-check-num-container {
    display: flex;
    flex-direction: row;
    position: relative;
}
.find-check-num-button {
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: var(--theme-palette-colors-contents-bg);
    position: absolute;
    right: 15px;
    top: 7px;
    width: auto;
    min-width: 56px;
    height: 35px;
    min-height: 35px;
    padding: 0px 3px;
    border-radius: 5px;
    border: none !important;
}
.find-check-num-button span {
    color: var(--theme-palette-colors-blue-400);
}
.find-check-num-button:disabled span {
    color: var(--theme-palette-colors-gray-300)
}
.find-check-num-button:disabled {
    color: var(--theme-palette-colors-gray-300) !important;
    background-color: transparent !important;
}
.find-check-num-button:disabled {
    color: var(--theme-palette-colors-gray-300);
    background-color: var(--theme-palette-colors-bluegray-100);
    border: none;
    cursor: default;
}
.find-check-num-button-span {
    color: var(--theme-palette-colors-black-100);
    font-weight: var(--text-weight-subhead-bold);
    text-align: left;
    letter-spacing: var(--text-spacing-subhead);
    font-size: var(--text-size-subhead);
    line-height: var(--text-height-subhead);
}
.find-check-timein-p {
    color: var(--theme-palette-colors-blue-400);
    font-weight: var(--text-weight-footnote-normal);
    text-align: left;
    letter-spacing: var(--text-spacing-footnote);
    font-size: var(--text-size-footnote);
    line-height: var(--text-height-footnote);
    margin-top: 0px;
    margin-bottom: 0px;
}
.find-check-timein-time-p {
    color: var(--theme-palette-colors-blue-400);
    font-weight: var(--text-weight-footnote-bold);
    text-align: left;
    letter-spacing: var(--text-spacing-footnote);
    font-size: var(--text-size-footnote);
    line-height: var(--text-height-footnote);
    margin-top: 0px;
    margin-bottom: 0px;
}
.find-check-timeout-p {
    color: var(--theme-palette-colors-red-400);
    font-weight: var(--text-weight-footnote-bold);
    text-align: left;
    letter-spacing: var(--text-spacing-footnote);
    font-size: var(--text-size-footnote);
    line-height: var(--text-height-footnote);
    margin-top: 0px;
    margin-bottom: 0px;
}
.find-check-timeout-time-p {
    color: var(--theme-palette-colors-red-400);
    font-weight: var(--text-weight-footnote-bold);
    text-align: left;
    letter-spacing: var(--text-spacing-footnote);
    font-size: var(--text-size-footnote);
    line-height: var(--text-height-footnote);
    margin-top: 0px;
    margin-bottom: 0px;
}
.find-check-ok-p {
    color: #08ba9c;
    font-weight: var(--text-weight-footnote-normal);
    text-align: left;
    letter-spacing: var(--text-spacing-footnote);
    font-size: var(--text-size-footnote);
    line-height: var(--text-height-footnote);
    margin-top: 0px;
    margin-bottom: 0px;
}
.find-continue-button:disabled {
    color: var(--theme-palette-colors-gray-300);
    background-color: var(--theme-palette-colors-bluegray-100);
    border: none;
    cursor: default;
}
.find-continue-button {
    width: 100%;
    height: 50px;
    min-height: 50px;
    border-radius: 25px;
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: var(--theme-palette-colors-blue-400);
    border: none;
    margin-top: 30px;
}
.find-continue-button:disabled span {
    color: var(--theme-palette-colors-gray-300);
}
.find-continue-button span {
    color: var(--theme-palette-colors-common-white);
}