@import "common.css";
.login-div1 {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: var(--theme-palette-colors-base-bg);
}
.login-div2 {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: flex-end;
    -webkit-box-align: flex-end;
    -ms-flex-align: flex-end;
    align-items: flex-end;
}
@media (max-width: 767px) {
    .login-div2 {
        max-width: 100%;
        width: 100%;
        height: 100%;
    }
}
.login-container {
    border-radius: 5px;
    width: 100%;
    max-height: calc(100vh - 100px);
    overflow: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: var(--theme-palette-colors-contents-bg);
    border: 1px solid var(--theme-palette-colors-bluegray-200);
}
@media (max-width: 767px) {
    .login-container {
        border-radius: 0;
        border: none;
        max-height: 100%;
        height: 100%;
    }
}
.login-inner-container {
    overflow: auto;
    position: relative;
    padding: 20px;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.login-inner-container::-webkit-scrollbar {
    display: none;
}
.login-logo-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto 30px;
    padding-top: 56px;
}
.login-logo-span {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: inherit;
    -webkit-box-align: inherit;
    -ms-flex-align: inherit;
    align-items: inherit;
    -webkit-box-pack: inherit;
    -ms-flex-pack: inherit;
    -webkit-justify-content: inherit;
    justify-content: inherit;
}
.login-logo-span {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    font-size: inherit;
    width: 93px;
    height: 28px;
}
.login-h1-comment {
    color: var(--theme-palette-colors-black-100);
    font-weight: var(--text-weight-subtitle-bold);
    text-align: center;
    letter-spacing: var(--text-spacing-subtitle);
    font-size: var(--text-size-subtitle);
    line-height: var(--text-height-subtitle);
    --text-size-subtitle: 24px;
    --text-height-subtitle: 32px;
    --text-spacing-subtitle: -0.023em;
}
.login-h2-comment {
    color: var(--theme-palette-colors-gray-600);
    font-weight: var(--text-weight-subhead-normal);
    text-align: center;
    letter-spacing: var(--text-spacing-subhead);
    font-size: var(--text-size-subhead);
    line-height: var(--text-height-subhead);
    margin-bottom: 45px;
}
.email-label-container {
    margin: 17px 0 7px;
}
.email-label {
    color: var(--theme-palette-colors-gray-600);
    font-weight: var(--text-weight-subhead-bold);
    text-align: left;
    letter-spacing: var(--text-spacing-subhead);
    font-size: var(--text-size-subhead);
    line-height: var(--text-height-subhead);
}
.email-input {
    width: 100%;
    height: 50px;
    min-height: 50px;
    padding: 0 12px;
    outline: none;
    background-color: transparent;
    border: 1px solid var(--theme-palette-colors-bluegray-200);
    color: var(--theme-palette-colors-gray-900);
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 8px;
}
.email-input:focus {
    border: 1px solid var(--theme-palette-colors-blue-400);
}
.email-input::-webkit-input-placeholder {
    color: var(--theme-palette-colors-gray-300);
}
.email-input::-moz-placeholder {
    color: var(--theme-palette-colors-gray-300);
}
.email-input:-ms-input-placeholder {
    color: var(--theme-palette-colors-gray-300);
}
.email-input::placeholder {
    color: var(--theme-palette-colors-gray-300);
}
.email-input:-moz-read-only {
    color: var(--theme-palette-colors-gray-300);
    -webkit-text-fill-color: var(--theme-palette-colors-gray-300);
    background-color: var(--theme-palette-colors-bluegray-100);
    opacity: 1;
}
.email-input:read-only {
    color: var(--theme-palette-colors-gray-300);
    -webkit-text-fill-color: var(--theme-palette-colors-gray-300);
    background-color: var(--theme-palette-colors-bluegray-100);
    opacity: 1;
}
.email-format-error-input:focus {
    border: 1px solid var(--theme-palette-colors-blue-400);
}
.email-format-error-input {
    width: 100%;
    height: 50px;
    min-height: 50px;
    padding: 0 12px;
    outline: none;
    background-color: transparent;
    color: var(--theme-palette-colors-gray-900);
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 8px;
    border: 1px solid var(--theme-palette-colors-red-400) !important;
}
.email-format-error-p {
    color: var(--theme-palette-colors-red-400);
    font-weight: var(--text-weight-footnote-normal);
    text-align: left;
    letter-spacing: var(--text-spacing-footnote);
    font-size: var(--text-size-footnote);
    line-height: var(--text-height-footnote);
    margin-bottom: 8px;
    margin-top: 0;
}
.continue-email-button {
    width: 100%;
    height: 50px;
    min-height: 50px;
    border-radius: 25px;
    border: none;
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: var(--theme-palette-colors-blue-400);
    border: none;
    margin-top: 30px;
}
.continue-email-button:disabled {
    color: var(--theme-palette-colors-gray-300);
    background-color: var(--theme-palette-colors-bluegray-100);
    border: none;
    cursor: default;
}
.continue-email-button:disabled span {
    color: var(--theme-palette-colors-gray-300);
}
.continue-email-button span {
    color: var(--theme-palette-colors-common-white);
}
.continue-email-button-span {
    color: var(--theme-palette-colors-black-100);
    font-weight: var(--text-weight-body-bold);
    text-align: left;
    letter-spacing: var(--text-spacing-body);
    font-size: var(--text-size-body);
    line-height: var(--text-height-body);
}
.another-account-p {
    color: var(--theme-palette-colors-gray-500);
    font-weight: var(--text-weight-caption1-bold);
    text-align: center;
    letter-spacing: var(--text-spacing-caption1);
    font-size: var(--text-size-caption1);
    line-height: var(--text-height-caption1);
    margin-top: 5px;
    margin-bottom: 15px;
}
.another-account-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    margin: 0 auto;
    max-width: 360px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.another-account-container > button {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: 0;
    max-width: 25%;
}
.google-button span {
    position: relative;
}
.google-button,
.naver-kakao-button {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    border: none;
    background: none;
    cursor: pointer;
}
.google-button svg,
.naver-kakao-button svg {
    padding: 0;
    width: 56px;
    height: 56px;
}
.google-button span::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid var(--theme-palette-colors-bluegray-200);
    box-sizing: border-box;
}
.another-account-container > button > p {
    margin-top: 8px;
    margin-bottom: 0;
}
.button-p {
    color: var(--theme-palette-colors-gray-600);
    font-weight: var(--text-weight-caption2-medium);
    text-align: center;
    letter-spacing: var(--text-spacing-caption2);
    font-size: var(--text-size-caption2);
    line-height: var(--text-height-caption2);
    text-transform: capitalize;
}
.google-button-svg {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    font-size: inherit;
}
.forget-account-button {
    background-color: transparent;
    border: none;
    width: 100%;
    cursor: pointer;
}
.forget-account-button > p {
    margin-bottom: 0;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.forget-account-button-p {
    color: var(--theme-palette-colors-gray-700);
    font-weight: var(--text-weight-subhead-bold);
    text-align: center;
    letter-spacing: var(--text-spacing-subhead);
    font-size: var(--text-size-subhead);
    line-height: var(--text-height-subhead);
    margin-top: 30px;
}
.button-span {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    font-size: inherit;
    margin-left: 3px;
    width: 12px;
    height: 12px;
}
.button-span {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: inherit;
    -webkit-box-align: inherit;
    -ms-flex-align: inherit;
    align-items: inherit;
    -webkit-box-pack: inherit;
    -ms-flex-pack: inherit;
    -webkit-justify-content: inherit;
    justify-content: inherit;
}
.division-hr {
    border: none;
    width: 100%;
    border-bottom: 1px solid var(--theme-palette-colors-bluegray-200);
    margin-top: 30px;
    margin-bottom: 30px;
}
.login-footer-container {
    margin: 30px auto 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.clogin-footer-container a:last-child {
    font-weight: 900;
}
.login-footer-container > a:first-of-type {
    margin-right: 12px;
}
.login-footer-a {
    color: var(--theme-palette-colors-gray-700);
    font-weight: var(--text-weight-footnote-bold);
    text-align: center;
    letter-spacing: var(--text-spacing-footnote);
    font-size: var(--text-size-footnote);
    line-height: var(--text-height-footnote);
}
.copyrigth-p {
    color: var(--theme-palette-colors-gray-600);
    font-weight: var(--text-weight-caption1-normal);
    text-align: center;
    letter-spacing: var(--text-spacing-caption1);
    font-size: var(--text-size-caption1);
    line-height: var(--text-height-caption1);
    margin-bottom: 30px;
}
.language-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.language-country-container {
    width: 140px;
    position: relative;
}
.language-country-img {
    position: absolute;
    left: 15px;
    top: 9px;
    width: 23px;
    height: 16px;
    border-radius: 2px;
    z-index: 1;
    border: 1px solid var(--theme-palette-colors-bluegray-200);
}
.language-select-container {
    height: 50px;
    min-height: 50px;
    border-radius: 5px;
    width: 100%;
    border: 1px solid var(--theme-palette-colors-bluegray-200);
    background-color: var(--theme-palette-colors-contents-bg);
    margin-bottom: 10px;
    position: relative;
    height: 34px;
    min-height: 34px;
}
.language-select-container select:disabled {
    background: var(--theme-palette-colors-bluegray-100);
}
.language-select-container select {
    padding-left: 45px;
    font-size: 13px;
    font-weight: 600;
}
.language-select-container > div {
    right: 13px;
}
.language-select {
    padding-left: 12px;
    width: 100%;
    position: absolute;
    left: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    height: 100%;
    border: none;
    background: none;
    z-index: 1;
    font-size: 16px;
    color: var(--theme-palette-colors-gray-900);
    font-weight: 400;
}
.language-select-button-container {
    position: absolute;
    right: 20px;
    font-size: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}