@import "common.css";
.pass-div1 {
    width:100%;
    height:100%;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    -webkit-justify-content:center;
    justify-content:center;
    -webkit-align-items:center;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    background-color:var(--theme-palette-colors-base-bg);
}
.pass-div2 {
    max-width: 400px;
    width: 100%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    align-items: flex-end;
    background-color: var(--theme-palette-colors-common-white);
}
@media (max-width: 767px) {
    .pass-div2 {
        max-width: 100%;
        width: 100%;
        height: 100%;
    }
}
.pass-container {
    border-radius: 5px;
    width: 100%;
    max-height: calc(100vh - 100px);
    overflow: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: var(--theme-palette-colors-contents-bg);
    border: 1px solid var(--theme-palette-colors-bluegray-200);
}
@media (max-width: 767px){
    .pass-container {
        border-radius: 0px;
        border: none;
        max-height: 100%;
        height: 100%;
    }
}
.pass-header-container {
    padding: 0px 20px;
    height: 64px;
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
@media (max-width: 767px){
    .password-header-container {
        height: 56px;
    }
}
.pass-email-logo-left {
    min-width: 64px;
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    font-weight: 400;
    font-size: 17px;
}
.pass-email-logo-container {
    display: flex;
    flex: 1 1 0%;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}
.pass-email-logo-p {
    color: var(--theme-palette-colors-black-100);
    font-weight: var(--text-weight-headline-bold);
    text-align: center;
    letter-spacing: var(--text-spacing-headline);
    font-size: var(--text-size-headline);
    line-height: var(--text-height-headline);
    display: flex;
    flex: 1 1 0%;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}
.pass-email-logo-right {
    display: flex;
    min-width: 64px;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    align-items: center;
}
.pass-body-container {
    overflow: auto;
    position: relative;
    padding: 20px;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.pass-body-container::-webkit-scrollbar {
    display: none;
}
.pass-body-p1 {
    color: var(--theme-palette-colors-black-100);
    font-weight: var(--text-weight-heading-bold);
    text-align: center;
    letter-spacing: var(--text-spacing-heading);
    font-size: var(--text-size-heading);
    line-height: var(--text-height-heading);
    margin-top: 15px;
    margin-bottom: 15px;
}
.pass-body-p2 {
    color: var(--theme-palette-colors-gray-600);
    font-weight: var(--text-weight-body-normal);
    text-align: center;
    letter-spacing: var(--text-spacing-body);
    font-size: var(--text-size-body);
    line-height: var(--text-height-body);
    margin-top: 0px;
}
.pass-email-email-container {
    width: 100%;
    padding: 10px 5px;
    margin: 15px 0px;
    background-color: var(--theme-palette-colors-gray-100);
    border-radius: 4px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}
.pass-email-email-p {
    color: var(--theme-palette-colors-black-100);
    font-weight: var(--text-weight-body-bold);
    text-align: left;
    letter-spacing: var(--text-spacing-body);
    font-size: var(--text-size-body);
    line-height: var(--text-height-body);
    margin-top: 0px;
    margin-bottom: 0px;
}
.pass-email-goto-main-button {
    width: 100%;
    height: 50px;
    min-height: 50px;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    background-color: var(--theme-palette-colors-blue-400);
    border: none;
    margin-top: 15px;
    margin-bottom: 15px;
}
.pass-email-goto-main-button span {
    color: var(--theme-palette-colors-common-white);
}
.pass-email-goto-main-span {
    color: var(--theme-palette-colors-black-100);
    font-weight: var(--text-weight-body-bold);
    text-align: left;
    letter-spacing: var(--text-spacing-body);
    font-size: var(--text-size-body);
    line-height: var(--text-height-body);
}