<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>함께가요 등록</title>
</head>

<link rel="stylesheet" href="/css/ecos/eco-registration.css">
<link rel="stylesheet" href="/css/common.css"/>
<link rel="stylesheet" href="/css/header/header.css"/>

<body>



<!-- 헤더 -->
<div th:replace="~{header/header :: #header}"></div>



<!-- 함께가요 등록 -->
<main class="registration-wrapper">
    <!-- 모바일 헤더 -->
    <header class="mobileHeader">
        <button type="button" class="mobileHeader-btn">
            <span class="svgIcon-root">
                <svg class="svgIcon" viewBox="0 0 24 24">
                    <path d="M5.93289 4.6068C5.56201 4.33162 5.03569 4.36219 4.69935 4.69853C4.32938 5.0685 4.32938 5.66834 4.69935 6.03831L10.6611 12L4.69935 17.9617L4.60763 18.0679C4.33244 18.4388 4.36302 18.9651 4.69935 19.3015L4.80561 19.3932C5.17649 19.6684 5.7028 19.6378 6.03914 19.3015L12.0009 13.3402L17.9626 19.3015L18.0688 19.3932C18.4397 19.6684 18.966 19.6378 19.3023 19.3015C19.6723 18.9315 19.6723 18.3317 19.3023 17.9617L13.3406 12L19.3023 6.03831L19.3941 5.93206C19.6693 5.56118 19.6387 5.03487 19.3023 4.69853L19.1961 4.6068C18.8252 4.33162 18.2989 4.36219 17.9626 4.69853L12.0009 10.6598L6.03914 4.69853L5.93289 4.6068Z"></path>
                </svg>
            </span>
        </button>
        <div class="mobileHeader-write">글 작성하기</div>
    </header>

    <!-- 등록 폼 -->
    <form id="write">
        <div class="registration-header">
            <div class="registration-headerContent">
                <div class="registration-headerBtn ">
                    <button type="submit" class="Button-btn Button-root Button-contained" disabled="" form="write">
                        <span class="Button-label">등록하기</span>
                        <span class="Button-interaction"></span>
                    </button>
                </div>
            </div>
        </div>
<!--        태그선택 부분-->
        <div class="registration-contentWrapper">
            <div class="registration-writePaper">
                <div class="tagPanel">
                    <div class="tagPanel-message">
                        <span>여행 지역 선택</span>
                        <span class="tagMessage-hint">(1개)</span>
                        <span class="tagMessage-required">*</span>
                    </div>
                    <div class="tagPanel-tagWrapper">
                        <button type="button" class="modalOpen">
                            <svg width="34" height="34" viewBox="0 0 34 34">
                                <path d="M0 17C0 7.61116 7.61116 0 17 0V0C26.3888 0 34 7.61116 34 17V17C34 26.3888 26.3888 34 17 34V34C7.61116 34 0 26.3888 0 17V17Z" fill="#F2F4F7"></path>
                                <path d="M17.7432 10.6482C17.6935 10.2822 17.3797 10 17 10C16.5858 10 16.25 10.3358 16.25 10.75V16.25H10.75L10.6482 16.2568C10.2822 16.3065 10 16.6203 10 17C10 17.4142 10.3358 17.75 10.75 17.75H16.25V23.25L16.2568 23.3518C16.3065 23.7178 16.6203 24 17 24C17.4142 24 17.75 23.6642 17.75 23.25V17.75H23.25L23.3518 17.7432C23.7178 17.6935 24 17.3797 24 17C24 16.5858 23.6642 16.25 23.25 16.25H17.75V10.75L17.7432 10.6482Z" fill="#666666"></path>
                            </svg>
                        </button>
                        <button type="button" class="tagPanel-placeholder modalOpen local-placeholder" aria-label="Open Select Tag Modal">
                            <picture>
                                <source type="image/webp" srcset="https://static.wanted.co.kr/images/community/tag_empty.webp 1x, https://static.wanted.co.kr/images/community/tag_empty@2x.webp 2x, https://static.wanted.co.kr/images/community/tag_empty@3x.webp 3x">
                                <img srcset="https://static.wanted.co.kr/images/community/tag_empty.png 1x, https://static.wanted.co.kr/images/community/tag_empty@2x.png 2x, https://static.wanted.co.kr/images/community/tag_empty@3x.png 3x" src="https://static.wanted.co.kr/images/community/tag_empty@3x.png" alt="empty tag">
                            </picture>
                        </button>
                        <div class="tagPanel-slider">
                            <!--                            ::before-->
                            <div class="tagPanel-localScroll">
                                <div class="tagPanel-scrollList">
                                    <div class="tagPanel-selectedLocal">
                                        <span></span>
                                        <button type="button" class="selectedLocal-deletedBtn">
                                            <span class="svgIcon-root">
                                                <svg class="svgIcon-rootSvg" viewBox="0 0 24 24">
                                                    <path d="M5.93289 4.6068C5.56201 4.33162 5.03569 4.36219 4.69935 4.69853C4.32938 5.0685 4.32938 5.66834 4.69935 6.03831L10.6611 12L4.69935 17.9617L4.60763 18.0679C4.33244 18.4388 4.36302 18.9651 4.69935 19.3015L4.80561 19.3932C5.17649 19.6684 5.7028 19.6378 6.03914 19.3015L12.0009 13.3402L17.9626 19.3015L18.0688 19.3932C18.4397 19.6684 18.966 19.6378 19.3023 19.3015C19.6723 18.9315 19.6723 18.3317 19.3023 17.9617L13.3406 12L19.3023 6.03831L19.3941 5.93206C19.6693 5.56118 19.6387 5.03487 19.3023 4.69853L19.1961 4.6068C18.8252 4.33162 18.2989 4.36219 17.9626 4.69853L12.0009 10.6598L6.03914 4.69853L5.93289 4.6068Z"></path>
                                                </svg>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tagPanel">
                    <div class="tagPanel-message">
                        <span>MBTI 선택</span>
                        <span class="tagMessage-required">*</span>
                    </div>
                    <div class="tagPanel-tagWrapper">
                        <button type="button" class="modalOpen">
                            <svg width="34" height="34" viewBox="0 0 34 34">
                                <path d="M0 17C0 7.61116 7.61116 0 17 0V0C26.3888 0 34 7.61116 34 17V17C34 26.3888 26.3888 34 17 34V34C7.61116 34 0 26.3888 0 17V17Z" fill="#F2F4F7"></path>
                                <path d="M17.7432 10.6482C17.6935 10.2822 17.3797 10 17 10C16.5858 10 16.25 10.3358 16.25 10.75V16.25H10.75L10.6482 16.2568C10.2822 16.3065 10 16.6203 10 17C10 17.4142 10.3358 17.75 10.75 17.75H16.25V23.25L16.2568 23.3518C16.3065 23.7178 16.6203 24 17 24C17.4142 24 17.75 23.6642 17.75 23.25V17.75H23.25L23.3518 17.7432C23.7178 17.6935 24 17.3797 24 17C24 16.5858 23.6642 16.25 23.25 16.25H17.75V10.75L17.7432 10.6482Z" fill="#666666"></path>
                            </svg>
                        </button>
                        <button type="button" class="tagPanel-placeholder modalOpen mbti-placeholder" aria-label="Open Select Tag Modal">
                            <picture>
                                <source type="image/webp" srcset="https://static.wanted.co.kr/images/community/tag_empty.webp 1x, https://static.wanted.co.kr/images/community/tag_empty@2x.webp 2x, https://static.wanted.co.kr/images/community/tag_empty@3x.webp 3x">
                                <img srcset="https://static.wanted.co.kr/images/community/tag_empty.png 1x, https://static.wanted.co.kr/images/community/tag_empty@2x.png 2x, https://static.wanted.co.kr/images/community/tag_empty@3x.png 3x" src="https://static.wanted.co.kr/images/community/tag_empty@3x.png" alt="empty tag">
                            </picture>
                        </button>
                        <div class="tagPanel-slider">
                            <!--                            ::before-->
                            <div class="tagPanel-mbtiScroll">
                                <div class="tagPanel-scrollList">
                                    <div class="tagPanel-selectedMBTI">
                                        <span></span>
                                        <button type="button" class="selectedMBTI-deletedBtn">
                                            <span class="svgIcon-root">
                                                <svg class="svgIcon-rootSvg" viewBox="0 0 24 24">
                                                    <path d="M5.93289 4.6068C5.56201 4.33162 5.03569 4.36219 4.69935 4.69853C4.32938 5.0685 4.32938 5.66834 4.69935 6.03831L10.6611 12L4.69935 17.9617L4.60763 18.0679C4.33244 18.4388 4.36302 18.9651 4.69935 19.3015L4.80561 19.3932C5.17649 19.6684 5.7028 19.6378 6.03914 19.3015L12.0009 13.3402L17.9626 19.3015L18.0688 19.3932C18.4397 19.6684 18.966 19.6378 19.3023 19.3015C19.6723 18.9315 19.6723 18.3317 19.3023 17.9617L13.3406 12L19.3023 6.03831L19.3941 5.93206C19.6693 5.56118 19.6387 5.03487 19.3023 4.69853L19.1961 4.6068C18.8252 4.33162 18.2989 4.36219 17.9626 4.69853L12.0009 10.6598L6.03914 4.69853L5.93289 4.6068Z"></path>
                                                </svg>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
<!--                텍스트 입력 부분-->
                <div class="AutoTextarea writePaper-title">
                    <textarea class="AutoTextarea-textarea" name="title" placeholder="제목을 입력해주세요." style="height: 38px;"></textarea>
                    <textarea class="AutoTextarea-textarea AutoTextarea-hidden" readonly style="height: 38px;"></textarea>
                </div>
                <div class="writePaper-content">
                    <div class="AutoTextarea">
                        <textarea class="AutoTextarea-textarea" name="content" placeholder="내용을 작성해주세요." style="height: 28px;"></textarea>
                        <textarea class="AutoTextarea-textarea AutoTextarea-hidden" readonly style="height: 28px;"></textarea>
                    </div>
                </div>
                <div class="attach-wrap">
                    <label for="upload1" class="thumbnail-attach">
                        <img src="" class="thumbnail-img">
                        <span class="file-size"></span>
                    </label>
                </div>
                <div class="attach-wrap">
                    <label for="upload2" class="sub1-attach">
                        <img src="" class="sub1-img">
                        </h6>
                        <span class="file-size"></span>
                    </label>
                </div>
                    <label for="upload3" class="sub2-attach">
                        <img src="" class="sub2-img">
                        <span class="file-size"></span>
                    </label>
                </div>

                <input type="file" id="upload1" class="upload" accept="image/png, image/jpeg" style="display: none;">
                <input type="file" id="upload2" class="upload" accept="image/png, image/jpeg" style="display: none;">
                <input type="file" id="upload3" class="upload" accept="image/png, image/jpeg" style="display: none;">
            </div>
        </div>
    </form>
    <!--    모바일 submit -->
    <div class="mobileSubmit">
        <div class="mobileSubmit-gradient"></div>
        <div class="mobileSubmit-btn">
            <button class="Button-root Button-contained btn-toggle" type="submit" form="write" disabled="">
                <span class="Button-label">등록하기</span>
            </button>
        </div>
    </div>
    <!--    첨부파일-->
    <div class="CommunityWrite_CommunityPhotoButton">
        <label for="upload1">
            <button type="button" class="PhotoButton" onclick="openFile()">
                <svg xmlns="https://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M7.52489 11.47L9.9908 13.9387L15.4533 8.46998C15.7462 8.17668 16.2216 8.17668 16.5145 8.46998L22.5076 14.47C22.6481 14.6106 22.727 14.8012 22.727 15V19.0395C22.727 19.4539 22.3909 19.7897 21.9765 19.7895L1.99951 19.7763C1.58501 19.776 1.24932 19.4396 1.25 19.0251L1.273 4.99877C1.27368 4.58465 1.60987 4.24946 2.02399 4.25L22.001 4.27632C22.4163 4.27686 22.7521 4.61486 22.75 5.0302L22.727 9.4677C22.7248 9.88191 22.3873 10.216 21.9731 10.2138C21.5589 10.2117 21.2249 9.87414 21.227 9.45993L21.2461 5.77532L2.77177 5.75099L2.75123 18.2768L21.227 18.289V15.3104L15.9839 10.0613L10.5214 15.53C10.2285 15.8233 9.75313 15.8233 9.46017 15.53L6.99425 13.0613L5.52718 14.53C5.23446 14.8231 4.75959 14.8234 4.46653 14.5306C4.17346 14.2379 4.17319 13.763 4.46591 13.47L6.46361 11.47C6.75658 11.1767 7.23192 11.1767 7.52489 11.47ZM9 9.75H5C4.58579 9.75 4.25 9.41421 4.25 9C4.25 8.58579 4.58579 8.25 5 8.25H9C9.41421 8.25 9.75 8.58579 9.75 9C9.75 9.41421 9.41421 9.75 9 9.75Z"
                          fill="currentColor"></path>
                    <mask id="mask0_150_2361" maskUnits="userSpaceOnUse" x="1" y="4" width="22" height="16">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M7.52489 11.47L9.9908 13.9387L15.4533 8.46998C15.7462 8.17668 16.2216 8.17668 16.5145 8.46998L22.5076 14.47C22.6481 14.6106 22.727 14.8012 22.727 15V19.0395C22.727 19.4539 22.3909 19.7897 21.9765 19.7895L1.99951 19.7763C1.58501 19.776 1.24932 19.4396 1.25 19.0251L1.273 4.99877C1.27368 4.58465 1.60987 4.24946 2.02399 4.25L22.001 4.27632C22.4163 4.27686 22.7521 4.61486 22.75 5.0302L22.727 9.4677C22.7248 9.88191 22.3873 10.216 21.9731 10.2138C21.5589 10.2117 21.2249 9.87414 21.227 9.45993L21.2461 5.77532L2.77177 5.75099L2.75123 18.2768L21.227 18.289V15.3104L15.9839 10.0613L10.5214 15.53C10.2285 15.8233 9.75313 15.8233 9.46017 15.53L6.99425 13.0613L5.52718 14.53C5.23446 14.8231 4.75959 14.8234 4.46653 14.5306C4.17346 14.2379 4.17319 13.763 4.46591 13.47L6.46361 11.47C6.75658 11.1767 7.23192 11.1767 7.52489 11.47ZM9 9.75H5C4.58579 9.75 4.25 9.41421 4.25 9C4.25 8.58579 4.58579 8.25 5 8.25H9C9.41421 8.25 9.75 8.58579 9.75 9C9.75 9.41421 9.41421 9.75 9 9.75Z"
                              fill="white"></path>
                    </mask>
                    <g mask="url(#mask0_150_2361)">
                        <rect width="24" height="24" fill="currentColor"></rect>
                    </g>
                </svg>
                <span>
                (<em> 0 </em>/1)
            </span>
            </button>
        </label>
    </div>
    <div class="writePaper-mobileBackground"></div>

    <!-- MBTI 모달 부분 -->
    <div class="modal">
        <div class="warn-modal">
            <div id="modal-wrap">
                <div class="modal-contentWrap">
                    <div style="margin-bottom: 10px">
                        <h3 style="letter-spacing: 0.5px">여행 지역 선택(1개)</h3>
                    </div>
                    <div class="TagBtn-wrap">
                        <button type="button" class="modal-btn Button-root local-btn" value="서 울">
                            서 울
                        </button>
                        <button type="button" class="modal-btn Button-root local-btn" value="경기도">
                            경기도
                        </button>
                        <button type="button" class="modal-btn Button-root local-btn" value="인 천">
                            인 천
                        </button>
                        <button type="button" class="modal-btn Button-root local-btn" value="강원도">
                            강원도
                        </button>
                        <button type="button" class="modal-btn Button-root local-btn" value="세 종">
                            세 종
                        </button>
                        <button type="button" class="modal-btn Button-root local-btn" value="충청남도">
                            충청남도
                        </button>
                        <button type="button" class="modal-btn Button-root local-btn" value="충청북도">
                            충청북도
                        </button>
                        <button type="button" class="modal-btn Button-root local-btn" value="대 전">
                            대 전
                        </button>
                        <button type="button" class="modal-btn Button-root local-btn" value="전라남도">
                            전라남도
                        </button>
                        <button type="button" class="modal-btn Button-root local-btn" value="전라북도">
                            전라북도
                        </button>
                        <button type="button" class="modal-btn Button-root local-btn" value="광 주">
                            광 주
                        </button>
                        <button type="button" class="modal-btn Button-root local-btn" value="경상남도">
                            경상남도
                        </button>
                        <button type="button" class="modal-btn Button-root local-btn" value="경상북도">
                            경상북도
                        </button>
                        <button type="button" class="modal-btn Button-root local-btn" value="대 구">
                            대 구
                        </button>
                        <button type="button" class="modal-btn Button-root local-btn" value="울 산">
                            울 산
                        </button>
                        <button type="button" class="modal-btn Button-root local-btn" value="부 산">
                            부 산
                        </button>
                        <button type="button" class="modal-btn Button-root local-btn" value="제주도">
                            제주도
                        </button>
                    </div>
                </div>
                <div class="modal-contentWrap">
                    <div style="margin-bottom: 10px">
                        <h3 style="letter-spacing: 0.5px">MBTI 선택(1개)</h3>
                    </div>
                    <div class="TagBtn-wrap">
                        <button type="button" class="modal-btn Button-root mbti-btn" value="ISTJ">
                            ISTJ
                        </button>
                        <button type="button" class="modal-btn Button-root mbti-btn" value="TSFJ">
                            TSFJ
                        </button>
                        <button type="button" class="modal-btn Button-root mbti-btn" value="ISTP">
                            ISTP
                        </button>
                        <button type="button" class="modal-btn Button-root mbti-btn" value="ISFP">
                            ISFP
                        </button>
                        <button type="button" class="modal-btn Button-root mbti-btn" value="INFJ">
                            INFJ
                        </button>
                        <button type="button" class="modal-btn Button-root mbti-btn" value="INFP">
                            INFP
                        </button>
                        <button type="button" class="modal-btn Button-root mbti-btn" value="INTJ">
                            INTJ
                        </button>
                        <button type="button" class="modal-btn Button-root mbti-btn" value="INTP">
                            INTP
                        </button>
                        <button type="button" class="modal-btn Button-root mbti-btn" value="ESTJ">
                            ESTJ
                        </button>
                        <button type="button" class="modal-btn Button-root mbti-btn" value="ESFP">
                            ESFP
                        </button>
                        <button type="button" class="modal-btn Button-root mbti-btn" value="ENFP">
                            ENFP
                        </button>
                        <button type="button" class="modal-btn Button-root mbti-btn" value="ENTP">
                            ENTP
                        </button>
                        <button type="button" class="modal-btn Button-root mbti-btn" value="ESFJ">
                            ESFJ
                        </button>
                        <button type="button" class="modal-btn Button-root mbti-btn" value="ESTP">
                            ESTP
                        </button>
                        <button type="button" class="modal-btn Button-root mbti-btn" value="ENFJ">
                            ENFJ
                        </button>
                        <button type="button" class="modal-btn Button-root mbti-btn" value="ENTJ">
                            ENTJ
                        </button>
                    </div>
                </div>
                <div class="submit-wrap btn-hover">
                    <button type="button" class="Button-submit Button-root modal-btn">완 료</button>
                </div>
            </div>
        </div>
    </div>


</main>


</body>

<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="/js/goWith/registration.js"></script>

</html>