<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">

    <title>Travel Maker</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/common.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/information/notice-list.css"/>
    <link rel="stylesheet" href="/css/footer/footer.css">
</head>
<body class="helpcenter-enable">

<header class="header">
    <div class="header-inner container">
        <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="logo" style="padding: 0px 0px 12px;">
                    <a href="#">
                        <img src="//theme.zdassets.com/theme_assets/9309779/480a35976bf401a88dd7388d8f5c19d77227cd35.png"
                             alt="원티드로고" id="heder_logo_image">
                    </a>
                    <a href="#">
                        <img src="//theme.zdassets.com/theme_assets/9309779/e5142629ce02b25eae55476f21e3ad5525958812.png"
                             alt="고객센터로고" id="heder_logo_image">
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>

<main role="main">
    <section class="breadcrumb"></section>
    <div class="container breadcrumb-container">
        <div class="col-md-9 col-sm-9 col-xs-12 breadcrumb-container-path" style="float:left;">
            <ol class="breadcrumbs">

                <li title="Travel Maker 고객센터">
                    <a href="#">Travel Maker 고객센터</a>
                </li>

                <li title="Travel Maker  소식">
                    <a href="#">Travel Maker 소식</a>
                </li>

                <li title="공지사항">
                    <a href="#">공지사항</a>
                </li>
            </ol>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12 breadcrumb-container-search" style="float:right;">
            <form role="search" class="search" data-search="" action="" accept-charset="UTF-8"
                  method="get"><input name="utf8" type="hidden" value="✓" autocomplete="off">
                <zd-autocomplete-announcement id="69f8b588-7839-4e44-8c56-bb129be19bff" aria-live="polite"
                                              role="listbox"></zd-autocomplete-announcement>
                <input type="search" name="query" id="query" placeholder="검색" aria-label="Search"
                       aria-autocomplete="both" aria-expanded="false" role="combobox"
                       aria-owns="69f8b588-7839-4e44-8c56-bb129be19bff">
                <input type="submit" name="commit" value="검색"></form>
        </div>
    </div>
    <div class="container" style="margin-bottom:50px;">
        <div class="row" style="padding-bottom:50px;">
            <div class="section-template col-xs-12">
                <h2 class="hc_title">공지사항</h2>

                <div class="article-lists section-with-article-block">
                    <ul class="article-list"></ul>
                </div>

                <nav class="pagination">
                    <ul class="pagination-ul"></ul>
                </nav>
            </div>
        </div>
    </div>
</main>

<footer id="footer" th:replace="~{/footer/footer::footer}"></footer>
</body>
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>let noticeId ="";</script>
<script src="/js/information/notice/list.js"></script>
</html>