td.no-answer>hr {
    border-bottom: 4px solid gray;
}

td.answered>hr {
    border-bottom: 4px solid #4F6DF5;
}

.approval{
    color: green;
}

.companion{
    color: red;
}

.waiting{
    color: blue;
}

.span-bold {
    font-weight: bold;
}