@charset "UTF-8";

.container {
	width: 100%;
	margin-left: 250px;
	margin-top: 55px;
}

.info-flex {
	display: flex;
	justify-content: space-between;
}

.board-info-box-layout {
	border: 0.0625rem solid #f2f2f2;
    box-shadow: 11px 13px 11px -14px grey;
    background: #fff;
}

.info-title-box-flex {
	display: flex;
    position: fixed;
	justify-content: flex-start;
}

.info-title-box {
	width: 100%;
	height: 55px;
	border-radius: 3px;
	background: #fff;
	box-shadow: 11px 13px 11px -14px grey;
}

.info-table {
	margin: 0 auto;
	padding: 10px 30px;
}

.board-info-title-box {
	padding: 20px 27px 15px;
}

.board-info-title-box {
	font-size: 15px;
	font-weight: bold;
}

.select-name {
	padding-top : 20px;
	padding-left: 5px;
}

.container-margin {
	margin: 40px 250px 0px;
}

.board-info-box-layout {
	margin-top: 30px;	
}

.prev-button-layout {
	position: relative;
}

.prev-icon {
	position: absolute;
	width: 20px;	
    top: 3px;	
}

.prev-title {
	font-weight: 500;
	padding-left: 28px;	
}

.span-bold {
	font-weight: bold;
}

.info-member {
	margin-bottom: 10px;	
}

.info-tag {
	font-size: 13px;
	color: #c1c1c1;
}

.info span {
	font-size: 13px;
	font-weight: bold;
}

div.margin {
	margin-top : 50px;	
}

div.margin span {
	font-size: 14px;
}

.write-count-box {
	display: flex;
	justify-content: flex-start;
}

.count {
	padding-left : 15px;
}

.board-info-box-layout2 {
	height: 300px;
}

.board-info-box-flex {
	display: flex;
	justify-content: space-between;
}

.modify-button-box {
	padding: 20px 27px 15px;
	font-size: 12px;
    font-weight: 400;
	position: relative;
}

.gear-icon {
	width: 10px;	
}

div.info-table>div.board-info {
    /* display: inline-block; */
    margin-right: 12px;
}

.info-table div {
    margin: 15px 0;
}

.info-table button {
    font-family: 'GmarketSansMedium';
    width: 100px;
    height: 30px;
    background-color: #4F6DF5;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    border: none;
}

div.board-content {
    /*min-height: 320px;*/
}

.inquiry-content{
	min-height: 320px;
}

.board-info-box {
    width: 100%;
}

.board-register-date {
	padding-bottom: 8px;
	margin: 0 !important;
}

.modify-button-wrapper {
	margin: 0;
	padding-top: 16px;
}

.info-table>div {
	margin:0;
	padding: 4px 0;
}

.board-info-box-layout hr {
	height: 1px;
    background: #f2f1f1;
    border: 0;
	margin:8px 0;
}
.btn-done {
	font-family: 'GmarketSansMedium';
	width: 100px;
	height: 30px;
	background-color: #4F6DF5;
	font-size: 15px;
	font-weight: bold;
	color: #fff;
	border: none;
	position: absolute;
	padding-top: 9px;
	right: 22px;
	top: 15px;
	text-align: center;
}