.board-info-box {
/*    min-height: 500px;*/
}

.company-answer-btn {
    font-family: 'GmarketSansMedium';
    width: 100px;
    height: 30px;
    background-color: #4F6DF5;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    border: none;
}


.info-table button {
    font-family: 'GmarketSansMedium';
    width: 100px;
    height: 30px;
    background-color: #4F6DF5;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    border: none;
}