.Padding_padding___Nyki {
    height: 50px;
}

.container-profileInterests {
    width: 400px;
}

.container-profile {
    position: relative;
    max-width: 1060px;
}

@media (min-width: 1200px) {
    .container-profile {
        padding-bottom: 100px;
        margin: 0 auto;
    }
}
.nav {
    position: relative;
    line-height: normal;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: inherit;
}
.nav-title>p {
    font-size: 20px;
    font-weight: 700;
    color: #333;
    padding: 50px 0 20px;
}
button {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    cursor: pointer;
    font-family: inherit;
}

.nav-button {
    width: 100%;
    display: none;
    position: relative;
    border-top: 1px solid rgba(0,0,0,.1);
    border-bottom: 1px solid rgba(0,0,0,.1);
    cursor: pointer;
}

.interests {
    background: #fff;
    border: 1px solid #e1e2e4;
    border-radius: 3px;
}
.interests-contents {
    padding: 29px 19px 0;
}
.interests-contents .interests-message {
    margin-bottom: 9px;
    font-size: 15px;
    color: #171717;
    font-weight: 600;
}

.interests-contents .interests-sub-message {
    margin-bottom: 27px;
    font-size: 12px;
    color: #8a8a8a;
    font-weight: 500;
}
.interestsTags {
    margin-bottom: 24px;
}
.interestsTags-interestsTags-curation {
    margin: 0;
}

.interestsTags-interestsTags-curation>ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
ol, ul {
    list-style: none;
}

.curationTags {
    min-width: 90%;
}
.curationTags .curationTags-iconImg {
    margin-bottom: 14px;
}
.curationTags .curationTags-iconImg>img {
    width: 15px;
    height: 16px;
    margin-right: 4px;
    margin-top: -5px;
}
img {
    vertical-align: middle;
}

.curationTags .curationTags-iconImg .curationTags-tagTitle {
    font-weight: 700;
    font-size: 15px;
    color: #171717;
}

.curationTags .curationTags-subTags>li {
    float: left;
    margin: 0 10px 16px 0;
    height: 38px;
}


.curationTags .curationTags-subTags>li>button {
    display: inline-block;
    padding: 0 15px;
    font-size: 15px;
    height: 100%;
    font-weight: 500;
    color: #171717;
    border: 1px solid transparent;
    border-radius: 21px;
    background: #f2f4f7;
    line-height: 1em;
}

.interests-buttons {
    padding: 0 20px 24px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.interests-buttons>a {
    display: block;
    text-align: center;
    margin-right: 9px;
    width: 230px;
    height: 50px;
    line-height: 50px;
    border: 1px solid #36f;
    color: #36f;
    border-radius: 28px;
    font-size: 16px;
    font-weight: 700;
}
a, a:active, a:hover, a:visited {
    color: inherit;
}
a {
    font-family: inherit;
    text-decoration: inherit;
    cursor: pointer;
}

.style-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 54px;
    border: 0;
    border-radius: 27px;
    background-color: #36f;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.interests-buttons>button {
    width: 230px;
    height: 50px;
    line-height: 50px;
    margin-left: 9px;
    border-radius: 28px;
}
.now-button{
    --button-color: #36f;
    color: #36f;
    box-shadow: 0 0 0 1px #36f inset;
    font-weight: 700;
}
.container-profile:after {
    display: block;
    content: "";
    clear: both;
}

.span-color{
    color: #36f;
    font-weight: 700;
}
