<!DOCTYPE html>
<html lang="en_US">
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>Travel Maker OneID</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <style>
            .async-hide {
                opacity: 0 !important;
            }
        </style>
        <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
        <link rel="stylesheet" href="/css/login/pass_common.css">
        <link rel="stylesheet" href="/css/login/password_email.css">
    </head>
    <body style="overflow: unset;">
        <div id="pass__next">
            <div class="pass-div1">
                <div class="pass-div2">
                    <div class="pass-container">
                        <div class="pass-header-container">
                            <div class="pass-email-logo-left"></div>
                            <div class="pass-email-logo-container">
                                <p
                                    color="var(--theme-palette-colors-black-100)"
                                    class="pass-email-logo-p">비밀번호 재설정</p>
                            </div>
                            <div class="pass-email-logo-right"></div>
                        </div>
                        <div class="pass-body-container">
                            <p
                                color="var(--theme-palette-colors-black-100)"
                                class="pass-body-p1">이메일을 전송했어요.</p>
                            <p
                                color="var(--theme-palette-colors-gray-600)"
                                class="pass-body-p2">비밀번호 재설정을 위한 이메일을 전송했어요.
                                <br>이메일이 오지 않았다면, 이메일이 맞는지 확인해주세요.</p>
                            <div class="pass-email-email-container">
                                <p
                                    color="var(--theme-palette-colors-black-100)"
                                    class="pass-email-email-p">user@naver.com</p>
                            </div>
                            <button type="button" data-testid="Button" class="pass-email-goto-main-button">
                                <span
                                    color="var(--theme-palette-colors-black-100)"
                                    class="pass-email-goto-main-span">메인으로 돌아가기</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>