@media (min-width: 1200px){
    .Section_Section__3N5FM {
        padding-top: 25px;
    }
}

.Section_Section__3N5FM {
    padding-top: 25px;
}

@media (min-width: 1200px){
    .TopBanner_TopBanner__yxapE {
        height: auto;
    }
}

.TopBanner_TopBanner__yxapE {
    position: relative;
    overflow: hidden;
}

.TopBanner_TopBanner__yxapE .slick-slider {
    margin-bottom: 0;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.TopBanner_prevArrow__B7nqk {
    left: calc((100% - 1210px)/2);
}

.TopBanner_arrow__BN_7d {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 120px;
    width: 30px;
    height: 60px;
    opacity: .5;
    border-radius: 15px;
    background-color: #fff;
    font-size: 16px;
    z-index: 10;
}

.SvgIcon_SvgIcon__root__8vwon {
    display: flex;
    align-items: inherit;
    justify-content: inherit;
}

.SvgIcon_SvgIcon__root__svg__DKYBi {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    flex-shrink: 0;
    font-size: inherit;
}

.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
}

@media (min-width: 1200px){
    .TopBanner_TopBanner__yxapE .slick-slider .slick-slide {
        padding: 0 12px;
        box-sizing: content-box;
    }
}

.TopBanner_TopBanner__yxapE .slick-slider .slick-slide {
    position: relative;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
}

@media (min-width: 1200px){
    .TopBanner_TopBanner__yxapE .slick-slider .slick-slide>div {
        margin: 0;
    }
}

.Image_Image__T6WBp {
    position: relative;
    padding-bottom: 28.3%;
}

@media (min-width: 1200px){
    .Information_Information__SwERN {
        position: absolute;
        bottom: 28px;
        width: 330px;
        height: 146px;
        border-radius: 4px;
        background-color: #fff;
        opacity: 0;
        text-align: left;
        left: 34px;
    }
}

@media (min-width: 1200px){
    .Information_Information__SwERN>h2 {
        margin-left: 20px;
        margin-right: 20px;
        font-size: 20px;
        line-height: 1.5;
    }
}

.Information_Information__SwERN>h2 {
    margin-top: 20px;
    font-weight: 700;
    color: #333;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media (min-width: 1200px){
    .Information_Information__SwERN>h3 {
        margin: 0 20px;
        height: 44px;
        font-size: 14px;
        line-height: 1.64;
        color: #333;
    }
}

.Information_Information__SwERN>h3 {
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media (min-width: 1200px){
    .Information_Information__divider__Z8vel {
        display: block;
    }
}

.Divider_Divider__root__f2LD0 {
    height: 1px;
    margin: 0;
    border: none;
    background-color: #e1e2e4;
}

@media (min-width: 1200px){
    .Information_Information__directButton__8Kgp3 {
        margin: 15px 0 0 20px;
    }
}

.Button_Button__textSizeSmall__VSAkQ {
    font-size: 14px;
    font-weight: 600;
}

.Button_Button__text__GCOTx, .Button_Button__textPrimary__hcFzK {
    --button-color: #36f;
    color: var(--button-color);
}

.Button_Button__textDisableGutters__xo2we {
    padding: 4px 0;
}

.Button_Button__text__GCOTx {
    border-radius: 4px;
}

.Button_Button__root__V1ie3 {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    box-sizing: border-box;
    line-height: normal;
    border: none;
    cursor: pointer;
    white-space: nowrap;
}

.Button_Button__label__1Kk0v {
    width: 100%;
    font-size: inherit;
    font-weight: inherit;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    color: inherit;
}

.Button_Button__endIcon__sizeSmall__WRRfs {
    margin-left: 4px;
}

.Button_Button__endIcon__MpDfc {
    font-size: 1.2em;
}

.Button_Button__textDisableGutters__xo2we>.Button_Button__interaction__kkYaa {
    left: -8px;
    right: -8px;
}

.Button_Button__interaction__kkYaa {
    overflow: hidden;
    position: absolute;
    z-index: 0;
    top: 0;
    bottom: 0;
    border-radius: inherit;
    opacity: 0;
    background-color: var(--button-color);
    transition: opacity .2s ease;
    will-change: opacity;
}

@media (min-width: 1200px){
    .TopBanner_TopBanner__yxapE .slick-slider .slick-slide>div {
        margin: 0;
    }
}

.Image_Image__T6WBp {
    position: relative;
    padding-bottom: 28.3%;
}

.TopBanner_TopBanner__yxapE .slick-slider .slick-slide>div>div>div>a>img {
    display: inline-block;
}

.Image_Image__image__Y2rLN {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 4px;
    object-fit: cover;
}

@media (min-width: 1200px){
    .Information_Information__SwERN {
        position: absolute;
        bottom: 28px;
        width: 330px;
        height: 146px;
        border-radius: 4px;
        background-color: #fff;
        opacity: 0;
        text-align: left;
        left: 34px;
    }
}

@media (min-width: 1200px){
    .Information_Information__SwERN>h2 {
        margin-left: 20px;
        margin-right: 20px;
        font-size: 20px;
        line-height: 1.5;
    }
}

.Information_Information__SwERN>h2 {
    margin-top: 20px;
    font-weight: 700;
    color: #333;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media (min-width: 1200px){
    .Information_Information__SwERN>h3 {
        margin: 0 20px;
        height: 44px;
        font-size: 14px;
        line-height: 1.64;
        color: #333;
    }
}

.Information_Information__SwERN>h3 {
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media (min-width: 1200px){
    .Information_Information__divider__Z8vel {
        display: block;
    }
}

.Divider_Divider__root__f2LD0 {
    height: 1px;
    margin: 0;
    border: none;
    background-color: #e1e2e4;
}

@media (min-width: 1200px){
    .Information_Information__directButton__8Kgp3 {
        margin: 15px 0 0 20px;
    }
}

.Button_Button__textSizeSmall__VSAkQ {
    font-size: 14px;
    font-weight: 600;
}

.Button_Button__text__GCOTx, .Button_Button__textPrimary__hcFzK {
    --button-color: #36f;
    color: var(--button-color);
}

.Button_Button__textDisableGutters__xo2we {
    padding: 4px 0;
}

.Button_Button__text__GCOTx {
    border-radius: 4px;
}

.Button_Button__label__1Kk0v {
    width: 100%;
    font-size: inherit;
    font-weight: inherit;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    color: inherit;
}

.Button_Button__endIcon__sizeSmall__WRRfs {
    margin-left: 4px;
}

.Button_Button__endIcon__MpDfc {
    font-size: 1.2em;
}

.TopBanner_nextArrow__6wqx0 {
    right: calc((100% - 1200px)/2);
}

@media (min-width: 1200px){
    .LineBanner_LineBanner__qwTTi {
        max-width: 1060px;
        width: 87.72%;
    }
}

.LineBanner_LineBanner__qwTTi {
    margin: 60px auto;
}

.LineBanner_LineBanner__link__FIQmY {
    display: flex;
    word-break: keep-all;
    text-align: center;
}

.LineBanner_LineBanner__gradient__stZ4a {
    background-image: linear-gradient(90deg,#01a9fe -12%,#2f5fef 37%,#046afe 72%,#00d2dd 110%);
}

@media (min-width: 1200px){
    .LineBanner_LineBanner__box__6rD3K {
        padding: 21px 30px;
        font-size: 18px;
        line-height: normal;
    }
}

.LineBanner_LineBanner__box__6rD3K {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 700;
    border-radius: 38.5px;
}

.LineBanner_LineBanner__box__6rD3K>svg {
    margin-right: 15px;
}

.MatchedJobList_matching__container__notMatchedBG__p1yma {
    border-radius: 10px;
    max-width: 1060px;
    width: 90%;
    background: #f4f8fb no-repeat;
    background-size: cover;
    margin: 60px auto 0;
}

.MatchedJobList_matching__container__sahEu {
    position: relative;
}

.MatchedJobList_matching__title_wrapper__XHXHp {
    position: relative;
    margin-bottom: 30px;
}

.MatchedJobList_matching__title_wrapper_notMatched__lpVAQ {
    overflow: hidden;
    padding: 32px 40px;
}

.MatchedJobList_matching__aiBanner__sF6Fg {
    display: flex;
}

.MatchedJobList_matching__aiBanner__container__ahrBq {
    display: flex;
    flex-direction: column;
    flex: 1 1;
    padding: 0;
}

.MatchedJobList_matching__aiBanner__container__titleWrapper__T0BM0 {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
}

.MatchedJobList_matching__aiBanner__container__titleWrapper__title__AKru2 {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #111;
    margin-left: 4px;
}

.MatchedJobList_matching__aiBanner__container__ahrBq>p {
    color: #8a8a8a;
}

.Typography_Typography__weightMedium__O0Rdi {
    font-weight: 500;
}

.Typography_Typography__body1__sizeLarge__ahoKZ, .Typography_Typography__body1__sizeSmall__EJBAg {
    font-size: 16px;
    letter-spacing: .0057em;
    line-height: 24px;
}

.Typography_Typography__root__xYuMs {
    margin: 0;
}

.MatchedJobList_matching__aiBanner__container__titleWrapper__subtitle__HJxTP>br {
    content: "";
}

.MatchedJobList_matching__aiBanner__sF6Fg>img {
    position: absolute;
    right: 195px;
    top: 0;
    z-index: 0;
    width: 243px;
}

.MatchedJobList_matching__aiBanner__sF6Fg>button {
    width: 147px;
    height: 40px;
    margin: 8px 0;
}

.style_wrapper__IgK7U {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 27px;
    background-color: #36f;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

.Typography_Typography__weightBold__e15ql {
    font-weight: 600;
}

.Typography_Typography__body2__sizeLarge__5hIoP, .Typography_Typography__body2__sizeSmall__P7Gde {
    font-size: 15px;
    letter-spacing: .0096em;
    line-height: 22px;
}

.Typography_Typography__root__xYuMs {
    margin: 0;
}

.MatchedJobList_matching__title__0eDXZ {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.05;
    letter-spacing: normal;
    text-align: left;
    color: #111;
}

.CareerConnectBanner_CareerConnectBanner__FpF_i {
    position: relative;
    height: 103px;
    border-radius: 10px;
    background: #2b4bc8;
    cursor: pointer;
    overflow: hidden;
}

.CareerConnectBanner_CareerConnectBanner__Wide__dCVvR {
    max-width: 1060px;
}

@media (min-width: 1200px){
    .CareerConnectBanner_CareerConnectBanner__Wide__dCVvR {
        width: 87.72%;
    }
}

@media (min-width: 1200px){
    .CareerConnectBanner_CareerConnectBanner__Wide__dCVvR {
        margin: 60px auto 0;
    }
}


.CareerConnectBanner_CareerConnectBanner__FpF_i>picture {
    z-index: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.CareerConnectBanner_CareerConnectBanner__FpF_i>picture>img {
    width: 100%;
    height: 100%;
}

.CareerConnectBanner_CareerConnectBanner__Banner__pYgJz {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 32px 40px;
    font-size: 22px;
    font-weight: 800;
    line-height: 26px;
    color: #fff;
}

.CareerConnectBanner_CareerConnectBanner__Banner__Content__qO1G1 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.CareerConnectBanner_CareerConnectBanner__Banner__Content__qO1G1>p {
    z-index: 1;
}

.CareerConnectBanner_CareerConnectBanner__Banner__Content__qO1G1>strong {
    z-index: 1;
    border-radius: 20px;
    background-color: #fff;
    color: #2b4bc8;
    font-size: 15px;
    line-height: 18px;
    font-weight: 600;
    padding: 11px 20px;
}

.CareerConnectBanner_CareerConnectBanner__Wide__dCVvR>button>div>picture {
    right: 240px;
}

.CareerConnectBanner_CareerConnectBanner__Banner__Content__qO1G1>picture {
    z-index: 0;
    position: absolute;
    bottom: -7px;
    width: 124px;
    height: 100px;
}

.CareerConnectBanner_CareerConnectBanner__Banner__Content__qO1G1>picture>img {
    width: 100%;
    height: 100%;
}

@media (min-width: 1200px){
    .PillShortcut_container__g4_3k {
        margin: 0 auto;
        padding: 60px 0 85px;
    }
}

@media (min-width: 1200px){
    .PillShortcut_container__g4_3k {
        width: 87.72%;
    }
}

.PillShortcut_container__g4_3k {
    max-width: 1060px;
}

.PillShortcut_shortcut_list__5PeOk {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    color: #333;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    word-break: break-all;
}

.PillShortcut_shortcut_list__5PeOk>li:first-child {
    background-color: #f2f5ff;
    border-top-left-radius: 38.5px;
    border-bottom-left-radius: 38.5px;
    border-left: none;
}

.PillShortcut_shortcut_list__5PeOk>li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0;
    height: 80px;
}

.PillShortcut_shortcut_list__5PeOk>li>a, .PillShortcut_shortcut_list__5PeOk>li button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0;
    height: 100%;
}

.PillShortcut_shortcut_list__icon__NOLmL {
    margin-right: 12px;
    font-size: 28px;
}

.PillShortcut_shortcut_list__5PeOk>li:last-child {
    border-top-right-radius: 38.5px;
    border-bottom-right-radius: 38.5px;
    background-color: #f2fbf5;
}

.PillShortcut_shortcut_list__5PeOk>li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0;
    height: 80px;
    border-left: 1px solid #fff;
}

.PillShortcut_shortcut_list__5PeOk>li>a, .PillShortcut_shortcut_list__5PeOk>li button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0;
    height: 100%;
}

@media (min-width: 1200px){
    .CompanyTag_companyTag__rnoHO {
        margin: 0 auto;
    }
}

@media (min-width: 1200px){
    .CompanyTag_companyTag__rnoHO {
        width: 87.72%;
    }
}

.CompanyTag_companyTag__rnoHO {
    position: relative;
    max-width: 1060px;
}

.TitleList_titleList__GaKzt {
    margin-bottom: 90px;
}

.TitleList_titleList__GaKzt .TitleList_title_header__T0npo {
    position: relative;
    margin-bottom: 40px;
}

.TitleList_titleList__GaKzt .TitleList_title_wrapper__MoG0p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 51px;
    padding-top: 36px;
}

.TitleList_titleList__GaKzt .TitleList_title__c2VAV {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 9px;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    color: #333;
    text-align: center;
}

.TitleList_titleList__GaKzt .TitleList_title__c2VAV>a>img {
    position: relative;
    top: -2px;
    width: 24px;
    height: 24px;
    margin: 0 8px 0 4px;
}

.TitleList_titleList__GaKzt .TitleList_title__c2VAV>span {
    font-weight: 400;
}

.TitleList_titleList__GaKzt .TitleList_title_buttonArea__WFGo5, .TitleList_titleList__GaKzt .TitleList_title_buttonArea__WFGo5>a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.TitleList_titleList__GaKzt .TitleList_title_buttonArea__WFGo5 {
    width: 100%;
}

.TitleList_titleList__GaKzt .TitleList_title_buttonArea__WFGo5>a>span:first-child {
    padding-top: 2px;
    margin-right: 6px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #767676;
}

.TitleList_titleList__GaKzt .TitleList_title_button_arrow__DfgGL {
    width: 6px;
    height: 10px;
    padding: 0;
    margin: 0;
    color: #767676;
}

.TitleList_titleList__GaKzt .TitleList_title_button_arrow__DfgGL>svg {
    position: absolute;
    width: inherit;
    height: inherit;
    color: inherit;
}

.TitleList_titleList__GaKzt .TitleList_navigation__vWMyD {
    position: absolute;
    top: 50%;
    transform: translateY(-55%);
}

.Navigation_navigation__FEBWp {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    pointer-events: none;
}

.ArrowButton_ArrowButton__zK5U5:disabled {
    cursor: not-allowed;
    opacity: .7;
    color: #ddd;
    border: 1px solid #eee;
}

.Navigation_navigation__FEBWp button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.1);
    border-radius: 50%;
    pointer-events: all;
}

@media (min-width: 1200px){
    .ArrowButton_ArrowButton__zK5U5 {
        min-width: 36px;
        min-height: 36px;
    }
}

.ArrowButton_ArrowButton__zK5U5 {
    font-size: 16px;
    color: #767676;
}

.TitleList_titleList__GaKzt .TitleList_slider_container__OYQTU {
    margin: -10px;
}

.slick-slider {
    margin-bottom: 30px;
}

.slick-track:before, .slick-track:after {
    content: "";
    display: table;
}

.Card_card__container__7W4Fx {
    padding: 10px;
}

.Card_card__container__7W4Fx>a {
    display: block;
}

.Card_card__container__7W4Fx header {
    padding-bottom: 52%;
    background-size: cover;
    background-position: 50%;
    border-radius: 4px;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);
}

.Card_card__body__rie2K {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 17px;
}

.Card_card__body_flexbox__blYGd {
    display: flex;
    flex: 1 0;
}

.Card_card__body_img__dH9x1 {
    width: 42px;
    height: 42px;
    flex-grow: 0;
    flex-shrink: 0;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);
    background-size: contain;
    background-position: 50%;
    margin-right: 12px;
    background-repeat: no-repeat;
}

.Card_card__body_info__8f_bM {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}

.Card_card__body_info_title__e5_Il {
    font-size: 18px;
    font-weight: 700;
    color: #333;
    word-break: break-all;
}

.Card_card__body_info_location__tXo2O {
    font-size: 14px;
    font-weight: 500;
    color: #999;
}

.Card_card__body_btn__68NON {
    border: 1px solid #e1e2e3;
    padding: 12px 25.5px 11px;
    line-height: 1;
}

.Button_Button__containedSizeMedium__c2z9c, .Button_Button__outlinedSizeMedium__k3ora {
    min-width: 64px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
}

.Button_Button__outlined__H2mkd, .Button_Button__outlinedPrimary__IcVlp {
    --button-color: #36f;
    color: var(--button-color);
    box-shadow: 0 0 0 1px var(--button-color) inset;
}

.Button_Button__outlined__H2mkd {
    border-radius: 1000px;
    background-color: #fff;
}

.Button_Button__root__V1ie3 {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    box-sizing: border-box;
    cursor: pointer;
    white-space: nowrap;
}

.Button_Button__label__1Kk0v {
    width: 100%;
    font-size: inherit;
    font-weight: inherit;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    color: inherit;
}

.Button_Button__interaction__kkYaa {
    overflow: hidden;
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: inherit;
    opacity: 0;
    background-color: var(--button-color);
    transition: opacity .2s ease;
    will-change: opacity;
}

@media (min-width: 1200px){
    .Divider_divider__IzBiR {
        margin: 0 auto;
    }
}

@media (min-width: 1200px){
    .Divider_divider__IzBiR {
        width: 87.72%;
    }
}

.Divider_divider__IzBiR {
    position: relative;
    max-width: 1060px;
    height: 1px;
    background-color: #ececec;
}

@media (min-width: 1200px){
    .ThemeBanner_ThemeBanner__bxXme {
        margin: 0 auto;
        padding-top: 70px;
        padding-bottom: 70px;
    }
}

@media (min-width: 1200px){
    .ThemeBanner_ThemeBanner__bxXme {
        width: 87.72%;
    }
}

.ThemeBanner_ThemeBanner__bxXme {
    position: relative;
    max-width: 1060px;
}

.ThemeBanner_ThemeBanner__bxXme .ThemeBanner_title_wrapper__i4DqO {
    position: relative;
    margin-bottom: 36px;
}

.ThemeBanner_ThemeBanner__bxXme .ThemeBanner_title_wrapper__i4DqO .ThemeBanner_title__rPb0G {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    line-height: 1.05;
    font-weight: 700;
    color: #111;
}

.ThemeBanner_ThemeBanner__bxXme .ThemeBanner_title_wrapper__i4DqO .ThemeBanner_navigation__FexIa {
    position: absolute;
    top: 50%;
    transform: translateY(-55%);
}

.Navigation_navigation__FEBWp {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    pointer-events: none;
}

.ThemeBanner_ThemeBanner__slideContainer__NiYUZ {
    margin: -10px;
}

.ThemeBanner_ThemeBanner__slider__uS8HN {
    margin-bottom: 10px;
}

.Item_Item__utk3j {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.Thumbnail_Thumbnail__B2hyY>img {
    width: 100%;
    height: 100%;
    max-height: 301px;
    border-radius: 4px;
    outline: 1px solid rgba(0,0,0,.05);
    outline-offset: -1px;
    object-fit: cover;
}

.slick-slide img {
    display: block;
}

.Item_Item__title__lEQjC {
    margin-top: 16px;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.6px;
    color: #333;
}

.Item_Item__subTitle__TbYru {
    margin-top: 8px;
    font-size: 14px;
    line-height: 16.8px;
    font-weight: 500;
    color: #939393;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.Item_Item__logos__Madl5 {
    margin-top: 8px;
}

.Item_Item__logos__Madl5>img {
    display: inline;
    margin-right: 8px;
    margin-top: 8px;
    border: 1px solid rgba(0,0,0,.05);
}

.Item_Item__logos__Madl5>a {
    font-size: 14px;
    font-weight: 500;
    color: #666;
    vertical-align: -webkit-baseline-middle;
}

.slick-track::after {
    clear: both;
}

@media (min-width: 1200px){
    .FeaturedJobList_featured__Lx_Rq {
        margin: 0 auto;
        padding: 70px 0 50px;
    }
}

@media (min-width: 1200px){
    .FeaturedJobList_featured__Lx_Rq {
        width: 87.72%;
    }
}

.FeaturedJobList_featured__Lx_Rq {
    position: relative;
    max-width: 1060px;
}

.FeaturedJobList_featured__title__CrAd5 {
    position: relative;
    margin-bottom: 30px;
}

.FeaturedJobList_featured__title__CrAd5>h2 {
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.05;
    color: #111;
}

.List_List_container__JnQMS>ul {
    margin: -10px;
    padding: 0;
}

.List_List_container__JnQMS>ul li {
    width: 25%;
    padding: 10px;
    list-style: none;
    display: inline-block;
    vertical-align: top;
}

.Card_className__u5rsb>a {
    display: block;
}

.Card_className__u5rsb header {
    padding-bottom: 75%;
    position: relative;
    background-size: cover;
    background-position: 50%;
    border-radius: 4px;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);
}

.Card_className__u5rsb header .bookmarkBtn {
    background: none;
    padding: 8px 6px;
    width: 42px;
    height: 42px;
    top: 0;
    right: 0;
    flex-direction: row;
    z-index: 1;
    justify-content: flex-end;
    align-items: flex-start;
}

.Card_className__u5rsb header button {
    border-radius: 3px;
    position: absolute;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    display: flex;
}

.Card_className__u5rsb .body {
    padding: 14px 0;
}

@supports (-webkit-line-clamp:2) and (-webkit-box-orient:vertical){
    .Card_className__u5rsb .body .job-card-position {
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
}


.Card_className__u5rsb .body .job-card-position {
    position: relative;
    color: #333;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.2;
    max-height: 2.4em;
    overflow: hidden;
    text-align: left;
    word-break: break-word;
}

.Card_className__u5rsb .body .job-card-company-name {
    color: #333;
    font-weight: 600;
}

.Card_className__u5rsb .body .job-card-company-location, .Card_className__u5rsb .body .job-card-company-name {
    font-size: 14px;
    line-height: normal;
    text-align: left;
    word-break: break-word;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 10px;
}

.Card_className__u5rsb .body .job-card-company-location {
    font-weight: 400;
    color: #999;
}

.Card_className__u5rsb .body .job-card-company-location, .Card_className__u5rsb .body .job-card-company-name {
    font-size: 14px;
    line-height: normal;
    text-align: left;
    word-break: break-word;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 10px;
}

.Card_className__u5rsb .body .addressDot {
    margin: 0 3px;
    top: -4px;
    position: relative;
}

.Card_className__u5rsb .body .reward {
    margin-top: 10px;
    color: #333;
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    word-break: break-word;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.Card_badge__cxAr8 {
    display: flex;
    grid-gap: 6px;
    gap: 6px;
    margin-top: 8px;
}

.List_List_container__JnQMS>ul:after {
    display: block;
    content: "";
    clear: both;
}