<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>관리자 페이지- 공지사항 게시판 작성</title>
        <link rel="stylesheet" href="/css/admin/sidemenu.css" />
        <link rel="stylesheet" href="/css/admin/admin-board-notice-write.css" />
        <link rel="stylesheet" href="/css/admin/admin-board.css">
        <link rel="stylesheet" href="/css/admin/admin-board-proposal.css">
        <link rel="stylesheet" href="/css/admin/admin-common.css">
        <link rel="stylesheet" href="/css/admin/modal.css"/>
        <link rel="icon" href="/images/logo/favicon.png" />
    </head>

    <body>

        <!-- 모달 부분 -->
        <div class="modal">
            <div class="warn-modal">
                <div id="content-wrap"></div>
            </div>
        </div>
        <div>
            <div class="info-title-box info-title-box-flex">
                <div class="logo-box-layout">
                    <div class="logo-box">
                        <img src="" style="padding-top: 17px" />
                    </div>
                    <div class="logo-title">
                        <span>Jar</span>
                    </div>
                </div>
                <div>
                    <div class="select-name">
                        <span>공지사항 게시판 관리</span>
                    </div>
                </div>
            </div>
            <div class="wrap">
                <!-- 사이드 바 -->
                <div th:replace="~{admins/side-bar :: #side-bar-wrap}"></div>

                <div class="container">
                    <div class="container-margin">
                        <!-- 헤더 -->
                        <div class="prev-button-layout">
                            <div>
                                <a th:href="@{/admins/notice/list}">
                                    <img src="/images/admin/prev-icon.png" class="prev-icon" />
                                </a>
                                <a class="back-page" href="">리스트로 돌아가기</a>
                            </div>
                        </div>

                        <!-- 내용 섹션 -->
                        <section class="board-info-box-layout">
                            <div class="board-info-box">
                                <div class="board-info-title-box">
                                    <span>공지사항 등록하기</span>
                                </div>
                                <hr />
                                <div class="info-table">
                                    <form method="post" id="noticeWriteForm" name="noticeWriteForm">
                                        <input type="hidden" name="id" >
                                        <div>
                                            <input
                                                type="text"
                                                class="board-title"
                                                name="noticeTitle"
                                                placeholder="제목을 입력해주세요."
                                            />
                                        </div>
                                        <hr />
                                        <div>
                                            <textarea
                                                class="board-content"
                                                name="noticeContent"
                                            ></textarea>
                                        </div>
                                        <hr />
                                        <div class="attach-wrap">
                                            <label for="upload1" class="attach">
                                                <img src="" class="thumbnail">
                                                <div class="x">
                                                    <img src="/images/admin/x.png">
                                                </div>
                                                <h6 class="plus">+</h6>
                                                <h6 style="text-align: center">
                                                    대표 이미지<br>(썸네일 부분)
                                                </h6>
                                                <span class="file-size"></span>
                                            </label>
                                            <label for="upload2" class="attach">
                                                <img src="" class="thumbnail">
                                                <div class="x">
                                                    <img src="/images/admin/x.png">
                                                </div>
                                                <h6 class="plus">+</h6>
                                                <h6 style="text-align: center">
                                                    내용 이미지<br>(컨텐츠 부분)
                                                </h6>
                                                <span class="file-size"></span>
                                            </label>
                                        </div>
                                        <input type="file" id="upload1" class="upload" style="display: none;">
                                        <input type="file" id="upload2" class="upload" style="display: none;">
                                        <div>
                                            <button style="margin-top: 15px;" class="ok-button btn-done" type="button">수정 완료</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <script src="/js/admin/modal.js"></script>
    <script>
        $("button.btn-done").on("click", function () {

            // 공지사항 제목 유효성 검사
            if ($("#noticeTitle").val() == "") {
                showWarnModal("공지사항 제목을 입력해주세요.");
                $("#noticeTitle").focus();
                return false;
            };

            // 공지사항 내용 유효성 검사
            if ($("#noticeContent").val() == "") {
                showWarnModal("공지사항 내용을 입력해주세요.");
                $("#noticeContent").focus();
                return false;
            };

            showWarnModal("수정 되었습니다.");

            setTimeout(function () {
                // $("#noticeWriteForm").submit();
            }, 1500);
        });
    </script>

</html>
