<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>관리자 페이지- 공지사항 게시판 작성</title>
    <link rel="stylesheet" href="/css/admin/sidemenu.css"/>
    <link rel="stylesheet" href="/css/admin/admin-board-notice-write.css"/>
    <link rel="stylesheet" href="/css/admin/admin-board.css">
    <link rel="stylesheet" href="/css/admin/admin-board-proposal.css">
    <link rel="stylesheet" href="/css/admin/admin-common.css">
    <link rel="stylesheet" href="/css/admin/modal.css"/>
    <link rel="icon" href="/images/logo/favicon.png"/>
</head>

<body>

<!-- 모달 부분 -->
<div class="modal">
    <div class="warn-modal">
        <div id="content-wrap"></div>
    </div>
</div>

<div>
    <div class="info-title-box info-title-box-flex">
        <div class="logo-box-layout">
            <div class="logo-box">
                <img src="" style="padding-top: 17px"/>
            </div>
            <div class="logo-title">
                <span>Jar</span>
            </div>
        </div>
        <div>
            <div class="select-name">
                <span>공지사항 게시판 관리</span>
            </div>
        </div>
    </div>
    <div class="wrap">
        <!-- 사이드 바 -->
        <div th:replace="~{admins/side-bar :: #side-bar-wrap}"></div>

        <div class="container">
            <div class="container-margin">
                <!-- 헤더 -->
                <div class="prev-button-layout">
                    <div>
                        <a href="">
                            <img src="/images/admin/prev-icon.png" class="prev-icon"/>
                        </a>
                        <a class="back-page" th:href="@{/admins/notice/list}">리스트로 돌아가기</a>
                    </div>
                </div>

                <!-- 내용 섹션 -->
                <section class="board-info-box-layout">
                    <div class="board-info-box">
                        <div class="board-info-title-box">
                            <span>공지사항 등록하기</span>
                        </div>
                        <hr/>
                        <div class="info-table">
                            <form method="post" id="noticeWriteForm"
                                  name="noticeWriteForm">
                                <div>
                                    <input
                                            type="text"
                                            class="board-title"
                                            id="noticeTitle"
                                            name="noticeTitle"
                                            placeholder="제목을 입력해주세요."
                                            autocomplete="off"
                                    />
                                </div>
                                <hr/>
                                <div>
                                            <textarea
                                                    class="board-content"
                                                    id="noticeContent"
                                                    name="noticeContent"
                                                    placeholder="내용을 입력해주세요."
                                            ></textarea>
                                </div>
                                <hr/>
                                <div class="attach-wrap">
                                    <!-- 대표 이미지 부분 -->
                                    <label for="upload1" class="attach">
                                        <img src="" class="thumbnail" id="thumbnail1">
                                        <div class="x">
                                            <img src="/images/admin/x.png">
                                        </div>
                                        <h6 class="plus">+</h6>
                                        <h6 style="text-align: center">
                                            내용 이미지
                                        </h6>
                                    </label>
                                </div>
                                <input type="file" id="upload1" class="upload" style="display: none;">
                                <div>
                                    <button type="button" class="ok-button btn-done">등록 완료</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script src="/js/admin/sidemenu.js"></script>
<script src="/js/admin/modal.js"></script>
<script src="/js/admin/notice/write.js"></script>
</html>
