<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>관리자 페이지- 상품권 상세보기</title>
        <link rel="stylesheet" href="/css/admin/sidemenu.css" />
        <link rel="stylesheet" href="/css/admin/admin-board-detail.css" />
        <link rel="stylesheet" href="/css/admin/admin-inquire-detail.css" />
        <link rel="stylesheet" href="/css/admin/admin-board.css">
        <link rel="stylesheet" href="/css/admin/admin-board-proposal.css">
        <link rel="stylesheet" href="/css/admin/admin-common.css">
        <link rel="icon" href="/image/logo/favicon.png" />
        <link rel="stylesheet" href="/css/admin/modal.css"/>
    </head>
    <body>
    <!-- 모달 부분 -->
    <div class="modal">
        <div class="warn-modal">
            <div id="content-wrap"></div>
        </div>
    </div>
        <div>
            <div class="info-title-box info-title-box-flex">
                <div class="logo-box-layout">
                    <div class="logo-box">
                        <img src="/images/admin/wegether.svg" style="padding-top: 17px" />
                    </div>
                    <div class="logo-title">
                        <span>Jar</span>
                    </div>
                </div>
                <div>
                    <div class="select-name">
                        <span>상품권 관리</span>
                    </div>
                </div>
            </div>
            <div class="wrap">
                <!-- 사이드 바 -->
                <div th:replace="~{admins/side-bar :: #side-bar-wrap}"></div>

                <div class="container">
                    <div class="container-margin">
                        <!-- 헤더 -->
                        <div class="prev-button-layout">
                            <div>
                                <a th:href="@{/admins/coupon/list}">
                                    <img src="/images/admin/prev-icon.png" class="prev-icon" />
                                </a>
                                <span class="prev-title">리스트로 돌아가기</span>
                            </div>
                        </div>

                        <!-- 내용 섹션 -->
                        <section class="board-info-box-layout"></section>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <script src="/js/admin/sidemenu.js"></script>
    <script src="/js/admin/modal.js"></script>
    <script th:inline="javascript">
        let couponId = [[${couponId}]];
    </script>
    <script src="/js/admin/giftCard/write.js"></script>
</html>
