@charset "utf-8";

@keyframes popUp {
    from {scale: 0;}
    to {scale: 1;}
}

@keyframes popDown {
    from {scale: 1;}
    to {scale: 0;}
}

div.modal {
    display: none;
    position: fixed;
    flex-direction: column;
    inset: 0px;
    z-index: 1000;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #8586898a;
}

div.warn-modal {
    box-sizing: border-box;
    position: unset;
    width: 288px;
    margin: 20vh 0px;
    background: rgb(255, 255, 255);
    box-shadow: rgb(33 35 41 / 12%) 0px 2px 12px;
    border-radius: 8px;
}

div.warn-modal {
    /*padding: 24px;*/
    width: 460px;
    padding: 0;
    max-height: 633px;
}

div#content-wrap span{
    display: block;

}
.modal-container{
    width: 460px;
    padding: 0;
    max-height: 633px;
}

.modal-scroll {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    height: calc(100% - 64px);
    overflow-y: auto;
}
.write–modal-body {
    background-color: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 4px 4px 4px 0 rgba(0,0,0,.1);
    box-shadow: 4px 4px 4px 0 rgba(0,0,0,.1);
    padding: 16px 20px;
}

.selectTagsModal-title {
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    padding: 15px;
}
@media (min-width: 1200px) {
    selectTagsModal-title {
        padding: 20px;
    }
}
.modal-title {
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}
.modal-title>h4 {
    font-size: 16px;
    text-align: center;
    font-weight: 700;
}

.write–modal-body .select-tagsModal {
    display: -ms-flexbox;
    display: flex;
    color: #fff;
    font-weight: 700;
    font-size: 12px;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #36f;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    margin-left: 4px;
    padding-top: 1px;
}

@media (min-width: 1200px){
.selectTagsModal-title>button {
    top: 5px;
}
}
 .selectTagsModal-title>button {
     padding: 10px;
     font-size: 25px;
     position: absolute;
     right: 5px;
     top: 0;
 }

.SvgIcon_SvgIcon__root__8vwon {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: inherit;
    align-items: inherit;
    -ms-flex-pack: inherit;
    justify-content: inherit;
}

.SvgIcon_SvgIcon__root__svg__DKYBi {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    font-size: inherit;
}
.modalContent-ModalContent {
    -ms-flex: 1 1;
    flex: 1 1;
    overflow-y: auto;
    padding: 8px 24px;
}
.selectTagsModal-SelectTagsModal {
    padding-top: 7px;
}

.selectTagsModal-SelectTagsModal .selectTagsModal-message {
    font-size: 16px;
    line-height: 1.4;
    font-weight: 600;
    margin-bottom: 30px;
}



.modal-action {
    padding: 15px;
    border-top: 1px solid #eee;
}
 .select-action {
     display: -ms-flexbox;
     display: flex;
     -ms-flex-align: center;
     align-items: center;
     -ms-flex-pack: end;
     justify-content: flex-end;
     -ms-flex: 0 0 auto;
     flex: 0 0 auto;
 }
@media (min-width: 1200px) {
    .modal-action {
        padding: 20px;
    }
}


.btn-fullwidth {
    width: 100%;
}
 .btn-containedSizeLarge {
     padding: 0 28px;
     min-width: 84px;
     height: 48px;
     font-size: 16px;
     font-weight: 600;
 }
 .btn-contained, .btn-containedPrimary {
     color: #fff;
     background-color: #36f;
 }
 .btn-contained {
     border-radius: 1000px;
     border: none;
 }
 .modal-btn {
     --button-color: #171717;
     position: relative;
     display: -ms-inline-flexbox;
     display: inline-flex;
     -ms-flex-align: center;
     align-items: center;
     -ms-flex-pack: center;
     justify-content: center;
     vertical-align: middle;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
     line-height: normal;
     border: none;
     background-color: none;
     cursor: pointer;
     white-space: nowrap;
 }
.button-label {
    width: 100%;
    font-size: inherit;
    font-weight: inherit;
    display: inherit;
    -ms-flex-align: inherit;
    align-items: inherit;
    -ms-flex-pack: inherit;
    justify-content: inherit;
    color: inherit;
}
.btn-interaction {
    overflow: hidden;
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: inherit;
    opacity: 0;
    background-color: var(--button-color);
    -webkit-transition: opacity .2s ease;
    transition: opacity .2s ease;
    will-change: opacity;
}

