<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>관리자 페이지- 문의 게시판 목록</title>

        <link rel="stylesheet" href="/css/admin/sidemenu.css" />
        <link rel="stylesheet" href="/css/admin/admin-board.css" />
        <link rel="stylesheet" href="/css/admin/admin-board-proposal.css" />
        <link rel="stylesheet" href="/css/admin/admin-common.css">
        <link rel="stylesheet" href="/css/admin/modal.css"/>
        <link rel="icon" href="/images/logo/favicon.png" />
    </head>

    <body>
        <div>
            <!-- 모달 부분 -->
            <div class="modal">
                <div class="warn-modal">
                    <div id="content-wrap"></div>
                </div>
            </div>

            <div class="info-title-box info-title-box-flex">
                <div class="logo-box-layout">
                    <div class="logo-box">
                        <img src="" style="padding-top: 17px" />
                    </div>
                </div>
                <div>
                    <div class="select-name">
                        <span>문의 게시판 관리</span>
                    </div>
                </div>
            </div>
            <div class="wrap">
                <!-- 사이드 바 -->
                 <div th:replace="~{admins/side-bar :: #side-bar-wrap}"></div>

                <div class="container">
                    <div class="container-margin">
                        <div style="display: flex; justify-content: space-between">
                            <!-- 헤더 -->
                            <div class="search-wrap">
                                <form>
                                    <div class="search-container">
                                        <!-- 검색창 -->
                                        <div class="search-input-container">
                                            <input class="search-input deleteButton delete-button" type="search" name="keyword" placeholder="제목, 이름 또는 닉네임을 입력하세요" style="width: 450px; padding: 11px;">
                                        </div>
                                        <!-- 검색 버튼 누르기 -->
                                        <button style="display: none" type="submit"></button>
                                    </div>
                                </form>
                                <!-- 검색창 눌렀을 때 나오는 메뉴 -->
                            </div>

                            <div class="delete-box-layout">
                                <div class="delete-box">
                                    <button
                                            class="deleteButton delete-button"
                                            onclick="deleteInquiries(getSelectedInquiryIds())">
                                        삭제하기
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- 내용 섹션 -->
                        <section class="board-info-box-layout">
                            <div class="board-info-box">
                                <div class="board-info-title-box">
                                    <span>문의 게시판 목록</span>
                                </div>

                                <div class="info-table">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th class="checkbox-line">
                                                    <input type="checkbox" id="allSelect" />
                                                </th>
                                                <th>No</th>
                                                <th>문의 제목</th>
                                                <th>작성자 명</th>
                                                <th>작성자 닉네임</th>
                                                <th>작성 날짜</th>
                                                <th>문의/신고</th>
                                                <th>답변 여부</th>
                                            </tr>
                                        </thead>
                                        <!--답변 미완료 -->
                                        <tr>
                                            <td class="checkbox-line">
                                                <input
                                                        type="checkbox"
                                                        class="inquiryCheckbox"
                                                        name="check"/>
                                            </td>
                                            <td>1</td>
                                            <td>
                                                <a th:href="@{/admins/inquiry/detail}">문의 제목</a>
                                            </td>
                                            <td th:text="이종문">
                                            <td th:text="닉네임">
                                            </td>
                                            <td th:text="날짜"></td>
                                            <td th:text="문의"></td>
                                            <td style="color:#ff0000">답변 미완료</td>
                                        </tr>
                                        <!--답변 완료 -->
                                        <tr>
                                            <td class="checkbox-line">
                                                <input
                                                        type="checkbox"
                                                        class="inquiryCheckbox"
                                                        name="check"/>
                                            </td>
                                            <td>2</td>
                                            <td>
                                                <a th:href="@{/admins/inquiry/answer-detail}">문의 제목</a>
                                            </td>
                                            <td th:text="이종문">
                                            <td th:text="닉네임">
                                            </td>
                                            <td th:text="날짜"></td>
                                            <td th:text="신고" style="color:#ff0000"></td>
                                            <td style="color:#0fa34c">답변 완료</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </section>

                        <!-- 페이지 부분 -->
                        <div id="paging-wrap">
                            <a class="member-change-page paging paging-move">
                                <img src="/images/admin/prev.png" width="15px"></a>
                            <th:block>
                                <a class="paging paging-checked">1</a>
                                <a class="member-change-page paging">2</a>
                            </th:block>
                            <a class="member-change-page paging paging-move">
                                <img src="/images/admin/next.png" width="15px"></a>
                            <div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <script src="/js/admin/checkbox.js"></script>
    <script src="/js/admin/sidemenu.js"></script>
    <script src="/js/admin/modal.js"></script>
</html>
