<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>관리자 페이지- 문의 게시판 목록</title>

        <link rel="stylesheet" href="/css/admin/sidemenu.css" />
        <link rel="stylesheet" href="/css/admin/admin-board.css" />
        <link rel="stylesheet" href="/css/admin/admin-board-proposal.css" />
        <link rel="stylesheet" href="/css/admin/admin-common.css">
        <link rel="stylesheet" href="/css/admin/modal.css"/>
        <link rel="icon" href="/images/logo/favicon.png" />
    </head>

    <body>
        <div>
            <!-- 모달 부분 -->
            <div class="modal">
                <div class="warn-modal">
                    <div id="content-wrap"></div>
                </div>
            </div>

            <div class="info-title-box info-title-box-flex">
                <div class="logo-box-layout">
                    <div class="logo-box">
                        <?xml version="1.0" encoding="utf-8"?>
                        <svg version="1.1" id="레이어_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                             y="0px" viewBox="0 0 88 25" style="width: 150px" xml:space="preserve">
                                    <style type="text/css">
                                        .st0{fill:none;}
                                        .st1{stroke:#000000;stroke-width:0.25;stroke-miterlimit:10;}
                                        .st2{font-family:'BerlinSansFBDemi-Bold';}
                                        .st3{font-size:14px;}
                                    </style>
                            <rect class="st0" width="88" height="25"/>
                            <text transform="matrix(1 0 0 1 1.647 18.3975)" class="st1 st2 st3">Travel Maker</text>
                            </svg>
                    </div>
                </div>
                <div>
                    <div class="select-name">
                        <span>문의 게시판 관리</span>
                    </div>
                </div>
            </div>
            <div class="wrap">
                <!-- 사이드 바 -->
                 <div th:replace="~{admins/side-bar :: #side-bar-wrap}"></div>

                <div class="container">
                    <div class="container-margin">
                        <div style="display: flex; justify-content: space-between">
                            <!-- 헤더 -->
                            <div class="search-wrap">
                                    <div class="search-container">
                                        <!-- 검색창 -->
                                        <div class="search-input-container">
                                            <input class="search-input" type="search" name="keyword" placeholder="내용을 입력하세요" style="width: 450px; padding: 11px;">
                                        </div>
                                        <!-- 검색 버튼 누르기 -->
                                    </div>
                                <!-- 검색창 눌렀을 때 나오는 메뉴 -->
                            </div>

                            <div class="delete-box-layout">
                                <div class="delete-box">
                                    <button class="deleteButton delete-button">
                                        삭제하기
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- 내용 섹션 -->
                        <section class="board-info-box-layout">
                            <div class="board-info-box">
                                <div class="board-info-title-box">
                                    <span>문의 게시판 목록</span>
                                </div>

                                <div class="info-table">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th class="checkbox-line">
                                                    <input type="checkbox" id="allSelect" />
                                                </th>
                                                <th>No</th>
                                                <th>문의 제목</th>
                                                <th>작성자 명</th>
                                                <th>작성자 이메일</th>
                                                <th>작성 날짜</th>
                                                <th>문의/신고</th>
                                                <th>답변 여부</th>
                                            </tr>
                                        </thead>
                                        <!--답변 미완료 -->
                                        <tbody class="inquiry-list-container">
                                             <!--   <tr>
                                                    <td class="checkbox-line">
                                                        <input
                                                                type="checkbox"
                                                                class="inquiryCheckbox"
                                                                name="check"/>
                                                    </td>
                                                    <td>1</td>
                                                    <td>
                                                        <a th:href="@{/admins/inquiry/detail}">문의 제목</a>
                                                    </td>
                                                    <td th:text="이종문">
                                                    <td th:text="닉네임">
                                                    </td>
                                                    <td th:text="날짜"></td>
                                                    <td th:text="문의"></td>
                                                    <td style="color:#ff0000">답변 미완료</td>
                                                </tr>
                                                &lt;!&ndash;답변 완료 &ndash;&gt;
                                                <tr>
                                                    <td class="checkbox-line">
                                                        <input
                                                                type="checkbox"
                                                                class="inquiryCheckbox"
                                                                name="check"/>
                                                    </td>
                                                    <td>2</td>
                                                    <td>
                                                        <a th:href="@{/admins/inquiry/answer-detail}">문의 제목</a>
                                                    </td>
                                                    <td th:text="이종문">
                                                    <td th:text="닉네임">
                                                    </td>
                                                    <td th:text="날짜"></td>
                                                    <td th:text="신고" style="color:#ff0000"></td>
                                                    <td style="color:#0fa34c">답변 완료</td>
                                                </tr>-->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </section>

                        <!-- 페이지 부분 -->
                        <div id="paging-wrap">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <script src="/js/admin/checkbox.js"></script>
    <script src="/js/admin/sidemenu.js"></script>
    <script src="/js/admin/modal.js"></script>
    <script src="/js/admin/page.js"></script>
    <script src="/js/admin/inquiry/list.js"></script>
    <script src="/js/admin/pagingBtn.js"></script>

</html>
